<!-- <pre style="background-color: yellow">HOLI</pre> -->
<div class="row mb-3">
  <div class="col-12 text-center d-none d-sm-block">
    <h6>Opciones de entrega</h6>
  </div>
  <div class="col-12 text-center d-block d-sm-none">
    <h4>Opciones de entrega</h4>
  </div>
</div>

<!-- Start::desktop y tablet -->
<div class="row d-none d-sm-flex">
  <div
    class="col-4 d-flex align-items-center justify-content-center"
    (click)="openDeliveryModal()"
    style="cursor: pointer"
  >
    <div class="me-2">
      <i class="fas fa-truck fa-2x" style="color: #00549d"></i>
    </div>
    <div
      style="text-decoration: underline; font-weight: bold; font-size: 1rem"
    >
      Simula<br />tu despacho
    </div>
  </div>

  <div
    class="col-4 d-flex align-items-center justify-content-center"
    (click)="openPickupModal()"
    style="cursor: pointer"
  >
    <div class="me-2">
      <i class="fas fa-map-marker-alt fa-2x" style="color: #00549d"></i>
    </div>
    <div
      style="text-decoration: underline; font-weight: bold; font-size: 1rem"
    >
      Simula tu<br />retiro en tienda
    </div>
  </div>

  <div
    class="col-4 d-flex align-items-center justify-content-center"
    (click)="openModal(today, 'retiroTienda')"
    style="cursor: pointer"
  >
    <div class="me-2">
      <i class="fas fa-box fa-2x" style="color: #00549d"></i>
    </div>
    <div
      style="text-decoration: underline; font-weight: bold; font-size: 1rem"
    >
      Retira<br />HOY
    </div>
  </div>
</div>
<!-- End::desktop y tablet -->

<!-- Start::mobile -->
<div class="row d-flex d-sm-none">
  <div
    class="col-12 d-flex align-items-center justify-content-start mb-3"
    (click)="openDeliveryModal()"
    style="cursor: pointer"
  >
    <div class="me-3" style="min-width: 40px">
      <i class="fas fa-truck fa-2x" style="color: #00549d"></i>
    </div>
    <div
      style="text-decoration: underline; font-weight: bold; font-size: 1rem"
    >
      Simula tu despacho
    </div>
  </div>

  <div
    class="col-12 d-flex align-items-center justify-content-start mb-3"
    (click)="openPickupModal()"
    style="cursor: pointer"
  >
    <div class="me-3" style="min-width: 40px">
      <i class="fas fa-map-marker-alt fa-2x" style="color: #00549d"></i>
    </div>
    <div
      style="text-decoration: underline; font-weight: bold; font-size: 1rem"
    >
      Simula tu retiro en tienda
    </div>
  </div>

  <div
    class="col-12 d-flex align-items-center justify-content-start"
    (click)="openModal(today, 'retiroTienda')"
    style="cursor: pointer"
  >
    <div class="me-3" style="min-width: 40px">
      <i class="fas fa-box fa-2x" style="color: #00549d"></i>
    </div>
    <div
      style="text-decoration: underline; font-weight: bold; font-size: 1rem"
    >
      Retira HOY
    </div>
  </div>
</div>
<!-- End::mobile -->

<!--
<ng-template #despacho>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      <font color="#0063b9">
        <i class="fas fa-truck me-1" style="color: #00549d"></i> Despacho a
        domicilio
      </font>
    </h5>
    <button type="button" class="btn" (click)="Close()">
      <i
        class="fas fa-times-circle"
        style="color: #00549d; font-size: 18px"
      ></i>
    </button>
  </div>
  <div class="modal-body">
    <app-filtro-magico
      [filtros]="filtrosMagicosDespacho"
      [closeOnSelect]="true"
      (onFiltrosCambiados)="onFiltrosCambiadosDespacho($event)"
    >
    </app-filtro-magico>
    <hr />
    <div
      *ngIf="promesas.length == 0 && filtrosDespacho == null"
      class="dia-container-habilitado"
    >
      <div style="font-size: 14px; color: #00549d">
        <i class="fas fa-info-circle fa-lg me-1"></i> Seleccione Localidad
      </div>
    </div>
    <div
      *ngIf="promesas.length == 0 && filtrosDespacho != null"
      class="dia-container-habilitado"
    >
      <div style="font-size: 14px; color: #00549d">
        <i class="fas fa-info-circle fa-lg me-1"></i> Lo sentimos el producto
        no tiene despacho para esta localidad, por favor intente con otra
        dirección
      </div>
    </div>
    <app-fechas-promesas
      *ngIf="!loadPromesas"
      [promesas]="promesas"
    ></app-fechas-promesas>
    <div
      *ngIf="!loadPromesas && promesas.length > 0"
      style="margin-top: 10px; background-color: #efefef"
      class="alert alert-secondary"
      role="alert"
    >
      <strong> 08:00 a 19:00 hrs</strong>
    </div>
  </div>
  <div class="modal-footer justify-content-start">
    <div class="row">
      <div class="col-sm-12" style="font-size: 14px; margin-bottom: 10px">
        <i class="fas fa-info-circle fa-lg me-1" style="color: #00549d"></i> La
        información de disponibilidad puede variar durante la compra.
      </div>
    </div>
  </div>
</ng-template>
-->

<ng-template #today>
  <div class="modal-header">
    <h5 class="modal-title pull-left">
      <font color="#0063b9">
        <i class="fas fa-store me-1" style="color: #00549d"></i> Retira Hoy
      </font>
    </h5>
    <button type="button" class="btn" (click)="Close()">
      <i
        class="fas fa-times-circle"
        style="color: #00549d; font-size: 18px"
      ></i>
    </button>
  </div>
  <div class="modal-body">
    <app-filtro-magico
      [filtros]="filtrosMagicosRetiroTienda"
      [closeOnSelect]="true"
      (onFiltrosCambiados)="onFiltrosCambiadosRetiroTienda($event)"
      (onFiltrosDefectoEjecutados)="onFiltrosCambiadosRetiroTienda($event)"
    >
    </app-filtro-magico>
    <hr />
    <div class="col-sm-12" style="margin-bottom: 10px"></div>
    <div *ngIf="promesas.length == 0" class="dia-container-habilitado">
      <div style="font-size: 14px; color: #00549d">
        <i class="fas fa-info-circle fa-lg me-1"></i> Seleccione Tienda ha
        retirar
      </div>
    </div>

    <div
      *ngIf="!loadPromesas"
      style="margin-top: 10px; background-color: #efefef"
      class="alert alert-secondary"
      role="alert"
    >
      <strong *ngIf="filtrosRetiroTienda?.tienda.horarios">{{
        filtrosRetiroTienda?.tienda.horarios
      }}</strong>
    </div>
  </div>
  <div class="modal-footer justify-content-start">
    <div class="row">
      <div class="col-sm-12" style="font-size: 14px; margin-bottom: 10px">
        <i class="fas fa-info-circle fa-lg me-1" style="color: #00549d"></i> La
        información de disponibilidad puede variar durante la compra.
      </div>
    </div>
  </div>
</ng-template>
