<div class="modal-header">
  <h4 class="modal-title pull-left">Editar Datos</h4>
  <button
    type="button"
    class="btn-close pull-right"
    aria-label="Close"
    (click)="modalEditRef.hide()"
    name="modalEditRef"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="updateProfile()" [formGroup]="formProfile">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label>nombre (*)</label>
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <div class="mb-3 col-md-6">
        <label>apellido (*)</label>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <div class="mb-3 col-md-6">
        <label>correo de contacto (*)</label>
        <input type="text" class="form-control" formControlName="email" />
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label>Telefono (*)</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{
                config.phoneCodes.mobile.code
              }}</span>
            </div>
            <input
              formControlName="phone"
              type="text"
              class="form-control"
              placeholder="Teléfono*"
              maxLength="8"
              min="1"
              max="99999999"
              appPhoneChar
            />
          </div>

          <p
            *ngIf="
              formProfile.controls['phone'].invalid &&
              formProfile.controls['phone'].touched
            "
            class="text-error-form-2"
          >
            El Teléfono ingresado no es válido.
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    class="btn btn-danger"
    (click)="modalEditRef.hide()"
    name="modalEditRef2"
  >
    Cancelar
  </button>
  <button
    class="btn btn-secondary"
    (click)="updateProfile()"
    name="editarPerfil"
    [disabled]="!formProfile.valid"
  >
    Actualizar
  </button>
</div>
