<!-- .block-banner -->
<div class=" block-banner">
    <div class="container container-full p-0  my-3">
        <a [routerLink]="['/','inicio','productos','todos','categoria','lubricantes-y-filtros']" class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop lazyload" style="background-image: url('assets/images/banners/banner-1.jpg')"></div>
            <div class="block-banner__image block-banner__image--mobile lazyload" style="background-image: url('assets/images/banners/banner-1-mobile.jpg')"></div>
            <div class="block-banner__title">Lubricantes  <br class="block-banner__mobile-br"> camiones</div>
            <div class="block-banner__text">Tenemos las mayor variedad a los mejores precios</div>
            <div class="block-banner__button">
                <!-- <span class="btn btn-sm btn-secondary">Ver más</span> -->
            </div>
        </a>
    </div>
</div>
<!-- .block-banner / end -->
