<div class="block-slideshow" id="divSlider">
  <owl-carousel-o
    [options]="options"
    appOwlPreventClick
    [ngClass]="{ item: true }"
  >
    <ng-container *ngFor="let slide of slides; index as i">
      <ng-template carouselSlide [id]="slide.imageClassic">
        @if(i === 0){
        <a [href]="slide.buttonUrl">
          <div
            class="slide_container d-block d-sm-none"
            style="aspect-ratio: 138/139"
          >
            <img [ngSrc]="slide.imageMobile" [alt]="slide.alt" fill priority />
          </div>
          <div
            class="slide_container d-none d-sm-block"
            style="aspect-ratio: 10/3"
          >
            <img
              [ngSrc]="slide.imageClassic"
              [alt]="slide.alt"
              fill
              priority
            />
          </div>
        </a>
        } @else {
        <a [href]="slide.buttonUrl">
          <div
            class="slide_container d-block d-sm-none"
            style="aspect-ratio: 138/139"
          >
            <img [ngSrc]="slide.imageMobile" [alt]="slide.alt" fill />
          </div>
          <div
            class="slide_container mobile d-none d-sm-block"
            style="aspect-ratio: 10/3"
          >
            <img [ngSrc]="slide.imageClassic" [alt]="slide.alt" fill />
          </div>
        </a>
        }
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>

<ng-template #template>
  <div class="modal-header">
    <button
      name="modalRef"
      type="button"
      class="btn-close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="width: 500px !important">
    <p>Estimado Cliente:</p>

    <p>
      Queremos informarte acerca de las nuevas medidas que hemos tomado en
      Implementos, para seguir entregando nuestros servicios de manera segura,
      y para proteger tu salud y la de nuestros trabajadores.
    </p>

    <p>PREFIERE NUESTROS CANALES DIGITALES:</p>

    <ul>
      <li>
        Puedes encontrar todos los productos que necesitas en nuestro sitio web
        www.implementos.cl
      </li>
      <li>
        Si prefieres, también nuestro canal de Televentas está esperando tu
        llamado. Contáctanos vía Whatsapp al +56940125566 / +56932633571
      </li>
    </ul>

    <p>Y SI NECESITAS VISITAR UNA DE NUESTRAS TIENDAS:</p>

    <ul>
      <li>
        Nuestros trabajadores se encuentran siguiendo todos los protocolos
        indicados por el Ministerio de Salud. Además, estamos aplicando un
        sanitizante en nuestras tiendas para minimizar los riesgos de contagio.
      </li>
      <li>
        Recuerda que debes permanecer en el interior de nuestras tiendas sólo
        el tiempo necesario
      </li>
      <li>Mantener al menos 1,5 mt de distancia de otras personas.</li>
    </ul>

    <p>
      Tomaremos todas las medidas necesarias y más, para proteger tu salud y la
      de todo nuestro equipo.
    </p>

    <p>CUIDARNOS ES TAREA DE TODOS. http://www.implementos.cl</p>
  </div>
</ng-template>
