.mt-7 {
  margin-top: 5rem !important;
}

.block-slideshow {
  margin-bottom: 0px !important;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
}

@media (max-width: 800px) and (min-width: 300px) {
  #divSlider {
    margin-top: 21px;
  }
}

.slide_container {
  width: 100%;
  //height: auto;

  // 10:3
  //
}

.slide {
  //object-fit: cover;
}
