.mt-7 {
  margin-top: 5rem !important;
}

.block-slideshow {
  margin-bottom: 0px !important;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
}

.slide_container {
  width: 100%;
  position: relative;
}
