<div class="col-sm-12 p-0" style="margin-top: 60px">
  <div class="cargandoCent text-center" *ngIf="carga">
    <i
      class="fak fa-implementos fa-bounce"
      style="font-size: 64px; color: #0063b9"
    ></i>
    <div
      class="fa-beat-fade"
      style="
        color: #0063b9;
        --fa-beat-fade-opacity: 0.67;
        --fa-beat-fade-scale: 1.075;
      "
    >
      Iniciando ...
    </div>
  </div>
  <ng-container *ngIf="!carga">
    <ng-container *ngFor="let item of pageHome">
      <ng-container *ngIf="item.type === 'banner'">
        <app-banner [banner]="item.data"></app-banner>
        <br />
      </ng-container>
      <ng-container *ngIf="item.type === 'product-box'">
        <app-product-page-home
          *ngIf="!carga"
          [producto]="item.data"
        ></app-product-page-home>
        <br />
        <br />
      </ng-container>
      <ng-container *ngIf="item.type === 'concept-box'">
        <app-caja-concepto [caja_concepto]="item.data"></app-caja-concepto>
        <br />
        <br />
      </ng-container>
      <ng-container *ngIf="item.type === 'blog'">
        <app-blog-home [config]="item.data"> </app-blog-home>
        <br />
        <br />
      </ng-container>
      <ng-container *ngIf="item.type === 'product-list'">
        <app-lista_producto [elemento]="item.data"> </app-lista_producto>
        <br />
        <br />
      </ng-container>
    </ng-container>
  </ng-container>
</div>
