<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of layout.contenido; index as i">
    <ng-template carouselSlide [id]="i.toString()">
      <img
        class="prod-img"
        [src]="slide.url"
        [class.box-height-2]="layout.height === 'height:290px'"
        [class.box-height-12]="
          layout.height === 'height:87px' || layout.height === 'height:116px'
        "
        [class.box-height-8]="layout.height === 'height:174px'"
      />
    </ng-template>
  </ng-container>
</owl-carousel-o>
