.card {
  border-radius: 20px;
  color: #333;
  background: #fff;
  width: 100%;
  border: solid 1px #0063b9;
  padding: 20px;
}

.cart-img {
  width: 4rem;
}

.product-title {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0063b9;
  margin-bottom: 0.2rem;
}

.product-sku {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0063b9;
  margin-bottom: 0.2rem;
}

.btn-secondary {
  border-color: #009579;
  background: #009579;
  border-radius: 4px;
}
