.card-header {
  font-size: 1.1rem;
  font-weight: bold;
  // color: #9E9E9E;
  color: #757575;
}

.big-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.title2 {
  display: block;
  font-size: 0.85rem;
  color: #797979;
  margin-top: 0.7rem;
}

.add {
  position: absolute;
  right: 10px;
}

.centro {
  align-self: center !important;
}

.form-check-input:checked ~ .form-check-label::before {
  color: #fff;
  background-color: green;
  border-color: green;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
