<div
  class="top-bar-categories d-flex align-items-center mb-3"
  [class.p-0]="innerWidth < 450"
  [class.ps-4]="innerWidth < 450"
  (window:resize)="onResize($event)"
>
  <div class="title d-flex align-items-center me-auto">
    <i _ngcontent-serverapp-c11="" class="fas fa-tachometer-alt me-3"></i>
    <h5>Mi perfil</h5>
    <h2 class="float-start">
      Bienvenido(a) {{ usuario.first_name | titlecase }}
      {{ usuario.last_name | titlecase }}
    </h2>
  </div>
</div>

<div class="dashboard row m-0">
  <div class="col-lg-4 mb-3">
    <div class="card h-100">
      <div class="card-header">Datos empresa</div>
      <div class="card-body card-body-min-height-loading">
        <app-loading-element
          [text]="'Cargando información cliente'"
          *ngIf="loadingClient"
        >
        </app-loading-element>

        <div class="img-enterprise"></div>
        <div>
          <span class="title2">Nombre / Razón Social</span
          >{{ dataClient.nombre }}
        </div>
        <div><span class="title2">Rut</span>{{ dataClient.rut }}</div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-3">
    <div class="card h-100">
      <div class="card-header">
        Datos personales
        <div class="float-end">
          <button
            name="openModalEdit"
            (click)="openModalEditProfile()"
            class="btn btn-sm btn-secondary text-center"
            name="editarPerfil"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>

      <div class="card-body card-body-min-height-loading">
        <app-loading-element
          [text]="'Cargando información cliente'"
          *ngIf="loadingClient"
        >
        </app-loading-element>

        <div class="big-title">
          {{ usuario.first_name | titlecase }}
          {{ usuario.last_name | titlecase }}
        </div>

        <div><span class="title2">Usuario</span>{{ usuario.username }}</div>
        <div>
          <span class="title2">Email de Contacto</span>{{ usuario.email }}
        </div>
        <div><span class="title2">Teléfono</span>{{ usuario.phone }}</div>
        <div class="mt-3">
          <a href="javascript:" (click)="openModalPassword()"
            >¿Desea cambiar la contraseña? <i class="fas fa-key"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 mb-3">
    <div class="card h-100">
      <div class="card-header">Preferencias</div>
      <div class="card-body card-body-min-height-loading">
        <app-loading-element
          [text]="'Cargando información cliente'"
          *ngIf="loadingClient"
        >
        </app-loading-element>
        <div class="row mt-3">
          <div class="col-5 title2 m-0"><span>Precios productos:</span></div>
          <div class="col-7">
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                id="iva"
                [checked]="!isVacio(usuario.iva) ? usuario.iva : false"
                [disabled]="cargandoIVA"
                (change)="actualizaIVA()"
                style="cursor: pointer"
              />
              <label
                class="form-check-label"
                for="iva"
                style="
                  cursor: pointer;
                  font-weight: normal;
                  padding-left: 10px;
                "
                >{{
                  !isVacio(usuario.iva)
                    ? usuario.iva
                      ? 'Con IVA'
                      : 'Sin IVA'
                    : 'Con IVA'
                }}</label
              >
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-5 d-flex align-items-center title2 m-0">
            <span>Dirección despacho predeterminada:</span>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="text-start">
              {{
                direccionDespacho?.calle + ' ' + direccionDespacho?.numero
                  | capitalizeFirst
              }}
            </div>
            <div tooltip="Modificar dirección">
              <button
                class="btn btn-sm btn-link"
                (click)="modificarDireccionDespacho()"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 mb-3">
    <div class="card">
      <div class="card-body card-body-min-height-loading">
        <app-loading-element
          [text]="'Cargando direcciones'"
          *ngIf="loadingClient"
        ></app-loading-element>
        <div class="mb-1 row align-items-center">
          <div class="col-6 col-md-6" [class.centro]="innerWidth < 450">
            <div class="card-header">Direcciones</div>
          </div>
          <div
            class="col-6 col-md-6"
            [class.text-end]="innerWidth > 450"
            [class.p-0]="innerWidth < 450"
          >
            <div class="btn-div-group ms-2">
              <div class="btn-div" [class.d-none]="innerWidth < 450">
                Agregar direccion
              </div>
              <span
                (click)="openModalAddAddress()"
                class="icon pointer"
                tooltip="Agrega una nueva dirección"
                [class.add]="innerWidth < 450"
              >
                <i class="fas fa-plus"></i>
              </span>
            </div>
          </div>
        </div>
        <ng-container *ngIf="innerWidth < 450">
          <div class="dropcart__totals" *ngFor="let item of addresses">
            <table>
              <tr>
                <th class="fw-bold titilo-w">Tipo</th>
                <td class="text-start">{{ item.tipo }}</td>
              </tr>
              <tr>
                <th class="fw-bold titilo-w">Comuna</th>
                <td class="text-start">{{ item.comuna }}</td>
              </tr>
              <tr>
                <th class="fw-bold titilo-w">Localidad</th>
                <td class="text-start">{{ item.localidad }}</td>
              </tr>
              <tr>
                <th class="fw-bold titilo-w">Calle</th>
                <td class="text-start">{{ item.calle }}</td>
              </tr>
              <tr>
                <th class="fw-bold titilo-w">Número</th>
                <td class="text-start">{{ item.numero }}</td>
              </tr>
              <tr>
                <th class="fw-bold titilo-w">Depto.</th>
                <td class="text-start">{{ item.deptocasa }}</td>
              </tr>
              <tr>
                <th class="fw-bold titilo-w">Referencia</th>
                <td class="text-start">{{ item.referencia }}</td>
              </tr>
              <tr>
                <th class="fw-bold titilo-w">Acciones</th>
                <td class="text-start">
                  <button
                    *ngIf="item.tipo === 'Despacho'"
                    class="btn btn-sm btn-link p-0 me-3"
                    tooltip="Actualizar dirección"
                    placement="top"
                    container="body"
                    (click)="openModalUpdateAddAddress(item)"
                  >
                    <i class="fas fa-edit fa-lg me-1"></i> Editar
                  </button>
                  <button
                    *ngIf="item.tipo === 'Despacho'"
                    class="btn btn-sm btn-link text-danger p-0"
                    tooltip="Eliminar dirección"
                    placement="top"
                    container="body"
                    (click)="deleteAddress(item)"
                  >
                    <i class="fas fa-trash-alt text-danger fa-lg me-1"></i>
                    Eliminar
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </ng-container>
        <ng-container *ngIf="innerWidth > 450">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Comuna</th>
                <th>Calle</th>
                <th>Número</th>
                <th>Depto.</th>
                <th>Referencia</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of addresses">
                <td>{{ item.tipo }}</td>
                <td>{{ item.comuna }}</td>
                <td>{{ item.calle }}</td>
                <td>{{ item.numero }}</td>
                <td>{{ item.deptocasa }}</td>
                <td>{{ item.referencia }}</td>
                <td>
                  <button
                    *ngIf="item.tipo === 'Despacho'"
                    class="btn btn-sm btn-link p-0 me-3"
                    tooltip="Actualizar dirección"
                    placement="top"
                    container="body"
                    (click)="openModalUpdateAddAddress(item)"
                  >
                    <i class="fas fa-edit fa-lg"></i>
                  </button>
                  <button
                    *ngIf="item.tipo === 'Despacho'"
                    class="btn btn-sm btn-link p-0"
                    tooltip="Eliminar dirección"
                    placement="top"
                    container="body"
                    (click)="deleteAddress(item)"
                  >
                    <i class="fas fa-trash-alt text-danger fa-lg"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-container *ngIf="usuario.user_role != 'compradorb2c'">
    <div class="col-lg-12 mb-3" *ngIf="esEmpresa()">
      <div class="card">
        <div class="card-body card-body-min-height-loading">
          <app-loading-element
            [text]="'Cargando contactos'"
            *ngIf="loadingClient"
          ></app-loading-element>
          <div class="mb-1 row align-items-center">
            <div class="col-6 col-md-6" [class.centro]="innerWidth < 450">
              <div class="card-header">Contactos</div>
            </div>
            <div
              class="col-6 col-md-6"
              [class.text-end]="innerWidth > 450"
              [class.p-0]="innerWidth < 450"
            >
              <div class="btn-div-group ms-2">
                <div class="btn-div" [class.d-none]="innerWidth < 450">
                  Agregar contacto
                </div>
                <span
                  (click)="openModalAddContact()"
                  class="icon pointer"
                  tooltip="Agrega una nueva dirección"
                  [class.add]="innerWidth < 450"
                >
                  <i class="fas fa-plus"></i>
                </span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="innerWidth < 450">
            <div class="dropcart__totals" *ngFor="let item of contacts">
              <table>
                <tr>
                  <th class="fw-bold titilo-w">Rut</th>
                  <td class="text-start">{{ item.contactRut }}</td>
                </tr>
                <tr>
                  <th class="fw-bold titilo-w">Nombre</th>
                  <td class="text-start">
                    {{ item.nombre }} {{ item.apellido }}
                  </td>
                </tr>
                <tr>
                  <th class="fw-bold titilo-w">Cargo</th>
                  <td class="text-start">{{ item.cargo }}</td>
                </tr>
                <tr>
                  <th class="fw-bold titilo-w">Telefono</th>
                  <td class="text-start">
                    <a
                      *ngIf="item.telefono != '0'"
                      [href]="
                        'https://api.whatsapp.com/send?phone=' + item.telefono
                      "
                      target="_blank"
                    >
                      {{ item.telefono }}
                    </a>
                    <span *ngIf="item.telefono == '0'">S/T</span>
                  </td>
                </tr>
                <tr>
                  <th class="fw-bold titilo-w">Email</th>
                  <td class="text-start">
                    <a
                      *ngIf="item.correo != '0'"
                      [href]="'mailto:' + item.correo"
                    >
                      {{ item.correo }}
                    </a>
                    <span *ngIf="item.correo == '0'">S/E</span>
                  </td>
                </tr>
                <tr>
                  <th class="fw-bold titilo-w">Tipo</th>
                  <td class="text-start">
                    <a href="javascript:"> {{ item.contactoDe }}</a>
                  </td>
                </tr>
                <tr>
                  <th class="fw-bold titilo-w">Acciones</th>
                  <td class="text-start">
                    <button
                      *ngIf="item.contactoDe === 'COM'"
                      class="btn btn-sm btn-link p-0 me-3"
                      tooltip="Actualizar contacto"
                      placement="top"
                      container="body"
                      (click)="openModalUpdateContact(item)"
                    >
                      <i class="fas fa-edit fa-lg me-1"></i> Editar
                    </button>
                    <button
                      *ngIf="item.contactoDe === 'COM'"
                      class="btn btn-sm btn-link text-danger p-0"
                      tooltip="Eliminar contacto"
                      placement="top"
                      container="body"
                      (click)="deleteContact(item)"
                    >
                      <i class="fas fa-trash-alt text-danger fa-lg me-1"></i>
                      Eliminar
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </ng-container>
          <ng-container *ngIf="innerWidth > 450">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTriggerContacts"
            >
              <thead>
                <tr>
                  <th>Rut</th>
                  <th>Nombre</th>
                  <th>Cargo</th>
                  <th>Telefono</th>
                  <th>Email</th>
                  <th>Tipo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of contacts">
                  <td class="text-nowrap">{{ item.contactRut }}</td>
                  <td>{{ item.nombre }} {{ item.apellido }}</td>
                  <td>{{ item.cargo }}</td>
                  <td>
                    <a
                      *ngIf="item.telefono != '0'"
                      [href]="
                        'https://api.whatsapp.com/send?phone=' + item.telefono
                      "
                      target="_blank"
                    >
                      {{ item.telefono }}
                    </a>
                    <span *ngIf="item.telefono == '0'">S/T</span>
                  </td>
                  <td>
                    <a
                      *ngIf="item.correo != '0'"
                      [href]="'mailto:' + item.correo"
                    >
                      {{ item.correo }}
                    </a>
                    <span *ngIf="item.correo == '0'">S/E</span>
                  </td>
                  <td>{{ item.contactoDe }}</td>
                  <td>
                    <button
                      *ngIf="item.contactoDe === 'COM'"
                      class="btn btn-sm btn-link p-0 me-3"
                      tooltip="Actualizar contacto"
                      placement="top"
                      container="body"
                      (click)="openModalUpdateContact(item)"
                    >
                      <i class="fas fa-edit fa-lg"></i>
                    </button>
                    <button
                      *ngIf="item.contactoDe === 'COM'"
                      class="btn btn-sm btn-link p-0"
                      tooltip="Eliminar contacto"
                      placement="top"
                      container="body"
                      (click)="deleteContact(item)"
                    >
                      <i class="fas fa-trash-alt text-danger fa-lg"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #modalAddress>
  <app-address-modal
    [modalAddressRef]="modalAddressRef"
    (respuesta)="respuesta($event)"
  ></app-address-modal>
</ng-template>

<ng-template #modalUpdateAddress>
  <app-update-address-modal
    [modalUpdateAddressRef]="modalUpdateAddressRef"
    [direccion]="direccionSeleccionada"
    (respuesta)="respuesta($event)"
  ></app-update-address-modal>
</ng-template>

<ng-template #modalAddContact>
  <app-add-contact-modal
    [modalAddContactRef]="modalAddContactRef"
    (respuesta)="respuesta($event)"
  ></app-add-contact-modal>
</ng-template>

<ng-template #modalUpdateContact>
  <app-update-contact-modal
    [modalUpdateContactRef]="modalUpdateContactRef"
    [contacto]="contactoSeleccionada"
    (respuesta)="respuesta($event)"
  ></app-update-contact-modal>
</ng-template>

<ng-template #modalEdit>
  <app-edit-profile-modal
    [modalEditRef]="modalEditRef"
    (respuesta)="respuesta($event)"
  ></app-edit-profile-modal>
</ng-template>

<ng-template #modalPassword>
  <app-password-modal
    [modalPasswordRef]="modalPasswordRef"
  ></app-password-modal>
</ng-template>
