<div
  class="content"
  style="margin-bottom: 20px; padding: 10px; border: 1px solid #33333338"
>
  <table datatable [dtOptions]="dtOptions" class="row-border" width="100%">
    <thead>
      <tr>
        <th>Ov</th>
        <th>OrdenCompra</th>
        <th>Estado</th>
        <th style="width: 15%">Destino</th>
        <th>Modo Entrega</th>
        <th>Precio</th>
        <th>Fecha compromiso</th>
      </tr>
    </thead>
    <tbody *ngIf="persons?.length != 0">
      <ng-container *ngFor="let person of persons; let i = index">
        <tr>
          <td>
            <div class="text-center">
              <a
                role="button"
                data-bs-toggle="collapse"
                [attr.data-target]="'#expand-' + i"
                [attr.aria-expanded]="true"
                [attr.aria-controls]="'expnd-' + i"
                (click)="buscarOv(person)"
              >
                <i
                  class="far fa-plus-square"
                  style="color: #0063b9; margin-right: 10px; cursor: pointer"
                ></i>
              </a>
              <a
                routerLink="/carro-compra/downloadpdf"
                [queryParams]="{ numero: person.OrdenSeguimiento }"
                target="_blank"
                >{{ person.OrdenSeguimiento }}</a
              >
            </div>
          </td>
          <td>
            <ng-container
              *ngIf="person.OrdenCompra != null && person.OrdenCompra != '0'"
            >
              {{ person.OrdenCompra }}
            </ng-container>
            <ng-container
              *ngIf="person.OrdenCompra == null || person.OrdenCompra == '0'"
            >
              <font color="red">S/OC</font>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="person.EstadoActual == 'RECIBIDO'">
              <span style="white-space: nowrap"
                ><i
                  class="fas fa-check-circle"
                  style="margin-right: 10px; color: green"
                ></i>
                {{ person.EstadoActual | titlecase }}</span
              >
            </ng-container>
            <ng-container
              *ngIf="
                (person.EstadoActual == 'ESPERA CLIENTE' ||
                  person.EstadoActual == 'ENVIADO') &&
                person.ModoEntrega == 'VEN- RPTDA'
              "
            >
              <span style="white-space: nowrap"
                ><i
                  class="fas fa-store"
                  style="margin-right: 10px; color: #0063b9"
                ></i>
                {{ "En tienda" | titlecase }}</span
              >
            </ng-container>
            <ng-container
              *ngIf="
                person.EstadoActual == 'ENVIADO' &&
                person.ModoEntrega == 'VEN- DPCLI'
              "
            >
              <span style="white-space: nowrap"
                ><i
                  class="fa fa-paper-plane"
                  style="margin-right: 10px; color: #0063b9"
                ></i>
                {{ person.EstadoActual | titlecase }}</span
              >
            </ng-container>
            <ng-container *ngIf="person.EstadoActual == 'EN PREPARACIÓN'">
              <span style="white-space: nowrap"
                ><i
                  class="fas fa-cubes"
                  style="color: orangered; margin-right: 10px"
                ></i
                >{{ person.EstadoActual | titlecase }}</span
              >
            </ng-container>
            <ng-container
              *ngIf="
                person.EstadoActual == 'CREADO' ||
                person.EstadoActual == 'ORIGEN'
              "
            >
              <i
                class="far fa-file-alt"
                style="color: grey; margin-right: 10px"
              ></i
              >Creado
            </ng-container>
            <ng-container *ngIf="person.EstadoActual == 'N/A'">
              <font color="red">
                <i class="fas fa-ban" style="margin-right: 10px"></i>
                Cancelada</font
              >
            </ng-container>
          </td>
          <td style="width: 15%">{{ person.TiendaDestino | titlecase }}</td>

          <td>
            <ng-container *ngIf="person.ModoEntrega == 'VEN- RPTDA'">
              <i
                class="fas fa-store"
                style="color: green; font-size: 18px; margin-right: 10px"
              ></i>
              Tienda
            </ng-container>
            <ng-container *ngIf="person.ModoEntrega == 'VEN- DPCLI'">
              <i
                class="fas fa-truck-moving"
                style="color: #0063b9; font-size: 18px; margin-right: 10px"
              ></i>
              Despacho
            </ng-container>
          </td>
          <td style="text-align: right">
            {{ person.MontoNeto | currencyFormat }}
          </td>
          <td>{{ person.FechaCompromisoCliente | date : "dd-MM-yyyy" }}</td>
        </tr>
        <tr [attr.id]="'expand-' + i" class="collapse" aria-expanded="true">
          <td colspan="9">
            <app-page-detalle-traking-ov
              *ngIf="person.expanded"
              [Ov]="person.OrdenSeguimiento"
              [detalle]="person"
            >
            </app-page-detalle-traking-ov>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tbody *ngIf="loadData">
      <tr>
        <td align="center" colspan="9" class="no-data-available">
          <div
            class="col-sm-12"
            style="
              margin-bottom: 20px;
              padding: 10px;
              border: 1px solid #33333338;
            "
          >
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
