.card {
  border: solid 1px #0062b8;
  border-radius: 0.25rem;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
  padding: 30px;
}

.title_card {
  font-size: 18px;
}
