.title {
  font-weight: bold;
  color: wheat;
}
.bg-primary {
  background-color: #094cac !important;
  color: white !important;
}
.title,
.subtitle {
  font-size: 0.875rem;
}

.stock-title {
  margin: 5px 0 5px 0;
  padding: 7px 0;
  font-weight: bold;
  border-bottom: 1px solid #094cac !important;
  background-color: #094cac;
  color: white;
}
