<div class="card shadow-none pt-sm-0">
  <div class="card-body d-flex justify-content-center">
    <div class="col-sm-10">
      <div class="row">
        <app-loading-element *ngIf="loadingData"></app-loading-element>
        <div *ngIf="!loadingData" class="table-responsive">
          <table
            class="table table-sm table-striped"
            style="margin-bottom: 10px"
          >
            <thead>
              <tr>
                <th class="bg-primary" colspan="2">
                  <div class="row">
                    <div class="col-sm text-left">DESPACHO A DOMICILIO</div>
                    <div class="col-sm text-right">
                      <i class="fas fa-truck" style="font-size: 1.2rem"></i>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of stores">
                <tr *ngIf="item.despacho">
                  <th scope="row">{{ item.tienda | titlecase }}</th>
                  <th>{{ item.cantidad }}</th>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

        <div
          *ngIf="!loadingData"
          class="table-responsive"
          style="margin-top: 20px; overflow-y: auto; max-height: 350px"
        >
          <table
            class="table table-sm table-striped"
            style="margin-bottom: 10px"
          >
            <thead>
              <tr>
                <th class="bg-primary" colspan="2">
                  <div class="row">
                    <div class="col-sm text-left">RETIRO EN TIENDA</div>
                    <div class="col-sm text-right">
                      <i class="fas fa-store-alt" style="font-size: 1.2rem"></i>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of stores">
                <tr *ngIf="!item.despacho">
                  <th scope="row">{{ item.tienda | titlecase }}</th>
                  <th>{{ item.cantidad }}</th>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
