.pd7 {
    padding: 7px !important;
}

.hora {
    background-color: #ff9800;
    color: #fff;
    height: 80px;
    padding: 10px;
}

.time {
    margin-top: -10px;
    font-size: 44px;
    text-align: center;
}

.indicadores {
    background-color: #009373;
    color: #fff;
    height: 80px;
}

.tiempo {
    background-color: #0063b9;
    color: #fff;
    height: 80px;
}

.img-clima {
    height: 100px;
    margin-top: -15px;
}