<div class="row">
    <div class="col-8 pd7">
        <div class="indicadores">
            <div class="row h4 pt-2 mb-0">
                <div class="col-4 text-center">DOLAR OBS.</div>
                <div class="col-4 text-center">UF</div>
                <div class="col-4 text-center">IPC</div>
            </div>
            <div class="row h1">
                <div class="col-4 text-center">{{indicadores.dolar}}</div>
                <div class="col-4 text-center">{{indicadores.uf}}</div>
                <div class="col-4 text-center">{{indicadores.ipc}}</div>
            </div>
        </div>
    </div>
    <div class="col-2 pd7">
        <div class="tiempo">
            <div class="row">
                <div class="col-4">
                    <img class="img-clima" *ngIf="clima.imagen" src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{clima.imagen}}.png">
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12 h1 pt-3 mb-0">{{clima.temperatura}}&deg;</div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right pr-4">{{clima.descripcion | titlecase}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 pd7">
        <div class="hora">
            <div>{{fecha}}</div>
            <div class="time">{{reloj}}</div>
        </div>
    </div>
</div>