<div
  class="product-tabs pt-3"
  [ngClass]="{ 'product-tabs--layout--sidebar': withSidebar }"
  (window:resize)="onResize($event)"
>
  <tabset #staticTabs [justified]="true">
    <tab *ngIf="tabsDescription">
      <ng-template tabHeading>
        <div class="product-tabs__item tab-name text-truncate">Descripción</div>
      </ng-template>

      <div class="spec">
        <div class="row">
          <div class="description-product mb-4 col text-left">
            {{ producto.descripcion | capitalizeFirst }}
          </div>
        </div>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>
        <div class="product-tabs__item tab-name text-center text-truncate">
          Detalles técnicos
        </div>
      </ng-template>

      <div class="row2">
        <div
          *ngFor="let a of producto?.atributos; let odd = odd; let even = even"
          [ngClass]="{ odd: odd, even: even }"
          class="space-description m-0 row col-12"
        >
          <div
            class="text-description col-5 text-gray-2"
            [class.col-4]="innerWidth < 427"
            *ngIf="
              a.nombre != 'FICHA PDF' &&
              a.nombre != 'FICHA PDF IM' &&
              a.nombre != 'FICHA PDF PRV' &&
              a.nombre != 'VIDEO' &&
              a.nombre != 'CERTIFICADO PDF' &&
              a.nombre != 'CERTIFICADO PDF 2' &&
              a.nombre != 'CERTIFICADO PDF 3' &&
              a.nombre != 'HOJA DE SEGURIDAD PDF'
            "
          >
            <strong> {{ a.nombre | capitalizeFirst }}</strong>
          </div>
          <div
            class="text-description-label col-7"
            [class.col-7]="innerWidth < 427"
            [class.text-justify]="innerWidth < 427"
            *ngIf="
              a.nombre != 'FICHA PDF' &&
              a.nombre != 'FICHA PDF IM' &&
              a.nombre != 'FICHA PDF PRV' &&
              a.nombre != 'VIDEO' &&
              a.nombre != 'CERTIFICADO PDF' &&
              a.nombre != 'CERTIFICADO PDF 2' &&
              a.nombre != 'CERTIFICADO PDF 3' &&
              a.nombre != 'HOJA DE SEGURIDAD PDF'
            "
          >
            <strong class="bold-false">{{ a.valor | capitalizeFirst }}</strong>
          </div>

          <div
            class="text-description col-5 text-gray-2"
            [class.col-4]="innerWidth < 427"
            *ngIf="
              a.nombre == 'FICHA PDF' ||
              a.nombre == 'CERTIFICADO PDF' ||
              a.nombre == 'CERTIFICADO PDF 2' ||
              a.nombre == 'CERTIFICADO PDF 3' ||
              a.nombre == 'FICHA PDF IM' ||
              a.nombre == 'FICHA PDF PRV' ||
              a.nombre == 'HOJA DE SEGURIDAD PDF'
            "
          >
            {{ a.nombre | capitalizeFirst }}
          </div>
          <div
            class="text-description-label col-7"
            [class.col-7]="innerWidth < 427"
            [class.text-justify]="innerWidth < 427"
            *ngIf="
              a.nombre == 'FICHA PDF' ||
              a.nombre == 'CERTIFICADO PDF' ||
              a.nombre == 'CERTIFICADO PDF 2' ||
              a.nombre == 'CERTIFICADO PDF 3' ||
              a.nombre == 'FICHA PDF IM' ||
              a.nombre == 'FICHA PDF PRV' ||
              a.nombre == 'HOJA DE SEGURIDAD PDF'
            "
          >
            <a href="{{ a.valor }}" target="_blank"
              ><i class="fas fa-file-pdf"></i> VER DOCUMENTO</a
            >
          </div>
        </div>
      </div>
    </tab>
    <tab *ngIf="tabsStock" [disabled]="stock ? false : true">
      <ng-template tabHeading>
        <div
          *ngIf="stock"
          class="product-tabs__item tab-name text-center text-truncate"
        >
          Stock disponible
        </div>
        <div
          *ngIf="!stock"
          class="product-tabs__item tab-name text-center text-truncate"
        >
          Sin stock disponible
        </div>
      </ng-template>
      <div class="row">
        <app-product-stock [sku]="producto.sku"></app-product-stock>
      </div>
    </tab>
  </tabset>
</div>
