.flex-label {
    justify-content: center;
    text-align: center;
}

.tab-name {
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

.spec__disclaimer .link-download {
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0.24px;
    text-align: right;
    color: #228ff5;
    margin-top: 2rem;
    display: inline-block;
}

.text-description {
    font-size: 0.9rem;
    padding-left: 3rem !important;
}

.text-description-label {
    font-size: 0.9rem;
    font-weight: normal;
    padding-left: 3rem !important;
}

.odd {
    background-color: #efefef;
}

.even {
    background-color: #fff;
}

.text-gray-2 {
    color: black !important;
}

.row2 {
    margin-right: 2px !important;
    margin-left: 2px !important;
}

.row {
    margin: 0px !important;
}
.bold-false{
    font-weight: normal !important;
}

strong {
    font-weight: bold !important;
}

@media (max-width: 479px) {
    .text-description {
        padding: 3px !important;
    }
    .text-description-label {
        padding: 3px !important;
        padding-left: 5px !important;
        display: flex;
        align-items: center;
    }
}
