.card-filtro {
    padding: 10px;
    border-radius: 10px;
}

.mensaje {
    width: 100%;
    text-align: start;
    color: #000;
    font-size: 70%;
}
/*******   Tabs  *******************************/
::ng-deep.miTabset {
    background-color: #eaeaea;
    border-radius: 10px;
}

::ng-deep.miTabset ul {
    height: 2.1rem !important;
    font-size: 0.8rem !important;
    background-color: #eee;
    border-radius: 10px;

    li:first-child {
        margin-right: 10px;
    }

    li {
        height: 2.1rem !important;

        a {
            padding: 0.5rem 0.7rem !important;
            height: 2.1rem !important;
            color: #000 !important;
            font-weight: bold;

            background-color: #ccc;
            border: 0px !important;
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
        }

        a.active {
            border: 0px !important;
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;

            span {
                border-bottom: #000 1px solid !important;
                padding-bottom: 7px;
            }
        }

    }
}

::ng-deep.miTabset div.tab-content {
    border: 0 !important;
    padding: 1rem !important;
    background-color: #fff;
    height: 73px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.col-form-label {
    font-size: 0.93rem;
}
