.card {
  border: 1px solid #007bff !important;
  border-radius: 0.25rem;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
  padding: 30px;
}

body,
html,
.text-font {
  font-size: 14px;
  font-family: 'AvenirLTStd', sans-serif;
  background-color: #f0f0f0 !important;
}
