<div class="menu_b2c" [hidden]="Hide_menub2c() ? true : false">
  <div class="row w-100">
    <div class="col-sm-12 d-flex justify-content-start" style="margin-top: 10px; margin-left: -50px"
      (click)="navegar()">
      <div class="site-header__logo">
        <img [src]="logoSrc" alt="logo-implementos" class="lazyload logo-implementos" />
      </div>
    </div>
    <div class="col-sm-12 d-flex justify-content-center align-items-center" style="margin-top: 10px; ">
      <i class="fak fa-menu-14" style=" font-size: 20px"></i>Venta Telefónica 800 330 088
    </div>
  </div>
</div>
<div class="site-header__topbar topbar" style="background-color: #009579; height: 15px"></div>