<div class="site-header">
  <div class="site-header__middle">
    <div class="site-header__logo">
      <a [href]="'/#/inicio'"> </a>
    </div>

    <div class="site-header__search h-100 d-flex">
      <app-header-search-b2b class="col-4"></app-header-search-b2b>

      <div class="col d-flex align-items-center flex-row-reverse">
        <div class="content-btns">
          <app-btn-my-account class="float-start"></app-btn-my-account>
          <app-btn-order-approval></app-btn-order-approval>

          <button
            name="mo-carro"
            class="btn btn-lg btn-secondary btn-rounded me-3"
          >
            Mi Carro
            <app-icon class="icon-cart" name="cart-20" size="24"></app-icon>
          </button>

          <button
            name="bars"
            class="btn btn-lg btn-primary btn-rounded me-3 btn-circle"
          >
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
