.site-header {
  height: 7rem;
  border: solid 1px #e7e7e7;
  background-color: #ffffff;
}

.site-header__logo {
  width: 22rem;
  // background-color: #0063b9 !important;
  margin: 0px;
  border-right: 1px solid #e7e7e7;
}

.site-header__middle,
.site-header__logo {
  height: 100% !important;
}
