<div
  *ngIf="productDef"
  class="alert-cart-content"
  [ngClass]="{ 'alert-cart-content-visible': showAlert }"
>
  <div class="alert-cart-header mb-2">
    Has añadido a tu carro de compras
    <div class="float-right" (mousedown)="hide()">
      <span styke="cursor: pointer"
        ><i class="fas fa-times" style="font-size: 20px; color: grey"></i
      ></span>
    </div>
  </div>
  <hr />
  <div class="d-flex align-items-center content-productDef">
    <div class="col-3 productDef-image">
      <img
        [src]="productDef.image"
        alt="carro-compra"
        class="img-fluid lazyload"
      />
    </div>
    <div class="col-6">
      <span class="d-block text-productDef">{{
        productDef.nombre | capitalizeFirst
      }}</span>
      <span class="text-productDef text-sku"> {{ productDef.sku }}</span>
    </div>
    <div class="col-3 text-center">
      <span class="d-block text-productDef text-center">Cantidad</span>
      <span class="number-productDef">{{ productDef.cantidad }}</span>
    </div>
  </div>
  <hr />
  <div style="margin-bottom: 10px">
    <button
      (click)="go_to()"
      class="btn btn-lg btn-secondary btn-block text-center"
    >
      Ir al carro <i class="fas fa-shopping-cart"></i>
    </button>
  </div>
</div>
