.container-banner-tiendas{
    margin-top: -50px;
}

.block-header__title {




	
     font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        margin-bottom: 5px;
         margin-bottom: 5; 
    
    
    
    }