.block-header__subtitle {
  text-transform: uppercase;
  color: #6c757d;
  text-align: center;
  margin-top: -33px;
}
.text-h3 {
  text-align: center !important;
  font-size: 39px !important;
  font-weight: 900;
  line-height: 53px;
  color: #0d61bb;
}
.text-h5 {
  text-align: center !important;
  font-size: 39px !important;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0px;
  color: #0d61bb;
}

@media (max-width: 769px) {
  .text-h3 {
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 900;
    line-height: 53px;
    color: #0d61bb;
  }
  .text-h5 {
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 900;
    line-height: 53px;
    letter-spacing: 0px;
    color: #0d61bb;
  }
}

.bg-primary {
  background-color: #0063b9 !important;
  color: white !important;
}

.bg-primary:hover {
  background-color: #004b8d !important;
}

.text-primary {
  color: #094cac !important;
}

.block-header {
  // padding-top: 1rem;
  margin-bottom: -20px;
}

.block-header__title {
  margin: 3rem 0.5rem 2.5rem;
  text-align: center;
}

/*
@media (max-width: 479px) {
    .block-header__title{
        margin: 1rem 0.5rem 0.5rem ;
    }
}*/
