<ng-container *ngIf="innerWidth > 426">
  <ng-container *ngIf="banners">
    <div class="container" style="text-align: center">
      <img
        [src]="banners.imageFull"
        width="100%"
        style="max-height: 250px; margin-top: 15px"
        [alt]="banners.alt"
      />
    </div>
  </ng-container>
</ng-container>
<ng-container *ngIf="innerWidth < 427">
  <ng-container *ngIf="banners">
    <img
      [src]="banners.imageMobile"
      width="100%"
      [alt]="banners.alt"
      style="margin-top: 28px; max-height: 180px"
    />
  </ng-container>
</ng-container>
<ng-container *ngIf="innerWidth <= 1025">
  <div [ngStyle]="{ 'margin-top': banners ? '0px' : '30px' }">
    <app-page-header
      [breadcrumbs]="breadcrumbs"
      [textToSearch]="textToSearch"
      [totalRegistros]="PagTotalRegistros"
    >
    </app-page-header>
  </div>
  <div
    class="col-sm"
    style="
      border: 1px solid;
      margin-top: 5px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.1);
    "
  ></div>
</ng-container>

<ng-template #sidebar>
  <div
    class="shop-layout__sidebar d-none d-lg-block d-xl-block"
    style="border-radius: 10px"
  >
    <div class="block block-sidebar">
      <div
        class="block-sidebar__item"
        (window:scroll)="positionScroll($event)"
        [class.top]="scrollPosition > 700"
      >
        <app-widget-filters
          [filtrosOculto]="filtrosOculto"
          [filters]="filters"
          [removableFilters]="removableFilters"
          [removableCategory]="removableCategory"
          [marca_tienda]="marca_tienda"
          (filtersSelected)="updateFilters($event)"
          (clearCategory)="clearCategory()"
          (clearAll)="clearAll()"
        >
        </app-widget-filters>
      </div>
    </div>
  </div>

  <div
    class="shop-layout__sidebar shop-layout-mobile__sidebar"
    [ngClass]="{ active: visibleFilter == true }"
  >
    <div class="block block-sidebar">
      <div class="block-sidebar__item">
        <app-widget-filters
          [filtrosOculto]="filtrosOculto"
          [filters]="filters"
          [removableFilters]="removableFilters"
          [removableCategory]="removableCategory"
          (filtersSelected)="updateFilters($event)"
          (clearCategory)="clearCategory()"
          (clearAll)="clearAll()"
        >
        </app-widget-filters>
      </div>

      <div class="row m-0">
        <div class="col-12">
          <button
            name="visibleFilter"
            class="btn w-100 btn-secondary btn-lg text-center"
            (click)="visibleFilter = false"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="shop-layout container shop-layout--sidebar--start mt-3 site_b2c">
  <ng-container [ngTemplateOutlet]="sidebar"></ng-container>

  <div class="shop-layout__content container">
    <div class="block">
      <app-products-view
        *ngIf="origen"
        [paramsCategory]="paramsCategory"
        [origen]="origen"
        [breadcrumbs]="breadcrumbs"
        [textToSearch]="textToSearch"
        [currentPage]="currentPage"
        [showProductOptions]="true"
        [cargandoCatalogo]="cargandoCatalogo"
        [cargandoProductos]="cargandoProductos"
        [products]="products"
        [limit]="pageSize"
        [totalPaginas]="totalPaginas"
        [desde]="PagDesde"
        [hasta]="PagHasta"
        [totalRegistros]="PagTotalRegistros"
        (cambiaPagina)="paginacionProductos($event)"
        (filterState)="setFilteState($event)"
        (sort)="setSort($event)"
      >
      </app-products-view>
    </div>
  </div>
</div>
