<div
  *ngIf="plana.products.type == 'banner' || plana.products.type == 'portadaImg' || plana.products.type == 'contraPortadaImg'"
>
  <div>
    <img
      class="img-fluid"
      style="height: 225px; width: 100%"
      src="{{plana.products.url}}"
      onError="this.src='./assets/img/place-150x150.png'"
      alt=""
    />
  </div>
</div>

<!-- Relleno en caso de template vacío con intención de dejar ese espacio -->
<div *ngIf="!plana.products.product">
  <div style="padding: 0rem; height: 225px"></div>
</div>

<div
  *ngIf="plana.products.type == 'producto' &&  !folio"
  [ngStyle]="{ 'font-family': folio ? 'Lato, sans-serif': 'AvenirLTStd, sans-serif' }"
>
  <div
    class="container rounded"
    style="
      border-color: rgb(214, 214, 214);
      border-width: 1px;
      border-style: solid;
    "
  >
    <div class="row p-2">
      <div class="col-md-8 col-sm-9">
        <div class="row">
          <div
            class="col-md-12 col-sm-12 p-0"
            [ngClass]="preciosLista.length > 1 ? 'altoDescripcion3Precios' : 'altoDescripcion'"
          >
            <img
              *ngIf="imagen"
              src="https://images.implementos.cl/marcas/small/{{ isString(plana.products.attributes[5].value) | uppercase}}.png"
              alt="{{plana.products.attributes[5].value}}"
              (error)="existeIMG()"
              style="height: 35px"
            />

            <div
              *ngIf="!imagen && plana.products.attributes[5].value != '0'"
              style="
                color: #000000;
                font-size: 14px;
                font-weight: 400 !important;
              "
            >
              {{ plana.products.attributes[5].value }}
            </div>

            <div
              *ngIf="plana.products.attributes[5].value == '0'"
              style="
                color: #000000;
                font-size: 14px;
                font-weight: 400 !important;
              "
            >
              IMPLEMENTOS
            </div>

            <div
              class="col-md-12 card-headertext-center p-0"
              style="
                text-align: left;
                line-height: 1;
                font-size: 17px;
                color: black;
              "
            >
              <b>{{ isString(plana.products.attributes[1].value) | slice:0:32 }}</b>
            </div>
            <div
              class="col-md-12 p-0 mt-1"
              style="
                font-size: 14px;
                text-align: left;
                line-height: 1;
                font-weight: 400;
                color: black;
              "
            >
              {{ isString(plana.products.attributes[2].value) | titlecase | slice:0:100
              }}
            </div>
            <div
              class="col-md-12 p-0 mt-1"
              style="font-size: 14px; text-align: left; color: #000000"
            >
              SKU {{ isString(plana.products.attributes[0].value) | uppercase }}
            </div>
          </div>

          <div
            *ngIf="plana.products.precioEscala && plana.products.cyber === 1"
          >
            <div class="col-md-12 d-flex p-0">
              <img
                style="width: 100px; border-radius: 2px"
                src="assets/images/catalogo/llevaMasPagaMenos/mas_menos_rectangular.svg"
                loading="lazy"
              />
              <div class="div_img_cyber_escala">
                <picture>
                  <img
                    src="https://images.implementos.cl/uploads/cyber/cyber.webp"
                    style="width: 50px"
                    loading="lazy"
                  />
                </picture>
              </div>
            </div>
          </div>

          <div
            *ngIf="plana.products.precioEscala && plana.products.cyber == 0 && precios"
          >
            <img
              style="width: 100px; border-radius: 2px"
              src="assets/images/catalogo/llevaMasPagaMenos/mas_menos_rectangular.svg"
              loading="lazy"
            />
          </div>

          <div
            class="div_img_cyber"
            *ngIf="plana.products.cyber === 1 && !plana.products.precioEscala"
          >
            <picture>
              <img
                src="https://images.implementos.cl/uploads/cyber/cyber.webp"
                style="width: 50px"
                loading="lazy"
              />
            </picture>
          </div>

          <div class="col-md-12 col-sm-12 d-flex p-0">
            <div *ngIf="precios" class="col-md-9 col-sm-9 p-0">
              <div *ngIf="preciosLista.length === 3 && tipo!='Automatico'">
                <table
                  class="table2 p-0 m-0 borderless"
                  style="border-spacing: 0px !important"
                >
                  <tbody>
                    <tr *ngIf="precioEspecial">
                      <td class="p-0 txtNormal">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio con descuento cliente"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr *ngIf="!precioEspecial">
                      <td class="p-0 txtNormal">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio normal"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0 txtNormal">
                        {{ preciosLista[1].desde }} a {{ preciosLista[1].hasta
                        }} UN
                      </td>
                      <td class="p-0 pull-right txtNormal">
                        {{ preciosLista[1].precio | currencyFormat }} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0 txtNormal fw-bold">
                        {{ preciosLista[2].desde }} {{ preciosLista[2].hasta }}
                        UN
                      </td>
                      <td class="p-0 pull-right txtDestacado">
                        {{ preciosLista[2].precio | currencyFormat }} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="preciosLista.length === 3 && tipo=='Automatico'">
                <table
                  class="table2 p-0 m-0 borderless"
                  style="border-spacing: 0px !important"
                >
                  <tbody>
                    <tr *ngIf="precioEspecial">
                      <td class="p-0 txtNormal">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio con descuento cliente"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr *ngIf="!precioEspecial">
                      <td class="p-0 txtNormal">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio normal"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0 txtNormal">
                        {{ preciosLista[1].desde }} a {{ preciosLista[1].hasta
                        }} UN
                      </td>
                      <td class="p-0 pull-right txtNormal">
                        {{ preciosLista[1].precio | currencyFormat }} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0 txtNormal fw-bold">
                        {{ preciosLista[2].desde }} {{ preciosLista[2].hasta }}
                        UN
                      </td>
                      <td class="p-0 pull-right txtDestacado">
                        {{ preciosLista[2].precio | currencyFormat }}
                        <em>
                          <span
                            [ngClass]="(!isVacio(iva) ? (iva ? 'rounded-pill badge-implementos' : 'rounded-pill badge-primary-custom') : 'rounded-pill badge-implementos')"
                          >
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="preciosLista.length === 2 && tipo!='Automatico'">
                <table class="table2 p-0 m-0 borderless">
                  <tbody>
                    <tr>
                      <td class="p-0 txtNormal">&nbsp;</td>
                      <td class="p-0 pull-right txtNormal">&nbsp;</td>
                    </tr>
                    <tr *ngIf="precioEspecial">
                      <td class="p-0 txtNormal">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio con descuento cliente"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr *ngIf="!precioEspecial">
                      <td class="p-0 txtNormal text-start">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio normal"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0 txtNormal fw-bold text-start">
                        {{ preciosLista[1].desde }} {{ preciosLista[1].hasta }}
                        UN
                      </td>
                      <td class="p-0 pull-right txtDestacado">
                        {{ preciosLista[1].precio | currencyFormat }} {{
                        (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') : 'c/iva') }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="preciosLista.length === 2 && tipo=='Automatico'">
                <table class="table2 p-0 m-0 borderless">
                  <tbody>
                    <tr>
                      <td class="p-0 txtNormal">&nbsp;</td>
                      <td class="p-0 pull-right txtNormal">&nbsp;</td>
                    </tr>
                    <tr *ngIf="precioEspecial">
                      <td class="p-0 txtNormal">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio con descuento cliente"
                      >
                        {{ preciosLista[0].precio | currencyFormat}}
                        <em>
                          <span
                            [ngClass]="(!isVacio(iva) ? (iva ? 'rounded-pill badge-implementos' : 'rounded-pill badge-primary-custom') : 'rounded-pill badge-implementos')"
                          >
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>
                    <tr *ngIf="!precioEspecial">
                      <td class="p-0 txtNormal text-start">Unidad</td>
                      <td
                        class="p-0 pull-right txtNormal"
                        title="Precio normal"
                      >
                        {{ preciosLista[0].precio | currencyFormat}}
                        <em>
                          <span
                            [ngClass]="(!isVacio(iva) ? (iva ? 'rounded-pill badge-implementos' : 'rounded-pill badge-primary-custom') : 'rounded-pill badge-implementos')"
                          >
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0 txtNormal fw-bold text-start">
                        {{ preciosLista[1].desde }} {{ preciosLista[1].hasta }}
                        UN
                      </td>
                      <td class="p-0 pull-right txtDestacado">
                        {{ preciosLista[1].precio | currencyFormat }}
                        <em>
                          <span
                            [ngClass]="(!isVacio(iva) ? (iva ? 'rounded-pill badge-implementos' : 'rounded-pill badge-primary-custom') : 'rounded-pill badge-implementos')"
                          >
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div *ngIf="preciosLista.length === 1">
                <table class="table2 p-0 m-0 borderless">
                  <tbody>
                    <tr *ngIf="!plana.products.cantidad">
                      <td class="p-0 txtNormal">&nbsp;</td>
                      <td class="p-0 pull-right txtNormal">&nbsp;</td>
                    </tr>
                    <tr *ngIf="!(precioEspecial && tipo==='Automatico')">
                      <td class="p-0 txtNormal">&nbsp;</td>
                      <td class="p-0 pull-right txtNormal">&nbsp;</td>
                    </tr>

                    <tr *ngIf="precioEspecial && tipo==='Automatico'">
                      <td class="p-0 txtNormal fw-bold text-start">&nbsp;</td>
                      <td
                        class="p-0 pull-right product-card__old-price"
                        title="Precio con descuento cliente"
                      >
                        {{ this.plana.products.precio|currencyFormat}}
                        <em>
                          <span class="">
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>

                    <tr *ngIf="(precioEspecial && tipo==='Automatico')">
                      <td class="p-0 txtNormal fw-bold text-start">Unidad</td>
                      <td
                        class="p-0 pull-right txtDestacado"
                        title="Precio con descuento cliente"
                      >
                        {{ preciosLista[0].precio | currencyFormat}}
                        <em>
                          <span
                            [ngClass]="(!isVacio(iva) ? (iva ? 'rounded-pill badge-implementos' : 'rounded-pill badge-primary-custom') : 'rounded-pill badge-implementos')"
                          >
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>
                    <tr *ngIf="(!precioEspecial && tipo==='Automatico')">
                      <td
                        class="p-0 txtNormal fw-bold text-start"
                        *ngIf="plana.products.cantidad"
                      >
                        Precio
                      </td>

                      <td
                        class="p-0 txtNormal fw-bold text-start"
                        *ngIf="!plana.products.cantidad"
                      >
                        Unidad
                      </td>
                      <td
                        class="p-0 pull-right txtPrecioNormal"
                        title="Precio normal"
                      >
                        <span>
                          {{ preciosLista[0].precio | currencyFormat}}
                        </span>
                        <span
                          style="font-size: xx-large"
                          class="text-start"
                          *ngIf="plana.products.cantidad"
                          >*</span
                        >
                        <em>
                          <span
                            [ngClass]="(!isVacio(iva) ? (iva ? 'rounded-pill badge-implementos' : 'rounded-pill badge-primary-custom') : 'rounded-pill badge-implementos')"
                          >
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>
                    <tr>
                      <td *ngIf="plana.products.cantidad" colspan="2">
                        <span style="font-size: xx-small">
                          *precio sujeto a la cantidad minima de
                          {{plana.products.cantidad}}</span
                        >
                      </td>
                    </tr>
                    <tr *ngIf="(precioEspecial && tipo!='Automatico')">
                      <td class="p-0 txtNormal fw-bold text-start">Unidad</td>
                      <td
                        class="p-0 pull-right txtDestacado"
                        title="Precio con descuento cliente"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} c/iva
                      </td>
                    </tr>
                    <tr *ngIf="(!precioEspecial && tipo!='Automatico')">
                      <td class="p-0 txtNormal fw-bold text-start">Unidad</td>
                      <td
                        class="p-0 pull-right txtPrecioNormal"
                        title="Precio normal"
                      >
                        {{ preciosLista[0].precio | currencyFormat}} c/iva
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- COMPARTIR Y CARRO -->
            <div
              class="col-md-3 col-sm-3 p-0 pb-2"
              *ngIf="!plana.products.cantidad"
            >
              <div class="row h-100 w-100" style="align-items: flex-end">
                <div class="col-md-12 d-flex">
                  <app-icon
                    *ngIf="carro"
                    name="cart-20"
                    size="18"
                    class="float-start icon-chat shadow-lg ps-2 pt-2 pointer me-3 mt-2"
                    (click)="addToCart(plana.products)"
                  ></app-icon>
                  <app-share-button
                    *ngIf="carro"
                    [producto]="plana.products"
                    class="mt-2"
                    style="margin-top: 5px !important"
                    [catalogo]="true"
                    style="font-size: 20px"
                  ></app-share-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="plana.products.images; else anterior">
        <div class="col-md-4 col-sm-3 justify-content-between pt-3">
          <img
            *ngIf="plana.products.images[0][0] == 1"
            class="img-fluid"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-1.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />

          <img
            *ngIf="plana.products.images[0][1] == 1"
            class="img-fluid"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-2.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />

          <img
            *ngIf="plana.products.images[0][2] == 1"
            class="img-fluid"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-3.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />
        </div>
      </ng-container>

      <ng-template #anterior>
        <div
          class="col-md-4 col-sm-3 justify-content-between pt-3"
          style="height: 225px"
        >
          <img
            class="img-fluid"
            style="width: 11rem; height: 11rem"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-1.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div
  class="p-1"
  style="min-height: 150px"
  *ngIf="plana.products.type == 'producto' &&  folio"
  [ngStyle]="{ 'font-family': folio ? 'Lato, sans-serif': 'AvenirLTStd, sans-serif' }"
>
  <div
    class="container rounded"
    style="
      border-color: rgb(214, 214, 214);
      border-width: 1px;
      border-style: solid;
      border-radius: 26px !important;
      max-height: 146px;
      min-height: 144px;
      min-width: 632px;
    "
  >
    <div class="row py-2 px-4">
      <div class="col-md-9 col-sm-9">
        <div class="row">
          <div class="col-md-12 col-sm-12 p-0">
            <div
              class="col-md-12 card-headertext-center p-0"
              style="
                text-align: left;
                line-height: 1;
                font-size: 20px;
                color: black;
                height: 35px !important;
              "
            >
              <b
                >{{ isString(plana.products.attributes[1].value) | slice:0:32 |
                capitalizeFirst }}</b
              >
              <img
                *ngIf="imagen"
                src="https://images.implementos.cl/marcas/small/{{isString(plana.products.attributes[5].value) | uppercase}}.png"
                alt="{{plana.products.attributes[5].value}}"
                (error)="existeIMG()"
                style="height: 35px"
              />
              <span
                *ngIf="!imagen && plana.products.attributes[5].value != '0'"
                style="
                  color: #0063b9;
                  font-size: 10px;
                  font-weight: bold !important;
                "
                >&nbsp;{{ plana.products.attributes[5].value }}</span
              >
              <span
                *ngIf="plana.products.attributes[5].value == '0'"
                style="
                  color: #0063b9;
                  font-size: 10px;
                  font-weight: bold !important;
                "
              >
                &nbsp;IMPLEMENTOS
              </span>
            </div>
            <div
              class="col-md-12 p-0 mt-1"
              style="
                font-size: 12px;
                text-align: left;
                line-height: 1;
                font-weight: 400;
                color: #000000;
              "
            >
              {{ isString(plana.products.attributes[2].value) | slice:0:60 |
              capitalizeFirst }}
            </div>
            <div
              class="col-md-12 p-0 mt-1"
              style="font-size: 10px; text-align: left; color: #000000"
            >
              <span>
                {{ isString(plana.products.attributes[0].value) | uppercase }}</span
              >
            </div>
          </div>

          <div class="col-md-12 col-sm-12 d-flex p-0">
            <div *ngIf="precios" class="col-md-9 col-sm-9 p-0">
              <div>
                <table class="table2 p-0 m-0 borderless">
                  <tbody>
                    <tr class="pt-1">
                      <td
                        class="p-0 pull-right"
                        style="font-size: x-large"
                        title="Precio normal"
                        colspan="2"
                        [ngClass]="(plana.products.precio || 0) > (plana.products.precioEsp || 0)?'txtDestacado':'txtNormal'"
                      >
                        <span>
                          {{ plana.products.precioEsp | currencyFormat}}
                        </span>
                        <span
                          style="font-size: large"
                          class="text-start"
                          *ngIf="plana.products.cantidad"
                          >*&nbsp;</span
                        >
                        <em>
                          <span
                            style="font-size: x-small"
                            [ngClass]="(!isVacio(iva) ? (iva ? 'rounded-pill badge-implementos' : 'rounded-pill badge-primary-custom') : 'rounded-pill badge-implementos')"
                          >
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>
                    <tr
                      *ngIf="(plana.products.precio || 0) > (plana.products.precioEsp || 0)"
                    >
                      <td
                        class="p-0 pull-right product-card__old-price"
                        title="Precio con descuento cliente"
                        style="font-size: medium"
                      >
                        {{plana.products.precio|currencyFormat}}
                        <em>
                          <span class="" style="font-size: x-small">
                            {{ (!isVacio(iva) ? (iva ? 'c/iva' : 'neto') :
                            'c/iva') }}</span
                          >
                        </em>
                      </td>
                    </tr>

                    <tr>
                      <td *ngIf="plana.products.cantidad" colspan="2">
                        <span style="font-size: xx-small; color:#000000">
                          *precio sujeto a la cantidad minima de
                          {{plana.products.cantidad}}</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- COMPARTIR Y CARRO -->
          </div>
        </div>
      </div>

      <ng-container *ngIf="plana.products.images; else anterior">
        <div
          class="col-md-3 col-sm-3 justify-content-between p-0 m-0 align-items"
          style="display: flex"
        >
          <img
            *ngIf="plana.products.images[0][0] == 1"
            class="img-fluid"
            style="max-width: 70% !important; max-height: 130px"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-1.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />

          <img
            *ngIf="plana.products.images[0][1] == 1"
            class="img-fluid"
            style="max-width: 70% !important; max-height: 130px"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-2.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />

          <img
            *ngIf="plana.products.images[0][2] == 1"
            class="img-fluid"
            style="max-width: 70% !important; max-height: 130px"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-3.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />
        </div>
      </ng-container>
      <ng-template #anterior>
        <div
          class="col-md-4 col-sm-3 justify-content-between pt-3"
          style="height: 225px"
        >
          <img
            class="img-fluid"
            style="width: 11rem; height: 11rem"
            src="https://images.implementos.cl/img/450/{{plana.products.product}}-1.jpg"
            onError="this.src='./assets/images/catalogo/place-150x150.png'"
            alt=""
          />
        </div>
      </ng-template>
    </div>
  </div>
</div>
