<ul class="mobile-links mobile-links--level--{{ level }}" appCollapse>
  <li *ngFor="let link of links">
    <div
      class="mobile-links__item"
      appCollapseItem="mobile-links__item--open"
      #item="appCollapseItem"
    >
      <div class="mobile-links__item-title">
        <a
          *ngIf="titulo"
          class="mobile-links__item-link"
          (click)="onItemClick(link)"
          [routerLink]="link.url"
          style="font-size: 13px"
        >
          <i *ngIf="link.icon" class="{{ link.icon }} me-2"></i>

          {{ link.label }}
        </a>
        <a
          *ngIf="!titulo"
          class="mobile-links__item-link"
          (click)="onItemClick(link)"
          [routerLink]="link.url"
        >
          <i *ngIf="link.icon" class="{{ link.icon }} me-2"></i>

          {{ link.label | capitalizeFirst }}
        </a>
        <button
          name="item"
          *ngIf="link.menu?.length"
          class="mobile-links__item-toggle"
          type="button"
          (click)="item.toggle()"
        >
          <app-icon
            class="mobile-links__item-arrow"
            name="arrow-rounded-down-12x7"
            size="12x7"
          ></app-icon>
        </button>
        <button
          name="toggle"
          *ngIf="link.items?.length"
          class="mobile-links__item-toggle"
          type="button"
          (click)="item.toggle()"
        >
          <app-icon
            class="mobile-links__item-arrow"
            name="arrow-rounded-down-12x7"
            size="12x7"
          ></app-icon>
        </button>
      </div>
      <div
        *ngIf="link.menu?.length"
        class="mobile-links__item-sub-links"
        appCollapseContent
      >
        <app-mobile-categorias
          [links]="link.menu"
          [level]="level + 1"
          (itemClick)="itemClick.emit($event)"
        >
        </app-mobile-categorias>
      </div>
      <div
        *ngIf="link.items?.length"
        class="mobile-links__item-sub-links"
        appCollapseContent
      >
        <app-mobile-categorias
          [links]="link.items"
          [level]="level + 1"
          (itemClick)="itemClick.emit($event)"
        >
        </app-mobile-categorias>
      </div>
    </div>
  </li>
</ul>
