<div class="container container-block">
  <app-block-header [header]="header" [groups]="groups" [arrows]="false" 
    (groupChange)="groupChange.emit($event)"></app-block-header>



  <ul class="block-header__groups-list ng-star-inserted block-filter-two">
    <li *ngFor="let item of categories" [ngClass]="{'btn-subcategory-active':  item.active}" class="btn-subcategory" (click)="selSubcategory(item)">
      {{item.title}}
    </li>
  </ul>
  <div class="clearfix"></div>

  <app-products-view [showProductOptions]="false" [cargandoCatalogo]="cargandoCatalogo" [products]="products"  grid="grid-5-full">
  </app-products-view>


</div>