.modal-header {
    padding: 0.5rem 1rem;
    align-items: center;

    .close {
        margin: 0;
        padding: 0 0.5rem;
    }
}

.modal-body {
    font-size: 15px;
    min-height: auto !important;
}

.max-caracteres {
    width: 50%;
    text-align: end;
    font-size: 75%;
}
