<div class="site-header" *ngIf="Hidebar()">
  <app-header-topbar />

  <div
    class="d-flex search-group-bar align-items-center"
    id="sticky_header_b2c"
  >
    <div class="p-0">
      <div class="site-header__logo">
        <a [routerLink]="['/', 'inicio']">
          <img
            height="110"
            [src]="logoSrc"
            alt="logo-implementos"
            class="lazyload"
          />
        </a>
      </div>
    </div>

    <div class="col p-0">
      <div class="site-header__middle">
        <div class="site-header__search">
          <app-header-search></app-header-search>
        </div>
      </div>
    </div>
  </div>

  <div class="header_nav" id="sticky_header_b2c_nav"></div>
</div>

<div class="site-header" *ngIf="!Hidebar()">
  <app-header-topbar [desde]="getDesde()" />
</div>
