.menu i{
    margin-right: 25px;
}

.menu {
    @media (max-width: 576px) {
        max-height: 75vh;
    }

    @media (min-width: 577px) {
        max-height: 75vh;
        overflow-y: auto;
    }
}
