<div class="modal-header">
  <h5 class="modal-title pull-left">
    <span style="font-size: 16px">Guardar en...</span>
  </h5>
  <button
    name="modalRef"
    type="button"
    class="btn-close pull-right"
    aria-label="Close"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-4">
  <div
    class="form-check align-items-center d-flex"
    *ngFor="let item of wishlists"
  >
    <div class="flex-shrink-1 flex-grow-1">
      <input
        type="checkbox"
        class="form-check-input listas"
        [checked]="item.checked"
        [id]="'ID-' + item.id"
        (change)="seleccionaLista(item)"
      />
      <label class="form-check-label" [for]="'ID-' + item.id">{{
        item.name
      }}</label>
    </div>
  </div>
  <div *ngIf="!wishlists.length">No tiene listas creadas</div>
</div>

<div class="modal-footer">
  <div *ngIf="!creatingWishlist" class="col-12">
    <button
      class="btn btn-link btn-sm w-100 text-decoration-none"
      (click)="creatingWishlist = !creatingWishlist"
    >
      <i class="fas fa-plus fa-lg fa-fw me-2"></i>Crear nueva lista
    </button>
  </div>

  <!-- Start::crear lista de deseos -->
  <div *ngIf="creatingWishlist" class="col-12">
    <div class="input-group">
      <input
        type="search"
        class="form-control form-control-sm"
        maxlength="40"
        (keyup)="ingresaNombre()"
        (keydown)="ingresaNombre()"
        (keypress)="ingresaNombre()"
        placeholder="Escriba el nombre de la lista"
        aria-label="nombre"
        [(ngModel)]="nombre"
      />
      <div class="w-100 d-flex justify-content-end mt-1">
        <div class="validacion d-none">Ingrese un nombre</div>
        <div class="max-caracteres">{{ nombre.length }} / 40</div>
      </div>
    </div>
    <button
      class="btn btn-link btn-sm mt-2 float-end text-decoration-none"
      (click)="crearLista()"
    >
      Crear
    </button>
  </div>
  <!-- End::crear lista de deseos -->
</div>
