<div class="row">
  <div class="col-sm-4 mb-2 mb-sm-0 pl-0 pr-0 pr-sm-2">
    <div class="table">
      <div class="list-group" style="cursor: pointer; color: #0063b9">
        <a class="list-group-item list-group-item-action">
          <div class="col-sm-12" style="padding: 0px">
            <i
              class="fas fa-store"
              style="margin-right: 10px; color: #0063b9"
            ></i>
            {{ tiendaSeleccionada.direccion }}
          </div>
          <hr />
          <div class="col-sm-12" style="padding: 0px">
            <font color="red"> {{ stock }} UNIDADES Disponibles</font>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-8 pr-0 pl-0 pl-sm-2">
    <div id="map" style="border: 1px solid #00549d"></div>
  </div>
</div>
