.home {
    background: #191919 !important;
}

.bg {
    width: 1270px;
    position: absolute;
}

.descripcion-radio {
    font-size: 9px;
    text-align: justify;
    line-height: 11px;
}

.invalid-feedback {
    display: block !important;
    margin: 0px !important;
    font-weight: bold !important;
    position: absolute !important;
}

.btn-custom {
    border-radius: 4px;
}

.footer {
    font-size: 9px;
    text-align: center;
}

.col-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.verMas {
    color: #fff;
}

.verMas:hover {
    color: #005db9;
    text-decoration: underline;
}
