<div class="  ">
  <div class="top-bar-categories d-flex align-items-center">
    <div class="title d-flex align-items-center mr-auto">
      <i _ngcontent-serverapp-c11="" class="fas fa-tv mr-3"></i>
      <h5>Banner Home</h5>
    </div>
  </div>

  <div class="card-body position-relative">
    <app-loading-element *ngIf="loadingData"></app-loading-element>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="float-right">
          <button
            name="openForm"
            class="btn btn-success"
            (click)="openForm(template)"
          >
            Crear Diapositiva
          </button>
        </div>
      </div>
    </div>

    <div class="table-responsive-sm" style="margin-top: 20px">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="row-border hover"
      >
        <thead class="table-dark">
          <tr>
            <th>Orden</th>
            <th>Titulo</th>
            <th>Alt</th>
            <th>URL</th>
            <th>Imágenes</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let slide of slides">
            <td>{{ slide.order }}</td>
            <td>{{ slide.title }}</td>
            <td>{{ slide.alt }}</td>
            <td>
              <a href="{{ slide.btn_url }}" target="_blank">{{
                slide.btn_url
              }}</a>
            </td>
            <td align="center" nowrap>
              <a href="{{ slide.image_classic }}" target="_blank">Escritorio</a
              >&nbsp;&nbsp;
              <a href="{{ slide.image_full }}" target="_blank"
                >Escritorio Full</a
              ><br />
              <a href="{{ slide.image_tablet }}" target="_blank">Tablet</a
              >&nbsp;&nbsp;
              <a href="{{ slide.image_mobile }}" target="_blank">Mobile</a
              ><br />
            </td>
            <td align="center" nowrap>
              <button
                name="selectUploads"
                class="btn btn-success ms-auto"
                (click)="
                  selectUploads(slide); openModalUploadImage(template_upload)
                "
                style="margin-right: 5px"
              >
                Reemplazar
              </button>
              <button
                name="editar"
                class="btn btn-secondary"
                (click)="select(slide); openForm(template)"
                style="margin-right: 5px"
              >
                Editar
              </button>
              <button
                class="btn btn-warning"
                (click)="select(slide); delete(slide)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #template_upload_new>
  <div style="width: 1024px; padding: 20px; background-color: #c0c0c0">
    <form
      [formGroup]="formUploads"
      (ngSubmit)="onSubmitUploads(formUploads.value)"
    >
      <img [src]="image1" width="200px" class="lazyload" /> <br /><br />
      <img [src]="image2" width="200px" class="lazyload" /> <br /><br />
      <img [src]="image3" width="200px" class="lazyload" /> <br /><br />
      <img [src]="image4" width="200px" class="lazyload" /> <br /><br />

      <input
        type="hidden"
        formControlName="image_classic"
        [src]="slide.image_classic"
      />
      <input
        type="hidden"
        formControlName="image_full"
        [src]="slide.image_full"
      />
      <input
        type="hidden"
        formControlName="image_tablet"
        [src]="slide.image_tablet"
      />
      <input
        type="hidden"
        formControlName="image_mobile"
        [src]="slide.image_mobile"
      />

      <button
        name="Actualizar"
        type="submit"
        class="btn btn-success"
        *ngIf="this.editing == true"
        [disabled]="form.invalid"
      >
        Actualizar Imágenes
      </button>
    </form>
  </div>
</ng-template>

<ng-template #template_upload>
  <form [formGroup]="formUploads" (ngSubmit)="submitForm()">
    <!-- Progress Bar -->
    <div class="progress form-group" *ngIf="percentDone">
      <div
        class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        [style.width.%]="percentDone"
      ></div>
    </div>

    <div class="modal-header">
      <h4 class="modal-title pull-left">Reemplazar Imágenes</h4>
      <button
        name="modalRef"
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="progress form-group">
        <input
          type="radio"
          value="slide.image_classic"
          formControlName="selImgType"
          (click)="imgType = 'image_classic'"
        />
        ESCRITORIO
      </div>

      <div class="progress form-group">
        <input
          type="radio"
          value="slide.image_full"
          formControlName="selImgType"
          (click)="imgType = 'image_full'"
        />
        ESCRITORIO FULL
      </div>

      <div class="progress form-group">
        <input
          type="radio"
          value="slide.image_tablet"
          formControlName="selImgType"
          (click)="imgType = 'image_tablet'"
        />
        TABLET
      </div>

      <div class="progress form-group">
        <input
          type="radio"
          value="slide.image_mobile"
          formControlName="selImgType"
          (click)="imgType = 'image_mobile'"
        />
        MOVIL
      </div>

      <!-- Image Preview -->
      <div class="form-group">
        <div class="preview" *ngIf="preview && preview !== null">
          <img
            [src]="preview"
            style="width: 400px"
            [alt]="formUploads.value.name"
          />
        </div>
      </div>

      <!-- File Input -->
      <div class="form-group">
        <input type="file" (change)="uploadFile($event)" />
      </div>

      <!-- Submit -->
      <div class="form-group">
        <button name="Subir" class="btn btn-danger btn-block btn-lg">
          Subir
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Diapositiva</h4>
    <button
      name="modalRef2"
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="form-group">
        <input
          type="hidden"
          class="form-control"
          id="_id"
          formControlName="_id"
        />
      </div>
      <div class="form-group">
        <label for="zona">Orden</label>
        <input
          type="text"
          class="form-control"
          id="order"
          formControlName="order"
          placeholder="Ingrese Orden"
        />
      </div>
      <div class="form-group">
        <label for="zona">Título</label>
        <input
          type="text"
          class="form-control"
          id="title"
          formControlName="title"
          placeholder="Ingrese Título"
        />
      </div>
      <div class="form-group">
        <label for="direccion">Texto</label>
        <input
          type="text"
          class="form-control"
          id="text"
          formControlName="text"
          placeholder="Ingrese Texto"
        />
      </div>
      <div class="form-group">
        <label for="fono">Texto Alternativo (ALT)</label>
        <input
          type="text"
          class="form-control"
          id="alt"
          formControlName="alt"
          placeholder="Ingrese Texto Alternativo (ALT)"
        />
      </div>
      <div class="form-group">
        <label for="email">URL:</label>
        <input
          type="email"
          class="form-control"
          id="btn_url"
          formControlName="btn_url"
          placeholder="Ingrese URL"
        />
      </div>

      <button
        name="salir"
        type="button"
        class="btn btn-secondary"
        aria-label="Close"
        (click)="modalRef.hide(); clearForm()"
      >
        Salir
      </button>
      &nbsp;&nbsp;

      <button
        name="Crear"
        type="submit"
        class="btn btn-success"
        *ngIf="this.editing == false"
        [disabled]="form.invalid"
      >
        Crear Diapositiva
      </button>
      <button
        name="update"
        type="submit"
        class="btn btn-success"
        *ngIf="this.editing == true"
        [disabled]="form.invalid"
      >
        Actualizar Diapositiva
      </button>
    </form>
  </div>
</ng-template>
