<div class="footer-newsletter" *ngIf="innerWidth > 400">
  <h5 class="footer-newsletter__title d-none d-lg-block">
    Noticias y Novedades
  </h5>

  <div class="footer-newsletter__text d-none d-lg-block">
    Visita nuestras redes sociales y mantente informados acerca de nuestras
    ofertas, noticias y eventos.
  </div>
  <div class="footer-newsletter__text footer-newsletter__text--social">
    Síguenos
  </div>

  <ul class="footer-newsletter__social-links">
    <li
      class="footer-newsletter__social-link footer-newsletter__social-link--facebook"
    >
      <a
        href="https://www.facebook.com/IMPLEMENTOSREPUESTOS/"
        rel="noopener"
        target="_blank"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>

    <li
      class="footer-newsletter__social-link footer-newsletter__social-link--instagram"
    >
      <a
        href="https://www.instagram.com/implementosrepuestos/"
        target="_blank"
        rel="noopener"
      >
        <i class="fab fa-instagram"></i>
      </a>
    </li>

    <li
      class="footer-newsletter__social-link footer-newsletter__social-link--rss"
    >
      <a
        href="https://www.linkedin.com/company/epysa-implementos/about/"
        target="_blank"
        rel="noopener"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </ul>
</div>
