<div class="p-5 container-dropdown container-dropdown-vehicule-application">
  <h5>ENCUENTRA EL REPUESTO O IMPLEMENTO QUE BUSCAS <br> PARA TU VEHÍCULO DE FORMA EFECTIVA</h5>


  <div class="d-flex">

    <div class="col px-1">
      <ng-select [clearable]="false" [searchable]="false" placeholder="AÑO" [items]="anios" bindLabel="nombre"
        bindValue="id" class="form-control form-control-lg input-map-select">
      </ng-select>
    </div>
    <div class="col px-1">
      <ng-select [clearable]="false" [searchable]="false" placeholder="MARCA" [items]="anios" bindLabel="nombre"
        bindValue="id" class="form-control form-control-lg input-map-select">
      </ng-select>  
    </div>

    <div class="col px-1">
      <ng-select [clearable]="false" [searchable]="false" placeholder="MODELO" [items]="anios" bindLabel="nombre"
        bindValue="id" class="form-control form-control-lg input-map-select">
      </ng-select>
    </div>
    
        <button class="search__button ml-1 " type="button" >
            <app-icon name="search-20" size="20"></app-icon>
          </button>
 

    

    


  </div>


</div>