.prev-next {
  color: #0063b9;
  font-size: 11px;
  padding-right: 30px;
  padding-left: 30px;
}

table {
  border: none;
}

.table-responsive {
  display: block;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.prev-next:hover {
  cursor: pointer;
  color: #0063b9;
}

table tbody td,
table thead th {
  border-bottom: none !important;
}

.title-container {
  display: table-cell;
  vertical-align: middle;
}

.title-container h5 {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.tabla-dias td {
  padding-top: 0px !important;
  padding-bottom: 4px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
  text-align: center;
}

.dia-semana {
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 4px;
}

.dia-container-habilitado > div {
  width: 100% !important;
  height: 70px !important;
  padding: 8px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 12px;
}

.dia-container-habilitado > div > div {
  padding: 8px;
  width: 100% !important;
  height: 70px !important;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.dia-container-activado {
  padding-bottom: 8px;

  display: block;
  text-align: center;

  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  color: #0063b9;
}

.dia-container-deshabilitado > div {
  width: 100% !important;
  height: 70px !important;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  color: #0063b9;
  border-radius: 4px;
  padding: 8px;
}

.dia-container-deshabilitado > div > div {
  padding-top: 8px;
  padding-bottom: 15px;
  width: 100% !important;
  height: 70px !important;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 11px;
}

.wrapper {
  width: 100%;
  padding: 20px;
  height: 150px;
}
