<div class="jumbotron">
  <!-- main form //-->
  <form [formGroup]="formUsuario" (ngSubmit)="onSubmit(formUsuario.value)">
    <div class="form-subtitulo">Datos Empresa</div>

    <div class="form-group row">
      <label for="fcc4chkcliente" class="labelGiroCC col-md-3" id="labelGiroCC"
        >Tipo de Cliente</label
      >
      <div class="col-md-9">
        <div class="form-check form-check-inline">
          <div class="pretty p-icon p-round">
            <input
              type="radio"
              name="fcc4chkcliente"
              formControlName="fcc4chkcliente"
              ngModelOptions="{standalone: true}"
              id="fcc4chkcliente0"
              value="0"
              title="Empresa"
              (click)="cambiaTipo(TIPO_EMPRESA)"
            />
            <div class="state p-primary">
              <i class="icon fa fa-check"></i><label></label>
            </div>
          </div>
          <label class="checkbok-label">Empresa</label>
        </div>

        <div class="form-check form-check-inline">
          <div class="pretty p-icon p-round">
            <input
              type="radio"
              name="fcc4chkcliente"
              formControlName="fcc4chkcliente"
              ngModelOptions="{standalone: true}"
              id="fcc4chkcliente1"
              value="1"
              title="Persona"
              (click)="cambiaTipo(TIPO_PERSONA)"
              checked
            />
            <div class="state p-primary">
              <i class="icon fa fa-check"></i><label></label>
            </div>
          </div>
          <label class="checkbok-label">Persona</label>
        </div>

        <div class="form-check form-check-inline">
          <div class="pretty p-icon p-round">
            <input
              type="radio"
              name="fcc4chkcliente"
              formControlName="fcc4chkcliente"
              ngModelOptions="{standalone: true}"
              id="fcc4chkcliente2"
              value="2"
              title="Persona Boleta"
              (click)="cambiaTipo(TIPO_PERSONA_BOLETA)"
            />
            <div class="state p-primary">
              <i class="icon fa fa-check"></i><label></label>
            </div>
          </div>
          <label class="checkbok-label">Persona Boleta</label>
        </div>
      </div>
    </div>

    <!-- datos empresa -->

    <div class="form-group row">
      <label
        for="fcc4txtRutCC"
        class="labelGiroCC col-md-3"
        id="fcc4tlabelchkClienteCC"
        >Rut
      </label>
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          id="fcc4txtRutCC"
          name="fcc4txtRutCC"
          formControlName="fcc4txtRutCC"
          value=""
          size="40"
          placeholder="(ej: 76.611.625-3)"
        />
      </div>
    </div>
    <div *ngIf="formUsuario.get('fcc4txtRutCC')?.errors" style="color: red">
      Debe ingresar RUT.
    </div>

    <div class="form-group row" id="fcc4trNombreCC">
      <label
        for="fcc4txtNombreCC"
        class="labelGiroCC col-md-3"
        id="fcc4labelNombreCC"
      >
        <span *ngIf="tipoCliente == TIPO_EMPRESA"> Razón Social</span>
        <span *ngIf="tipoCliente != TIPO_EMPRESA"> Nombres</span>
      </label>
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          id="fcc4txtNombreCC"
          name="fcc4txtNombreCC"
          formControlName="fcc4txtNombreCC"
          value=""
          size="40"
          placeholder=""
        />
      </div>
    </div>

    <div
      class="form-group row"
      id="fcc4trApellidoCC"
      *ngIf="tipoCliente == TIPO_PERSONA"
    >
      <label
        for="fcc4txtApellidoCC"
        class="labelGiroCC col-md-3"
        id="labelApellidoCC"
        >Apellidos</label
      >
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          id="fcc4txtApellidoCC"
          name="fcc4txtApellidoCC"
          formControlName="fcc4txtApellidoCC"
          value=""
          size="40"
          placeholder=""
        />
      </div>
    </div>

    <div
      class="form-group row"
      id="fcc4trdropGiro"
      *ngIf="tipoCliente != TIPO_PERSONA_BOLETA"
    >
      <label
        for="fcc4txtCodGiroCC"
        class="labelGiroCC col-md-3"
        id="labelcodGiroCC"
        >Giro</label
      >
      <div class="col-md-9 input-group">
        <select
          class="form-control"
          name="fcc4dropGiroCC"
          formControlName="fcc4dropGiroCC"
          id="fcc4dropGiroCC"
          size="1"
        >
          <option value="" placeholder="Seleccione GIRO" selected></option>
          <option
            *ngFor="let g of giros; let i = index"
            [value]="giros[i].codigo"
          >
            {{ giros[i].nombre }}
          </option>
        </select>
      </div>
    </div>

    <div
      class="form-group row"
      id="fcc4trdropSegmentoCC"
      *ngIf="tipoCliente != TIPO_PERSONA_BOLETA"
    >
      <label
        for="fcc4dropSegmentoCC"
        class="labelGiroCC col-md-3"
        id="labeldropSegmentoCC"
        >Segmento</label
      >
      <div class="col-md-9">
        <select
          name="fcc4dropSegmentoCC"
          id="fcc4dropSegmentoCC"
          formControlName="fcc4dropSegmentoCC"
          class="form-control select2-hidden-accessible"
          tabindex="-1"
          aria-hidden="true"
        >
          <option value="" selected></option>
          <option value="TPA">TRANSPORTE DE PASAJEROS</option>
          <option value="ARM">ARMADORES</option>
          <option value="SDI">SUB DISTRIBUCION</option>
        </select>
      </div>
    </div>

    <!-- persona quie compra -->

    <div class="form-subtitulo">Persona que Compra</div>

    <div class="form-group row">
      <label for="fcc4txtCNombreCC" class="labelValidaContacto col-md-3"
        >Nombres</label
      >
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          id="fcc4txtCNombreCC"
          name="fcc4txtCNombreCC"
          formControlName="fcc4txtCNombreCC"
          value=""
          size="40"
          placeholder=""
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="fcc4txtCApellidoCC" class="labelValidaContacto col-md-3"
        >Apellidos:</label
      >
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          id="fcc4txtCApellidoCC"
          name="fcc4txtCApellidoCC"
          formControlName="fcc4txtCApellidoCC"
          value=""
          size="40"
          placeholder=""
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="fcc4txtEmailCC" class="labelValidaContacto col-md-3"
        >Email</label
      >
      <div class="col-md-9">
        <input
          class="form-control"
          type="email"
          id="fcc4txtEmailCC"
          name="fcc4txtEmailCC"
          formControlName="fcc4txtEmailCC"
          value=""
          size="35"
          placeholder=""
          [attr.disabled]="sinMail ? '' : null"
        />

        <div class="form-check form-check-inline">
          <div class="pretty p-icon">
            <input
              type="checkbox"
              name="fcc4checkMail"
              title="Sin Email"
              [(ngModel)]="sinMail"
              [ngModelOptions]="{ standalone: true }"
              (click)="sinMailChange()"
            />
            <div class="state p-primary">
              <i class="icon fa fa-check"></i><label></label>
            </div>
          </div>
          <label class="checkbok-label">Sin Mail</label>
        </div>

        <div
          *ngIf="formUsuario.get('fcc4txtEmailCC')?.errors"
          style="color: red"
        >
          Ingrese un email válido.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="fcc4dropCodTelefono2" class="labelValidaContacto col-md-3"
        >Número contacto</label
      >
      <div class="col-md-9 input-group">
        <div class="input-group-prepend">
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i
              [ngClass]="
                tipo_fono == '+569'
                  ? 'fa-solid fa-mobile-screen'
                  : 'fa-solid fa-phone'
              "
              style="margin-right: 1px"
            ></i>
            {{ tipo_fono }}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="Select_fono('+569')"
              ><i
                class="fa-solid fa-mobile-screen"
                style="margin-right: 1px"
              ></i
              >+569</a
            >
            <a class="dropdown-item" (click)="Select_fono('+56')"
              ><i class="fa-solid fa-phone" style="margin-right: 1px"></i>+56</a
            >
          </div>
        </div>

        <input
          class="form-control"
          id="fcc4txtTelefonoCC2"
          name="fcc4txtTelefonoCC2"
          formControlName="fcc4txtTelefonoCC2"
          [attr.disabled]="sinCelular ? '' : null"
        />
      </div>
    </div>

    <div class="form-subtitulo" id="fcc4trTituloDatosFacturacion">
      Datos de Facturación
    </div>

    <div class="form-group row" id="fcc4trCalleCC">
      <label for="fcc4txtCalleCC" class="labelGiroCC col-md-3" id="labelCalleCC"
        >Calle
      </label>
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          id="fcc4txtCalleCC"
          name="fcc4txtCalleCC"
          formControlName="fcc4txtCalleCC"
          value=""
          size="40"
          placeholder=""
        />
      </div>
    </div>

    <div *ngIf="formUsuario.get('fcc4txtCalleCC')?.errors" style="color: red">
      Debe ingresar CALLE
    </div>

    <div class="form-group row" id="fcc4trNumeroCC">
      <label
        for="fcc4txtNumeroCC"
        class="labelGiroCC col-md-3"
        id="labelNumeroCC"
        >Número
      </label>
      <div class="col-md-9">
        <input
          class="form-control"
          type="text"
          id="fcc4txtNumeroCC"
          name="fcc4txtNumeroCC"
          formControlName="fcc4txtNumeroCC"
          value=""
          size="40"
          placeholder=""
        />
      </div>
    </div>

    <div *ngIf="formUsuario.get('fcc4txtNumeroCC')?.errors" style="color: red">
      Debe ingresar NUMERO
    </div>

    <div class="form-group row" id="fcc4trdropComunaCC">
      <label
        for="fcc4dropComunaCC"
        class="labelGiroCC col-md-3"
        id="labelComunaCC"
        >Comuna:
      </label>
      <div class="col-md-9">
        <select
          class="form-control select2-hidden-accessible"
          name="fcc4dropComunaCC"
          formControlName="fcc4dropComunaCC"
          id="fcc4dropComunaCC"
          data-select2-id="fcc4dropComunaCC"
          tabindex="-1"
          aria-hidden="true"
        >
          <option value="" placeholder="Seleccione COMUNA" selected></option>
          <option
            *ngFor="let c of comunas; let i = index"
            [value]="comunas[i].id"
          >
            {{ comunas[i].value }}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="formUsuario.get('fcc4dropComunaCC')?.errors" style="color: red">
      Debe ingresar COMUNA
    </div>

    <div class="form-subtitulo" id="fcc4trTituloDatosFacturacion">
      Clave de Acceso
    </div>

    <div class="form-group row">
      <label for="fcc4txtCalleCC" class="labelGiroCC col-md-3" id="labelCalleCC"
        >Contraseña
      </label>
      <div class="col-md-9">
        <input
          class="form-control"
          type="password"
          id="pwd1"
          name="pwd1"
          formControlName="pwd1"
          value=""
          size="20"
          placeholder="ingrese clave"
        />
      </div>
    </div>
    <div *ngIf="formUsuario.get('pwd1')?.errors" style="color: red">
      La contraseña debe tener entre 6 y 24 caracteres de largo.
    </div>
    <div class="form-group row">
      <label for="fcc4txtCalleCC" class="labelGiroCC col-md-3" id="labelCalleCC"
        >Contraseña
      </label>
      <div class="col-md-9">
        <input
          class="form-control"
          type="password"
          id="pwd2"
          name="pwd2"
          formControlName="pwd2"
          value=""
          size="20"
          placeholder="ingrésela nuevamente"
        />
      </div>
    </div>
    <div *ngIf="formUsuario.get('pwd2')?.errors" style="color: red">
      La contraseña debe tener entre 6 y 24 caracteres de largo.
    </div>

    <div class="form-group row">
      <div class="col-md-9"></div>
    </div>
    <div class="form-group row">
      <div class="col-md-9"></div>
    </div>

    <button
      name="Registrarse"
      type="submit"
      class="btn btn-success"
      [disabled]="formUsuario.invalid"
    >
      Registrarse
    </button>
  </form>
</div>
