<br />
<ng-container *ngIf="caja_concepto.template=='gallery'">
<div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <a [routerLink]="[caja_concepto.conceptos[0].url]" >
        <img [src]="caja_concepto.conceptos[0].image" alt="Gallery image 1" class="gallery__img">
        </a>
    
      </figure>   
      <figure class="gallery__item gallery__item--2">
        <a [routerLink]="[caja_concepto.conceptos[1].url]" >
        <img [src]="caja_concepto.conceptos[1].image" alt="Gallery image 1" class="gallery__img">
        </a>
    
      </figure>
      <figure class="gallery__item gallery__item--3">
        <a [routerLink]="[caja_concepto.conceptos[2].url]" >
        <img [src]="caja_concepto.conceptos[2].image" alt="Gallery image 1" class="gallery__img">
        </a>
    
      </figure>    
      <figure class="gallery__item gallery__item--4">
        <a [routerLink]="[caja_concepto.conceptos[3].url]" >
        <img [src]="caja_concepto.conceptos[3].image" alt="Gallery image 1" class="gallery__img">
        </a>
    
      </figure>  
</div>
</ng-container>

<ng-container *ngIf="caja_concepto.template=='gallery_2'">
  <div class="gallery_2">
    
     
        <figure class="gallery2__item gallery2__item--1">
          <a [routerLink]="[caja_concepto.conceptos[0].url]" >
          <img [src]="caja_concepto.conceptos[0].image" alt="Gallery image 1" class="gallery2__img"> 
        </a>     
        </figure>

        <figure class="gallery2__item gallery2__item--2">
          <a [routerLink]="[caja_concepto.conceptos[1].url]" >
          <img [src]="caja_concepto.conceptos[1].image" alt="Gallery image 2" class="gallery2__img">
          </a>
       </figure>  

      <figure class="gallery2__item gallery2__item--3">
        <a [routerLink]="[caja_concepto.conceptos[2].url]" >
          <img [src]="caja_concepto.conceptos[2].image" alt="Gallery image 3" class="gallery2__img">
        </a>
      </figure>
      <figure class="gallery__item gallery2__item--4">
        <a [routerLink]="[caja_concepto.conceptos[3].url]" >
        <img [src]="caja_concepto.conceptos[3].image" alt="Gallery image 4" class="gallery2__img">
        </a>
    
      </figure> 
     
    
     
  </div>
  </ng-container>



