<div class="container">
  <div class="card h-100">
    <div class="card-header bg-primary text-white text-center py-3">
      <h3 class="m-0 p-0 font-weight-bold">
        {{ objeto.titulo | slice : 0 : 45 }}
      </h3>
    </div>
    <div class="card-body pb-0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Atributos</th>
              <th *ngIf="precios">Precio</th>
            </tr>
          </thead>
          <tbody class="body-producto">
            <ng-container *ngFor="let producto of objeto.productos">
              <tr>
                <td style="width: 15%">
                  <img
                    class="img-fluid"
                    src="https://images.implementos.cl/img/1000/{{
                      producto.sku
                    }}-1.jpg"
                    alt="{{ producto.sku }}"
                  />
                  <p class="sku">{{ producto.sku }}</p>
                </td>

                <ng-container *ngFor="let atributo of producto.atributos">
                  <ng-container *ngIf="atributo.nombre == 'descripcion'">
                    <td
                      class="text-justify {{ atributo.nombre }} rem-11"
                      style="padding-top: 4rem !important"
                    >
                      {{ atributo.valor }}
                    </td>
                  </ng-container>
                  <ng-container *ngIf="atributo.nombre == 'nombre'">
                    <td
                      class=" {{ atributo.nombre }}"
                      style="padding-top: 4rem !important"
                    >
                      {{ atributo.valor | titlecase }}
                      <ng-container *ngIf="producto.marca">
                        <p class="marca">{{ producto.marca | titlecase }}</p>
                      </ng-container>
                      <ng-container *ngIf="producto.urlMarca">
                        <div class="col">
                          <img
                            class="img-fluid img-marca"
                            [src]="producto.urlMarca"
                            alt="{{ producto.sku }}"
                          />
                        </div>
                      </ng-container>
                    </td>
                  </ng-container>
                </ng-container>
                <td>
                  <ng-container *ngFor="let atributo of producto.atributos">
                    <ng-container
                      *ngIf="
                        atributo.nombre !== 'precio' &&
                        atributo.nombre !== 'descripcion' &&
                        atributo.nombre !== 'nombre' &&
                        atributo.nombre !== 'precio escala' &&
                        atributo.nombre !== 'sku'
                      "
                    >
                      <div>
                        <span class="title2"
                          >{{ atributo.nombre | titlecase }}
                        </span>
                        <ng-container *ngIf="atributo.valor">
                          {{ atributo.valor | titlecase }}
                        </ng-container>
                        <ng-container *ngIf="!atributo.valor"> - </ng-container>
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
                <td
                  *ngIf="precios"
                  class="text-justify rem-11"
                  style="padding-top: 4rem !important"
                >
                  <div
                    *ngIf="producto.rut == '0' && producto.precioEsp == 0"
                    class="product-card__new-price"
                  >
                    {{ producto.precio | currencyFormat }} <em> c/iva </em>
                  </div>

                  <div
                    *ngIf="
                      producto.rut != '0' &&
                      producto.precio != producto.precioEsp
                    "
                    tooltip="Precio con descuento cliente"
                    class="product-card__new-price text-danger"
                  >
                    {{ producto.precioEsp | currencyFormat }}
                    <em> c/iva </em>
                  </div>
                  <div
                    *ngIf="
                      producto.rut != '0' &&
                      producto.precio != producto.precioEsp
                    "
                    tooltip="Precio normal"
                    class="product-card__old-price"
                  >
                    {{ producto.precio | currencyFormat }} <em> c/iva </em>
                  </div>
                  <div
                    *ngIf="producto.precio == producto.precioEsp"
                    class="product-card__new-price"
                  >
                    {{ producto.precio | currencyFormat }} <em> c/iva </em>
                  </div>
                  <app-icon
                    *ngIf="carro"
                    style="position: relative; top: 1rem"
                    name="cart-20"
                    size="30"
                    class="icon-chat shadow-lg ps-2 pt-2 pointer"
                    (click)="addToCart(producto)"
                  >
                  </app-icon>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer py-0 px-3 bg-primary">
      <div class="row">
        <div class="col-6 p-0">
          <img [src]="objeto.footerA" class="img-fluid" />
        </div>
        <div class="col-6 p-0">
          <img [src]="objeto.footerB" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
