.tabla {
  @media (max-width: 576px) {
    width: 100%;
  }

  @media (min-width: 576px) {
    width: 75%;
  }
}

table {
  font-size: 14px;
}

.bg-primary {
  background-color: #094cac !important;
  color: white !important;
}

.card {
  @media (min-width: 0px) and (max-width: 575px){
    padding: 0rem;
  }
}
