<div class="container container-searh-aplication p-3 mx-auto text-center">
  <h1>Seleccione su vehiculo</h1>
  <p class="subtitle hidden-sm-down">
    Repuestos, Actualizaciones, Modificaciones, insumos
  </p>

  <div class="pt-3 mb-3">
    <div class="card-body p-0">
      <div class="row m-0">
        <div class="col-lg col-sm-6">
          <div class="form-group">
            <select class="custom-select">
              <option value="0">Año</option>
              <option value="1">2019</option>
              <option value="2">2018</option>
              <option value="3">2017</option>
              <option value="4">2016</option>
            </select>
          </div>
        </div>

        <div class="col-lg col-sm-6">
          <div class="form-group">
            <select class="custom-select" data-placeholder="xxx">
              <option value="0">Marca</option>
              <option value="1">Audio</option>
              <option value="2">Fiat</option>
              <option value="3">Ford</option>
              <option value="4">Chevrolet</option>
            </select>
          </div>
        </div>

        <div class="col-lg col-sm-6">
          <div class="form-group">
            <select class="custom-select">
              <option value="0">Modelo</option>
              <option value="1">A4</option>
              <option value="2">Punto</option>
              <option value="3">Fiesta</option>
              <option value="4">Clio</option>
            </select>
          </div>
        </div>
        <div class="col-lg col-sm-6">
          <div class="form-group">
            <button name="Buscar" class="btn btn-primary btn-block">
              <i class="fa fa-search"> </i> Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
