<div class="contenedor d-flex flex-column" *ngIf="!Hidebar_head()">
  <div
    class="d-flex px-4 pb-2 pt-3 justify-content-center align-items-center"
    id="stricky_header"
    style="background-color: #0063b9"
  >
    <div class="p-0">
      <div class="ms-4 me-3">
        <a [routerLink]="['/', 'inicio']">
          <img
            src="assets/images/logos/logo_header1.png"
            style="width: 50px"
            alt="logo-implementos"
            class="lazyload"
          />
        </a>
      </div>
    </div>

    <div class="col px-2 d-flex align-items-center">
      <div class="col-12 align-items-center">
        <app-barra-busqueda
          #barraBusqueda
          (limpiaFiltro)="router.navigate(['inicio'])"
          (changeFiltro)="changeFiltro()"
          (selectCategoria)="filtrosVisibles = false"
        ></app-barra-busqueda>
      </div>
    </div>

    <div
      class="nav-panel__indicators d-flex align-items-center"
      style="justify-content: space-evenly"
    >
      <!-- Start::icono filtro por vin -->
      <!--
      <div
        class="indicator indicator--trigger--click"
        appDropdown="indicator--opened"
        #vinDropdown="appDropdown"
      >
        <a
          [href]=""
          class="indicator__button"
          (click)="$event.preventDefault(); vinDropdown.toggle()"
        >
          <i class="fa-light fa-truck-moving" style="font-size: 2rem"></i>
        </a>

        <div
          class="indicator__dropdown"
          style="top: 70px; right: 370px; width: 800px"
        >
          <app-filtros class="w-100" #filtros [inHeader]="true"></app-filtros>
        </div>
      </div>-->
      <!-- Start::icono filtro por vin -->

      <!-- Start::icono carro de compras -->
      <div
        class="indicator indicator--trigger--click"
        appDropdown="indicator--opened"
        #cartDropdown="appDropdown"
      >
        <a
          [href]="rootService.url('/productos/caro-compra')"
          class="indicator__button"
          (click)="$event.preventDefault(); cartDropdown.toggle()"
        >
          <span class="indicator__area indicator__area-cart">
            <app-icon name="cart-20"></app-icon>

            <span
              *ngIf="((cart.quantity$ | async) || 0) > 0"
              class="indicator__value"
              >{{ cart.quantity$ | async }}</span
            >
          </span>

          <span class="icon-title"> Carrito</span>
        </a>

        <div class="indicator__dropdown" style="top: 70px">
          <app-header-dropcart></app-header-dropcart>
        </div>
      </div>
      <!-- End::icono carro de compras -->

      <!-- Opción para ingresar al sistema -->
      <app-account tipo="b2b"></app-account>
    </div>
  </div>

  <div
    class="bottomBar d-flex justify-content-between py-1 px-4 px-xl-5 border-bottom"
    style="background-color: #0063b9"
  >
    <div class="d-flex">
      <div
        class="indicator position-relative indicator--trigger--click me-4"
        (click)="menu.open()"
      >
        <a [href]="">
          <i class="fas fa-bars fa-lg me-2"></i>
          <span class="icon-title text-start" style="font-size: 1rem"
            ><strong> Todas las categorías</strong></span
          >
        </a>
      </div>
      <div class="d-flex align-items-center me-4">
        <a
          [href]=""
          class="d-flex"
          (click)="modificarDireccionDespacho()"
          data-bs-toggle="tooltip"
          data-placement="bottom"
          title="{{
            direccion?.calle +
              ' ' +
              direccion?.numero +
              ((direccion?.deptocasa?.length || 0) > 0
                ? ', ' + direccion?.deptocasa
                : '') | titlecase
          }}"
        >
          <div class="d-flex align-items-center">
            <i class="fas fa-map-marker-alt fa-lg me-2"></i>
          </div>
          <div class="d-flex">
            <span class="icon-title">Enviar a: &nbsp;</span>
            <span class="icon-title" *ngIf="isVacio(direccion)"
              >Sin dirección...</span
            >
            <span class="icon-title" *ngIf="!isVacio(direccion)">{{
              (((direccion?.calle || '') + ' ' + direccion?.numero).length > 20
                ? (
                    (direccion?.calle || '') +
                    ' ' +
                    direccion?.numero
                  ).substring(0, 20) + '...'
                : (direccion?.calle || '') + ' ' + direccion?.numero
              ) | titlecase
            }}</span>
          </div>
        </a>
      </div>
      <div
        class="indicator position-relative indicator--trigger--click me-4"
        appDropdown="indicator--opened"
        #menuTienda="appDropdown"
      >
        <a [href]="" (click)="$event.preventDefault(); menuTienda.toggle()">
          <i class="fas fa-map-marked-alt fa-lg me-2"></i>
          <span class="icon-title mt-1"> {{ tiendaSeleccionada?.zona }}</span>
        </a>

        <div class="indicator__dropdown indicator__dropdown-tienda">
          <div class="alert-session card p-5 mt-4 shadow">
            <p class="fw-bold">Información</p>
            <p class="">
              Se ha establecido la tienda más cercana a su ubicación.
            </p>

            <div class="d-flex">
              <div class="col">
                <button
                  name="abrirModalTiendas"
                  class="btn btn-border-primary text-center w-102"
                  (click)="abrirModalTiendas()"
                >
                  Cambiar
                </button>
              </div>
              <div class="col">
                <button
                  name="menuTienda"
                  class="btn btn-secondary w-102 text-center"
                  (click)="menuTienda.toggle()"
                >
                  Mantener
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div
        class="indicator indicator--trigger--click me-4"
        *ngIf="!isVacio(usuario.vendedor)"
      >
        <a
          target="_blank"
          [href]="
            'https://api.whatsapp.com/send?phone=' +
            usuario.vendedor.telefono +
            '&text=Hola%20' +
            encodeURI(usuario.vendedor.nombre) +
            '%2C%20Necesito%20ayuda%20en%20el%20B2B.'
          "
        >
          <img
            src="../../../../../assets/images/logos/whatsapp.png"
            style="width: 23px"
            class="me-2"
          />
          <span class="icon-title mt-1">{{ usuario.vendedor.nombre }}</span>
        </a>
      </div>

      <div
        class="indicator indicator--trigger--click me-4"
        (click)="validarCuenta()"
      >
        <a [href]="">
          <i class="fas fa-truck-moving fa-lg me-2"></i>
          <span class="icon-title mt-1"> Seguimiento</span>
        </a>
      </div>

      <div class="indicator indicator--trigger--click me-4">
        <a [routerLink]="['/', 'mi-cuenta', 'carga-masiva-prod']">
          <i class="fas fa-file-upload fa-lg me-2"></i>
          <span class="icon-title mt-1"> Carga Masiva</span>
        </a>
      </div>

      <div class="indicator indicator--trigger--click me-4">
        <a [routerLink]="['/', 'mi-cuenta', 'resumen']">
          <i class="fas fa-hand-holding-usd fa-lg me-2"></i>
          <span class="icon-title mt-1"> Estado de Cuenta</span>
        </a>
      </div>
      <div class="indicator indicator--trigger--click me-4">
        <a [routerLink]="['/', 'mi-cuenta', 'portal-de-pagos']">
          <i class="fas fa-file-invoice-dollar fa-lg me-2"></i>
          <span class="icon-title mt-1"> Pagos</span>
        </a>
      </div>
    </div>
  </div>
  <app-block-slideshow
    *ngIf="!Hidebar()"
    [withDepartments]="false"
  ></app-block-slideshow>
</div>

<app-modal-stores
  (template)="estableceModalTienda($event)"
  [modalRef]="modalRefTienda"
></app-modal-stores>

<app-menu-categoria (menu)="menu_open()"></app-menu-categoria>
