
<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-2">
            Informacion de la cuenta
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col">
                    <img src="https://cdn.zeplin.io/5d31fae695b45b29b0013558/assets/AA422AF6-4268-454D-BCB0-8522C259195E.png" class="img-fluid lazyload" width="644" height="553">
                </div>
            </div>
        </div>
        <div class="col-6">
            <form>
                <div class="form-row">
                    <div class="form-group col-5">
                        <label for="Xs" class="label-form">Nombre del contacto</label>
                        <input type="text" class="form-control form-control-lg text-form-edit" id="Xs" placeholder="Matias">
                    </div>
                    <div class="form-group col-5">
                        <label for="lastname" class="label-form">Apellido del contacto</label>
                        <input type="text" class="form-control form-control-lg text-form-edit" id="lastname" placeholder="Hurtado">
                    </div>
                </div>
                <div class="row space-input-form">
                    <div class="form-group col-10">
                        <label for="inputAddress" class="label-form">Nombre de la empresa</label>
                        <input type="text" class="form-control form-control-lg text-form-edit" id="inputAddress" placeholder="Implementos CL, S.A">
                    </div>
                </div>
                <div class="form-row space-input-form">
                    <div class="form-group col-5">
                        <label for="rut" class="label-form">RUT</label>
                        <input type="text" class="form-control form-control-lg text-form-edit" id="rut" placeholder="11111111111">
                    </div>
                    <div class="form-group col-5">
                        <label for="lastname" class="label-form">Rubro</label>
                        <input type="text" class="form-control form-control-lg text-form-edit" id="lastname" placeholder="Vendedor">
                    </div>
                </div>
                <div class="form-row space-input-form">
                    <div class="form-group col-5">
                        <label for="Xs" class="label-form">Email</label>
                        <input type="text" class="form-control form-control-lg text-form-edit" id="Xs" placeholder="matias@implementos.cl">
                    </div>
                    <div class="col-5">
                        <label>Telefono de contacto</label>
                        <div class="container-flex">
                            <select class="form-control-lg">
                                <option>
                                    +569
                                </option>
                            </select>
                            <input type="text" class="form-control form-control-lg separated-input">

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-5">
                        <button name="guardar"type="submit" class="btn btn-block btn-secondary button-save">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>