* {
  box-sizing: border-box;
}

.glosario {
  margin: 0 auto;
  width: 615px;
  padding: 20px 0;
  text-align: center;
}
.alpha-title h3 {
  font-size: 26px;
  font-family: Verdana;
  margin-bottom: 25px;
  text-decoration: underline;
}
.glossary-term {
  font-family: Verdana;
  margin-bottom: 35px;
  padding-left: 25px;
}
.glossary-term h4 {
  font-size: 20px;
}
.glossary-term p {
  line-height: 1.5em;
  font-family: sans-serif;
  margin-top: 20px;
}

.menu-glosario {
  cursor: pointer;
  padding: 0px 5px;
  font-weight: bold;
  font-size: 18px;
  color: #0063b9;
}

.separador {
  background-color: #a2bfd6;
  opacity: 0.6;
}

.button-inicio {
  position: fixed;
  top: 70px;
  right: 5px;
  background-color: #0063b9;
  color: white;
  opacity: 0;
  border-radius: 40px;
  z-index: 10;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
}
