<div
  class="product-card"
  [ngClass]="{
    'product-card--layout--grid product-card--size--sm': layout === 'grid-sm',
    'product-card--layout--grid product-card--size--nl': layout === 'grid-nl',
    'product-card--layout--grid product-card--size--lg': layout === 'grid-lg',
    'product-card--layout--list': layout === 'list',
    'product-card--layout--horizontal': layout === 'horizontal'
  }"
  style="height: 100%; overflow: hidden"
>
  <span class="floating-offers" *ngIf="layout === 'horizontal'"> 50% </span>

  <div
    class="product-card__badges-list d-none d-lg-block"
    *ngIf="productData.precio_escala"
    style="margin-left: 15px !important"
  >
    <div *ngIf="!preciosEscalas">
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
    <div
      *ngIf="preciosEscalas"
      style="cursor: pointer"
      [ngbPopover]="popoverContent"
      #popover="ngbPopover"
      triggers="hover"
      placement="bottom"
      container="body"
      (mousehover)="verPreciosEscala(popover)"
    >
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
  </div>

  <div
    class="product-card__badges-list d-block d-lg-none"
    *ngIf="productData.precio_escala"
    style="margin-left: 15px !important"
  >
    <div *ngIf="!preciosEscalas">
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
    <div
      *ngIf="preciosEscalas"
      style="cursor: pointer"
      (click)="verPreciosEscalaModal()"
    >
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
  </div>

  <div class="alturaimg" [class.text-center]="home || cartClass">
    <a
      appClick
      (click)="setOrigenBeforeFicha()"
      [routerLink]="
        root.product(productData.sku, productData.nombre, paramsCategory)
      "
    >
      <img
        [src]="root.getUrlImagenMiniatura(productData)"
        class="img-fluid lazyload"
        [class.imgH]="home"
        [class.imgC]="cartClass"
        [alt]="productData.nombre"
      />
    </a>
  </div>
  <div class="product-card__info position-relative">
    <div
      class="product-card__badges-list-right"
      *ngIf="(productData.cyberMonday || 0) > 0"
    >
      <div
        class="badge_cyber float-end"
        style="position: absolute; top: -32px; right: 1px"
      >
        <picture>
          <!-- <source
            srcset="assets/images/cyberMondaySquare.webp"
            type="image/webp"
          />
          <source
            srcset="assets/images/cyberMondaySquare.png"
            type="image/png"
          />
          <img
            src="assets/images/cyberMondaySquare.png"
            class="me-1 mt-sm-1"
            style="width: 50px !important; height: 50px"
            alt="logo oferta"
          /> -->
          <img
            src="https://images.implementos.cl/uploads/cyber/cyberMonday.webp"
            class="me-1 mt-sm-1"
            style="width: 50px !important; height: 50px"
            alt="logo oferta"
          />
        </picture>
      </div>
    </div>

    <div
      class="product-card__badges-list-right"
      *ngIf="(productData.cyber || 0) > 0 && productData.cyberMonday === 0"
    >
      <div
        class="badge_cyber float-end"
        style="position: absolute; top: -32px; right: 1px"
      >
        <picture>
          <!-- <source srcset="assets/images/cyberCircle.webp" type="image/webp" />
          <source srcset="assets/images/cyberCircle.png" type="image/png" />
          <img
            src="assets/images/cyberCircle.png"
            alt=""
            height="60px"
            width="60px"
            class="me-1 mt-sm-1 img"
            style="width: 50px; height: 50px"
            alt="logo oferta"
          /> -->
          <img
            src="https://images.implementos.cl/uploads/cyber/cyber.webp"
            alt=""
            height="60px"
            width="60px"
            class="me-1 mt-sm-1 img"
            style="width: 50px; height: 50px"
            alt="logo oferta"
          />
        </picture>
      </div>
    </div>

    <div class="product-card__name">
      <div>
        <a
          class="marcaP"
          (click)="setOrigenBeforeFicha()"
          appClick
          [routerLink]="
            root.product(productData.sku, productData.nombre, paramsCategory)
          "
          >{{
            productData.marca
              | replace : '^SIN MARCA$' : 'IMPLEMENTOS'
              | replace : '^0$' : 'IMPLEMENTOS'
          }}</a
        >
      </div>
      <div class="mt-1">
        <a
          appClick
          (click)="setOrigenBeforeFicha()"
          [routerLink]="
            root.product(productData.sku, productData.nombre, paramsCategory)
          "
        >
          <span class="nombreP" style="-webkit-box-orient: vertical">
            {{ productData.nombre | capitalizeFirst }}
          </span>
        </a>
      </div>
    </div>

    <ng-container
      *ngIf="
        productData.stockTienda !== undefined &&
        productData.stockEmpresa !== undefined
      "
    >
      <div
        class="product-card__prices text-end ps-0"
        style="padding-top: 4px !important; height: 40px"
        *ngIf="productData.stockTienda > 0 || productData.stockEmpresa > 0"
        [ngStyle]="{
          display:
            productData.precioComun == productData.precio.precio
              ? 'flex'
              : 'block',
          'align-items':
            productData.precioComun == productData.precio.precio
              ? 'center'
              : 'unset'
        }"
      >
        <ng-container *ngIf="!productData.compareAtPrice">
          <div
            *ngIf="productData?.precioComun == productData.precio.precio"
            class="product-card__new-price col-12"
            style="padding-left: 0 !important; padding-right: 5px !important"
          >
            {{ productData.precio.precio | currencyFormat }} <em> c/iva </em>
          </div>
          <div
            *ngIf="productData.precioComun != productData?.precio?.precio"
            class="product-card__new-price text-danger col-12"
            style="padding-left: 0 !important; padding-right: 5px !important"
          >
            {{ productData.precio.precio | currencyFormat }} <em> c/iva </em>
          </div>
          <div
            *ngIf="productData?.precioComun != productData?.precio?.precio"
            tooltip="Precio normal"
            class="product-card__old-price col-12"
            style="
              text-align: left;
              padding-left: 0 !important;
              padding-right: 5px !important;
            "
          >
            {{ productData.precioComun | currencyFormat }} <em> c/iva </em>
            <br />
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container
      *ngIf="
        productData.stockTienda === undefined &&
        productData.stockEmpresa === undefined
      "
    >
      <div
        class="product-card__prices text-end ps-0"
        style="padding-top: 4px !important; height: 40px"
      >
        <ng-container *ngIf="!productData.compareAtPrice">
          <div
            *ngIf="productData.precioComun == productData.precio.precio"
            class="product-card__new-price col-12"
            style="padding-left: 0 !important; padding-right: 5px !important"
          >
            {{ productData.precio.precio | currencyFormat }} <em> c/iva </em>
          </div>
          <div
            *ngIf="productData.precioComun != productData?.precio?.precio"
            class="product-card__new-price text-danger col-12"
            style="
              padding-left: 0 !important;
              padding-right: 5px !important;
              margin-left: 5px;
            "
          >
            {{ productData.precio.precio | currencyFormat }} <em> c/iva </em>
          </div>
          <div
            *ngIf="productData.precioComun != productData?.precio?.precio"
            tooltip="Precio normal"
            class="product-card__old-price col-12"
            style="
              text-align: left;
              padding-left: 0 !important;
              padding-right: 5px !important;
            "
          >
            {{ productData.precioComun | currencyFormat }} <em> c/iva </em>
            <br />
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ul
      *ngIf="productData.atributos?.length"
      class="product-card__features-list"
    >
      <li *ngFor="let feature of productData.atributos | slice : 0 : 5">
        <span class="producto-atributo-listado">{{
          feature.nombre | titlecase
        }}</span
        >:
        {{ feature.valor | titlecase }}
      </li>

      <li>
        <a
          (click)="setOrigenBeforeFicha()"
          [routerLink]="
            root.product(productData.sku, productData.nombre, paramsCategory)
          "
        >
          Ver más...</a
        >
      </li>
    </ul>
  </div>

  <!-- Momentaneo para ver "llega y retiro" -->
  <ng-container
    *ngIf="productData.stockTienda > 0 || productData.stockEmpresa > 0"
  >
    <div
      class="product-card__info flex-column mt-1"
      style="padding-bottom: 4px"
    >
      <ng-container>
        <div>
          <ng-container
            *ngIf="
              productData.fechaEntrega !== undefined &&
              productData.fechaEntrega != null
            "
          >
            <ng-container>
              <i class="fas fa-shipping-fast me-2"></i>
              <i
                style="
                  color: black;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 12px;
                "
                >Llega
                {{ productData.fechaEntrega | date : 'dd/MM' | uppercase }}</i
              >
            </ng-container>
          </ng-container>
          <ng-container
            *ngIf="
              productData.fechaEntrega !== undefined &&
              productData.fechaEntrega == null
            "
          >
            <i class="fas fa-shipping-fast me-2" style="color: grey"></i>
            <i style="color: grey; font-style: normal; font-size: 12px"
              >No disponible</i
            >
          </ng-container>
        </div>
        <ng-container
          *ngIf="productData.retiro !== undefined && productData.retiro"
        >
          <div class="d-flex align-items-center">
            <i class="fas fa-store me-2"></i>
            <div
              style="
                margin-top: 2px;
                padding: 0px 5px;
                background-color: #00800033;
                border-radius: 4px;
              "
            >
              <i
                style="
                  color: green;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 12px;
                "
                >Retira hoy</i
              >
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="productData.retiro !== undefined && !productData.retiro"
        >
          <div
            style="margin-top: 2px"
            *ngIf="
              productData.fechaEntregaRetiro &&
                productData.fechaEntregaRetiro == null;
              else fechaEntrega
            "
          >
            <i class="fas fa-store me-2" style="color: grey"></i>
            <i style="color: grey; font-style: normal; font-size: 12px"
              >No disponible</i
            >
          </div>
          <ng-template #fechaEntrega>
            <div style="margin-top: 2px">
              <i class="fas fa-store me-2"></i>
              <i
                style="
                  color: black;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 12px;
                "
                >Retira
                {{
                  productData.fechaEntregaRetiro | date : 'dd/MM' | uppercase
                }}</i
              >
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <!-- Fin momentaneo -->

  <!-- Texto cuando no haya stock del producto -->
  <div
    class="product-card__info"
    *ngIf="productData?.stockTienda === 0 && productData?.stockEmpresa === 0"
  >
    <ng-container>
      <div class="no_stock">
        <div class="text-center" style="margin: 0px; padding: 0">
          <span>Sujeto a disponibilidad </span>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- FIN texto cuando no haya stock -->

  <div class="product-card__actions">
    <ng-container>
      <div
        class="product-card__buttons"
        *ngIf="
          productData.stockTienda === undefined &&
          productData.stockEmpresa === undefined
        "
      >
        <button
          name="addToCart"
          [disabled]="!productData.precio"
          class="btn btn-secondary product-card__addtocart w-100"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
        <button
          name="add"
          [disabled]="!productData.precio"
          class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
        <button
          name="addingToWishlist"
          *ngIf="grid == 'list'"
          ngbTooltip="Tooltip on top"
          class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
          type="button"
          appClick
          (click)="addToWishlist()"
          [ngClass]="{ 'btn-loading': addingToWishlist }"
        >
          <i class="far fa-heart"></i>
        </button>
      </div>
      <div
        class="product-card__buttons"
        *ngIf="productData.stockTienda > 0 || productData.stockEmpresa > 0"
      >
        <button
          name="addToCart"
          [disabled]="!productData.precio"
          class="btn btn-secondary product-card__addtocart w-100"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
        <button
          name="add"
          [disabled]="!productData.precio"
          class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
        <button
          name="addingToWishlist"
          *ngIf="grid == 'list'"
          ngbTooltip="Tooltip on top"
          class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist"
          type="button"
          appClick
          (click)="addToWishlist()"
          [ngClass]="{ 'btn-loading': addingToWishlist }"
        >
          <i class="far fa-heart"></i>
        </button>
      </div>
      <div
        class="product-card__buttons"
        *ngIf="
          productData?.stockTienda === 0 && productData?.stockEmpresa === 0
        "
      >
        <button
          [routerLink]="
            root.product(productData.sku, productData.nombre, paramsCategory)
          "
          class="btn btn-secondary product-card__addtocart w-100"
          type="button"
          appClick
        >
          <div class="text-center" style="font-size: 14px">SOLICITAR</div>
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #popoverContent>
  <div class="mb-4 product_content" style="min-height: 140px">
    <a
      style="margin-bottom: 10px"
      appClick
      (click)="setOrigenBeforeFicha(); modalEscalaRef.hide()"
      [routerLink]="
        root.product(productData.sku, productData.nombre, paramsCategory)
      "
    >
      <span class="nombreP">
        {{ productData.nombre | slice : 0 : 30 | uppercase }} {{ ' ...' }}
      </span>
    </a>
    <table>
      <thead>
        <tr style="background-color: #094cac !important">
          <th>Volumen</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody *ngIf="preciosEscalas">
        <ng-container *ngFor="let precio of preciosEscalas; let i = index">
          <tr
            [ngStyle]="{
              'background-color': (i + 1) % 2 !== 0 ? '#efefef' : '#fff'
            }"
          >
            <td>
              <strong
                >{{ precio.desde }} -
                {{ precio.hasta === 999 ? 'y más' : precio.hasta - 1 }}
                und.</strong
              >
            </td>
            <td style="color: #0063b9">
              {{
                (!isVacio(usuario.iva)
                  ? usuario.iva
                    ? precio.precio
                    : precio.precio / (1 + IVA)
                  : precio.precio
                ) | currencyFormat
              }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template #modalEscala>
  <div class="modal-header">
    <button type="button" class="close" (click)="modalEscalaRef.hide()">
      <i class="fas fa-times-circle" style="color: #00549d"></i>
    </button>
  </div>
  <div class="modal-body" style="min-height: 140px">
    <div
      class="w-100 d-flex justify-content-center"
      style="margin-bottom: 4px"
    >
      <img
        src="../../../../assets/images/llevaMasPagaMenos/200x50_rectangular.jpg"
        style="z-index: 3"
        alt="precio escala"
      />
    </div>
    <div class="card text-white bg-implementos mb-3">
      <div class="card-body">
        <div
          class="text-center"
          style="margin-bottom: -10px; font-weight: bold"
        >
          Precios Escalas
        </div>
        <table>
          <thead>
            <tr style="background-color: #00549d !important">
              <td class="text-center">Volumen</td>
              <td class="text-center">Precio</td>
            </tr>
          </thead>
          <tbody class="table_paga" *ngIf="preciosEscalas">
            <ng-container *ngFor="let precio of preciosEscalas; let i = index">
              <tr
                style="color: #00549d"
                [ngStyle]="{
                  'background-color': (i + 1) % 2 !== 0 ? '#ffff' : '#efefef'
                }"
              >
                <td
                  style="width: 50%; border-end: solid 2px; color: #00549d"
                  *ngIf="precio.hasta !== 999"
                >
                  {{ precio.desde }} a {{ precio.hasta }} und.
                </td>
                <td
                  style="width: 50%; border-end: solid 2px; color: #00549d"
                  *ngIf="precio.hasta === 999"
                >
                  {{ precio.desde }} y más und.
                </td>
                <td
                  class="text-center"
                  style="width: 50%; border-start: solid 2px; color: #00549d"
                >
                  {{
                    (!isVacio(usuario.iva)
                      ? usuario.iva
                        ? precio.precio
                        : precio.precio / (1 + IVA)
                      : precio.precio
                    ) | currencyFormat
                  }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
