<app-topbar-mobile></app-topbar-mobile>
<div class="mobile-header sticky" *ngIf="Hidebar()">
  <div
    class="mobile-header__panel"
    style="padding-top: 8px; padding-bottom: 8px"
  >
    <div class="container">
      <div class="mobile-header__body">
        <button
          name="menu"
          class="mobile-header__menu-button"
          style="margin-top: 4.5px"
          (click)="menuCategorias.open(null, null)"
        >
          <i
            class="fa-regular fa-bars hamburguesa"
            style="font-size: 17px"
          ></i>
        </button>
        <a class="mobile-header__logo me-auto" [routerLink]="['/', 'inicio']">
          <img
            height="35"
            [src]="logoSrc"
            alt="logo-implementos"
            class="lazyload"
          />
        </a>

        <div class="mobile-header__indicators p-2">
          <div class="indicator indicator--mobile" style="margin-left: -8%">
            <a
              [routerLink]="['/', 'carro-compra']"
              class="indicator__button"
              style="flex-direction: column"
            >
              <span class="indicator__area" style="height: 32.5px !important">
                <img
                  src="../../../../../assets/svg/07.svg"
                  style="width: 26px; height: 26px; margin-top: 7px"
                  alt="carro"
                />

                <span class="indicator__value" style="margin-top: 8px">{{
                  cart.quantity$ | async
                }}</span>
              </span>
              <span class="icon-title" style="font-size: 0.5em !important">
                Carro
              </span>
            </a>
          </div>

          <!-- Ingreso cuenta usuario -->
          <app-mobile-header-account></app-mobile-header-account>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-header__panel" style="padding-bottom: 15px">
    <div class="container">
      <div class="mobile-header__body">
        <!-- BARRA DE BUSCADOR -->
        <app-mobile-search
          style="margin-top: 8px; width: 100%"
        ></app-mobile-search>
      </div>
    </div>
  </div>
</div>
<div class="bottomBar p-0 m-0 w-100"></div>

<app-modal-stores
  (template)="estableceModalTienda($event)"
  [modalRef]="modalRefTienda"
></app-modal-stores>
