<app-block-slideshow
  *ngIf="galeria"
  [withDepartments]="false"
></app-block-slideshow>

<!-- Muestra todo el apartado de productos lista, -->
<app-buttons-slideshow></app-buttons-slideshow>
<!-- Muestra el apartado de caja valor -->
<app-product-slideshow></app-product-slideshow>

<app-page-home></app-page-home>
<div
  *ngIf="marcas"
  class="container"
  style="background-color: white; padding: 20px"
>
  <app-block-brands-b2c
    *ngIf="marcas"
    [brands]="brandsB2c"
  ></app-block-brands-b2c>
</div>
