<ng-container *ngIf="products.length">
  <div *ngIf="seeProducts" class="dropcart__products-list">
    <ng-container *ngIf="products.length > 0">
      <div class="row m-0" class="mensaje-entrega mb-3">
        <div class="header">
          <i class="fas fa-check-circle" style="margin-right: 10px"></i>
          <span class="fw-bold"> Productos Disponible </span>
        </div>
        <app-products-list-summary-cart [products]="products">
        </app-products-list-summary-cart>
      </div>
    </ng-container>
    <ng-container *ngIf="shippingNotSupported.length > 0">
      <div class="row m-0" class="conflicto-entrega mb-3">
        <div class="header">
          <i class="fas fa-check-circle" style="margin-right: 10px"></i>
          <span class="fw-bold"> Productos Sin stock </span>
        </div>
        <app-products-list-summary-cart [products]="shippingNotSupported">
        </app-products-list-summary-cart>
      </div>
    </ng-container>
  </div>

  <div
    *ngIf="seePrices"
    class="dropcart__totals"
    [ngClass]="{ 'border-0': seeProducts == false }"
  >
    <table>
      <ng-container *ngIf="show">
        <tr>
          <th>Subtotal</th>
          <td>{{ total.subtotal | currencyFormat }}</td>
        </tr>
        <tr>
          <th>IVA</th>
          <td>{{ total.iva | currencyFormat }}</td>
        </tr>
        <tr>
          <th>Despacho</th>
          <td>{{ total.shipment | currencyFormat }}</td>
        </tr>
        <tr>
          <th>Total</th>
          <td class="fw-bold">{{ total.total | currencyFormat }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>
