<div class="site-header-item position-relative">
  <div
    class="indicator indicator--trigger--click list-header-stores"
    appDropdown="indicator--opened"
    #menuUser="appDropdown"
  >
    <button
      name="mi-cuenta"
      class="btn btn-lg btn-outline-light btn-rounded mr-3 dropdown-toggle"
      (click)="$event.preventDefault(); menuUser.toggle()"
    >
      Mi Cuenta
      <i class="far fa-user-circle ms-2"></i>
    </button>

    <div class="indicator__dropdown">
      <app-header-menu layout="topbar" [items]="menuAccount"></app-header-menu>
    </div>
  </div>
</div>
