.bg-white {
    background-color: #ffffff;
}

.departments__links>li:hover {
    background-color: #FFFFFF !important;
    background-position: center bottom;
    box-shadow: 0px 0px 10px 1px rgba(150, 150, 150, 0.5);
    color: #000;
}

.departments {
    border-radius: 4px;
    height: 3.5rem !important;
    margin-right: 1.875rem;
}

.departments__button {
    font-size: 0.9375rem;
    text-transform: capitalize;
}

.departments__links {
    background-color: #fff;
    color: #000000;
}

.departments__links>li>a {
    padding: 0.625rem 0.2rem;
    font-size: 0.875rem;
}

.menu>li:hover>a,
.menu>li:hover>button {
    background: #f2f2f2 !important;
    color: #000 !important;
}