<div class="card card-filtro" *ngIf="!collapsed && categorias.length > 0">
    <div class="d-flex flex-wrap flex-column mb-3">
        <div class="mt-4 text-center">
            <h5>CATEGORIAS</h5>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="text-center d-flex flex-column align-items-center" style="width: 160px; font-size: 1rem;" *ngFor="let item of categorias; let i = index">
                <a class="position-relative" [routerLink]="['/', 'inicio', 'productos', (word) ? word : 'todos', 'categoria', item.slug]" [queryParams]="queryParams" (click)="click()">
                    <img src="../../../../../../../assets/images/categorias/{{imagenes[i]}}" class="img-fluid" style="width: 130px;"
                        [alt]="item.name | capitalizeFirst">
                    <span class="badge badge-info">{{item.count}}</span>
                </a>
                <p class="card-text">{{item.name | capitalizeFirst}}</p>
            </div>
        </div>
    </div>
</div>
