.gallery {
  display: grid;
  grid-template-columns: repeat(8, 141px);
  grid-template-rows: repeat(6, 100px);
  grid-gap: 5px;
}

.gallery-tablet {
  display: block;
}

::ng-deep.carouselConcepto .owl-carousel .owl-stage-outer {
  @media (min-width: 576px) {
    position: relative;
    overflow: hidden;
    top: 7px;
    height: 400px;
    -webkit-transform: translate3d(0, 0, 0);
  }
  @media (max-width: 576px) {
    position: relative;
    overflow: hidden;
    top: 7px;
    height: 300px;
    margin-bottom: -20px;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

::ng-deep.carouselConcepto .owl-prev {
  @media (min-width: 576px) {
    left: -35px !important;
    font-size: 2rem !important;
    top: 45% !important;
    display: block !important;

    i {
      color: #094cac;
    }
  }
}

::ng-deep.carouselConcepto .owl-next {
  @media (min-width: 576px) {
    right: -35px !important;
    font-size: 2rem !important;
    top: 45% !important;
    display: block !important;

    i {
      color: #094cac;
    }
  }
}

::ng-deep.carouselConcepto .owl-carousel .owl-item img {
  display: block;
  width: 100% !important;
}

::ng-deep.carouselConcepto .owl-prev:hover {
  i {
    color: #094cac;
  }
}

::ng-deep.carouselConcepto .owl-next:hover {
  i {
    color: #094cac;
  }
}

::ng-deep.carouselConcepto .owl-carousel .owl-item {
  display: flex;
  border-radius: 20px;
  margin-right: 10px;
}

::ng-deep.carouselConcepto .owl-carousel .owl-stage {
  display: flex !important;
}

.cargandoCent {
  font-size: 2rem;
  height: 300px;
  padding-top: 5%;
  border: 1px solid #0063b9;
  border-radius: 20px;
}
::ng-deep.carouselConcepto .owl-dots {
  background: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
::ng-deep.carouselConcepto .owl-dot {
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background: #e0e0e0;
  margin-left: 5px;
}

::ng-deep.carouselConcepto .owl-dot.active {
  background: #094cac;
}


.customized-title {
  text-align: center;
  font-size: 39px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0px;
  border-bottom: 1px solid #0d61bb;
  color: #0d61bb;
  margin-top: -10px;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    margin: 0;
  }
}

.customized-title-h4 {
  margin-top: 10px;
  text-align: center;
  font: normal medium 900 39px/53px Avenir;
  letter-spacing: 0px;
  color: #0d61bb;

  @media (max-width: 768px) {
    margin-top: 10px;
    color: #0d61bb;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5
  }
}
@mixin grid-gallery($columns, $column-width, $rows, $row-height, $row-gap, $column-gap, $margin-left: 0) {
  display: grid;
  grid-template-columns: repeat($columns, $column-width);
  grid-template-rows: repeat($rows, $row-height);
  row-gap: $row-gap;
  column-gap: $column-gap;
  margin-left: $margin-left;
}

.grid-gallery {
  @include grid-gallery(8, 113px, 6, 100px, 5px, 5px, 25px);

  @media (max-width: 1040px) and (min-width: 769px) {
    @include grid-gallery(8, 92px, 6, 77px, 1px, 5px);
  }

  @media (max-width: 768px) {
    @include grid-gallery(8, 75px, 6, 77px, 1px, 1px);
  }
}

