.block-drop-down-file h1 {
  font-size: 24px;
  font-weight: bold;
  color: #00aa5b;
}

.block-drop-down-file p {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: justify;
  color: #0063b9;
}

.block-drop-down-file {
  border: none;
}

.block-drop-down-file i {
  color: #00aa5b;
  font-size: 2rem;
}

.block-drop-down-file {
  padding: 42px 120px;
}

.btn-link i {
  color: #1385ff;
}

.msgStatus {
  margin-top: 11vh;
}

.cargandoCent {
  font-size: 20px;
  height: 300px;
  padding-top: 10%;
}

@media only screen and (max-width: 2040px) and (min-width: 768px) {
  .col-6sb {
    flex-basis: 0;
    flex-grow: 1;
    padding-top: 30px;
    max-width: 70%;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .col-6sb {
    flex-basis: 0;
    flex-grow: 1;
    padding-top: 30px;
    max-width: 92%;
    margin-top: 10px;
  }

  .block-drop-down-file {
    padding: 40px 40px;
  }
}

@media only screen and (max-width: 991px) {
  .msgStatus {
    margin-top: 20vh;
  }
}
