@if(menub2c){
<div class="menu_b2c">
  <div class="row">
    <div class="col-sm-3" style="margin-top: 10px">
      <div class="site-header__logo">
        <a [routerLink]="['/', 'inicio']">
          <img
            height="110"
            [src]="logoSrc"
            alt="logo-implementos"
            class="lazyload"
          />
        </a>
      </div>
    </div>
    <div class="col-sm-3 d-flex justify-content-start align-items-center p-0">
      <div class="site-header_info">
        <i
          class="fas fa-bars fa-lg"
          style="margin-top: 15px; margin-right: 10px; font-size: 20px"
        ></i
        >Venta Telefónica {{ config.company.phone }}
      </div>
    </div>
    <div class="col-sm-3 d-flex justify-content-start align-items-center p-0">
      <div class="site-header_info">
        <i
          class="fas fa-envelope fa-lg"
          style="margin-top: 15px; margin-right: 10px; font-size: 20px"
        ></i>
        {{ config.company.email }}
      </div>
    </div>
    <div class="col-sm-3 d-flex justify-content-start align-items-center p-0">
      <div class="site-header_info">
        <i
          class="fas fa-truck fa-lg"
          style="margin-top: 15px; margin-right: 10px; font-size: 20px"
        ></i
        >Despacho por todo {{ config.country }}
      </div>
    </div>
  </div>
</div>
} @if(desde !== 'omni'){
<div
  class="site-header__topbar topbar custom-topbar"
  style="background-color: #009579; height: 38px"
>
  <div
    class="topbar__container container d-flex align-items-center justify-content-center"
  >
    @if (tipo === 'b2c') {
    <div class="topbar__row">
      <i class="fas fa-truck fa-lg me-2"></i>Por compras mayores a $60.000
      despacho GRATIS
    </div>
    } @else{
    <div class="topbar__row">
      <i class="fas fa-truck fa-lg me-2"></i>
      Despacho GRATIS
    </div>
    }
  </div>
</div>
}
