.product-card__sku a {
  font-size: 0.875rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}

.product-card__descripcion {
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
  max-height: 5.5625rem;
  overflow: hidden;
  margin-bottom: 2.5625rem;
}

.product-card--layout--horizontal .product-card__rating {
  margin-bottom: 0.875rem;
}

.product-card__new-price {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  width: 100%;
}

.product-card__save-price {
  margin-left: 1.875rem;
}

.product-card__old-price,
.product-card__save-price {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}

.product-card_div-price {
  margin-top: 0.5rem;
}

.product-card__addtocart {
  margin-right: auto;
  border-radius: 0px;
  float: right;
}

.icon-cart {
  display: inline-block;
  top: 0.3125rem;
  margin-left: 0.3125rem;
}

.btn.btn-svg-icon {
  width: auto;
}

.product-card__wishlist-grid {
  right: 10px;
  top: -3px;
  font-size: 1.5rem;
}

.product-card__quickview {
  padding: 0px;
  margin: 0px;
  right: 40px;
  width: auto;
  font-size: 1.5rem;
  top: 1px;
  color: #3d464d;
}

.product-card:hover .product-card__quickview {
  background: none;
}

.product-card:hover .listaBotones {
  visibility: visible !important;
}

.listaBotones {
  border: 1px solid #ccc;
  border-radius: 5px;
  visibility: hidden;
}

.addListaBoton {
  font-size: 0.75rem;
  height: calc(1.5rem + 2px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.optionsListaBoton {
  height: calc(1.5rem + 2px);
  border-left: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-card:hover
  .product-card__quickview:not(.product-card__quickview--preload):hover {
  color: #3d464d;
}

.btn.btn-svg-icon:hover {
  transform: scale(1.03) !important;
  background-color: #ccc;
  color: #000;
}

.product-card__addtocart {
  height: 2.625rem;
}

.product-card--layout--horizontal .product-card__new-price {
  text-align: left;
}

.product-card--layout--horizontal.product-card {
  padding: 2.5rem !important;
}

.product-card--layout--horizontal .product-card__info {
  margin: 0px;
  padding: 0 0 0 1.875rem !important;
}

.product-card--layout--horizontal .product-card__image {
  width: 18.75rem;
  padding: 0px;
}

.product-card--layout--horizontal .product-card__actions {
  bottom: 0;
}

.product-card__quickview {
  padding: 0px;
  margin: 0px;
  right: 20px;
  width: auto;
  font-size: 1.5rem;
  top: 1px;
}

.product-card--layout--horizontal .product-card__quickview {
  right: 2.5rem;
  top: 2.25rem;
}

.product-card--layout--horizontal .product-card__wishlist-grid {
  right: inherit;
  top: inherit;
  bottom: 40px;
  left: 40px;
  font-size: 1.25rem;
  height: auto;
  line-height: initial;
}

.product-card--layout--horizontal .heart-number {
  margin-left: 10px;
  font-size: 0.875rem;
  position: relative;
  top: -2px;
  display: initial;
  padding: 0px;
}

.product-card--layout--horizontal .floating-offers {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 0.6875rem 2.3125rem 0.6875rem 1.25rem;
  left: 0;
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
}

.product-card__buttons {
  padding: 0px;
  margin-top: 2px;
}

.new_price {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  width: 100%;
}

.imgH {
  width: 80% !important;
}

.imgC {
  width: 50% !important;
}

/* .p-5 {
    padding: 0rem !important;
    padding: 0px 2px !important;
} */

.icon-cart {
  float: left;
  top: 0px;
}

.agregar {
  font-size: 1.3rem;
  top: 0px;
  float: right;
}

.product-card__name h2 {
  font-size: 1rem;
}

.nombreP {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  font-size: 1.1rem;
}

.skuP {
  font-size: 0.7rem;
}

.marcaP {
  font-size: 1rem;
  font-weight: bold;
  color: #10753d;
}

@media (max-width: 479px) {
  .product-card__quickview {
    display: none;
  }
  .marcaP {
    font-size: 0.8rem;
    font-weight: bold;
    color: #10753d;
  }
  .marcaP .imagen_marca {
    width: 100%;
    position: relative;
    z-index: 3;
    margin-top: -1.8rem;
    margin-bottom: -1.2rem;
  }
  .nombreP {
    margin-top: 9px !important;
    padding-top: 5px !important;
    margin-bottom: 0px !important;
    font-size: 0.9rem;
  }
  .skuP {
    font-size: 0.5rem;
  }
  /* .product-card__wishlist-grid {
        display: none;
    } */
  .product-card {
    margin: 2px 6px;
    width: 97%;
  }
  .p5 {
    padding: 0rem !important;
    padding: 0px 12px !important;
  }
  .product-card__info {
    padding: 0 5px 0px !important;
  }
  .product-card__name,
  .product-card__name h2 {
    font-size: 0.9em !important;
    padding-bottom: 0px;
  }
  .product-card__sku {
    padding: 5px 0px 5px 0px !important;
  }
  .product-card__rating {
    display: none;
  }
  .product-card__buttons {
    padding: 0.43rem !important;
  }
  .product-card__new-price {
    font-size: 1.2rem !important;
  }
  .icon-cart {
    width: 10px;
    float: left;
    top: -2px;
  }
  .agregar {
    font-size: 0.9rem;
    top: -3px;
  }
  .products-list__item {
    height: 270px !important;
  }
  .product-card__badges-list {
    font-size: 0.7rem !important;
    left: 5px !important;
  }
  .product-card__badges-list-right {
    right: 5px !important;
    text-align: right !important;
  }
  .badge_cyber {
    text-align: right !important;
    height: 38px;
    width: 38px;
  }
  .new_price {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    width: 100%;
  }
  .product-card__old-price,
  .product-card__save-price {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #b2b2b2;
  }
}

@media (max-width: 768px) {
  .float-left.product-card__old-price {
    float: none !important;
  }
}

::ng-deep.imgProductoTooltip > div.tooltip-inner {
  max-width: 400px !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
}

.dropdown-toggle::before {
  display: none;
}
