//Nuevo
.card {
  border-radius: 8px;
  color: #333;
  background: #fff !important;
  width: 100%;
  border: solid 1px #0063b9;
  padding: 18px;
  box-shadow: none;
}
.card-header {
  border-bottom: solid 1px #0063b9 !important;
  display: flex;
  justify-content: space-between;
}
.cart-img {
  width: 74px;
}

.text-compras {
  font-size: 18px;
  color: #0063b9;
  font-weight: bold;
}

.text-fechas {
  font-size: 14px;
  color: #0063b9;
  font-weight: bold;
}

.btn-outline-primary {
  color: #0063b9 !important;
  border-color: #0063b9;
  border: solid 1px #0063b9 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #0063b9;
  border-color: #0063b9;
}

.cargandoCent {
  font-size: 16px;
  height: 200px;
  padding-top: 5%;
}

.product-title {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0063b9;
  margin-bottom: 0.2rem;
}

.product-sku {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #0063b9;
  margin-bottom: 0.2rem;
}

.btn-secondary {
  border-color: #009579;
  background: #009579;
  border-radius: 4px;
}
