<div class="container-addbutton" *ngIf="HideButton() === false">
  <div class="row w-100">
    <app-input-number
      aria-label="Quantity"
      class="product__quantity number-quantity text-center w-50 mt-2 p-3"
      size="lg"
      [min]="1"
      [formControl]="cantidad"
      (quantity)="updateCart($event)"
    >
    </app-input-number>

    <button
      name="Agregar"
      type="button"
      *ngIf="disponibilidad"
      class="btn btn-secondary btn-lg w-100 text-center btn-add-cart button-primary-medium-large w-50"
      [ngClass]="{ 'btn-loading': addingToCart }"
      appClick
      (click)="addToCart()"
    >
      <i class="fas fa-shopping-cart"></i>
      Agregar
    </button>
    <button
      *ngIf="!disponibilidad"
      disabled
      name="Agregar "
      type="button"
      class="btn btn-warning btn-lg w-100 text-center btn-add-cart w-50"
      [ngClass]="{ 'btn-loading': addingToCart }"
      appClick
      style="background-color: #8a8984"
    >
      <i class="fas fa-shopping-cart" style="margin-right: 5px"></i>
      SIN STOCK
    </button>
  </div>
</div>
