.active {
  font-weight: bold;
  color: #0060b4;
}

.filter--opened .filter__title {
  font-weight: bold;
}

.filter-categories__item {
  display: block;
  max-height: 18.75rem;
  overflow-y: auto;
}

.filter-categories__item .fas {
  position: absolute;
  top: 13px;
  left: 1.2rem;
}

.filter-categories__item > a {
  padding: 5px 10px;
  display: block;
  // font-weight: bold;
  padding-left: 1rem;
}

.children {
  margin-left: 1.5rem;
}

.children a {
  padding: 5px 27px 5px 10px;
  display: block;
}

.filter-selected {
  border: 1px solid #0063b9;
  padding: 5px 20px 5px 10px;
  color: #0063b9;
  font-weight: bold;
  border-radius: 4px;
  position: relative;
  display: block;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

.filter-selected i {
  position: absolute;
  right: 5px;
  bottom: 0;
  top: 50%;
  transform: translate(0%, -50%);
  color: #e5e5e5;
}

.filter-selected:hover i {
  color: #0063b9;
}

.div-separated {
  border-bottom: 1px solid #ccc;
  margin: 0.5rem -1.25rem 0px;
}

.filter__title i {
  position: absolute;
  right: 1rem;
  font-size: 1rem;
}

.filter__title i:hover {
  color: #0063b9;
}

.inside-children {
  position: relative;
}

.inside-children i {
  position: absolute;
  top: 4px;
  right: 12px;
  z-index: 1;
  font-size: 1rem;
}

.inside-children i:hover {
  color: #0063b9;
  cursor: pointer;
}

.inside-children .filter-categories__counter,
.children .filter-categories__counter {
  margin-right: 8px;
}

.inside-children i[aria-expanded='true'] {
  &::before {
    content: '\f11d';
  }
}

.filter--opened .flaticon-027-down-arrow:before {
  transform: rotate(360deg);
}

.mensaje-filtros-ocultos {
  color: #5b5b5b;
}

.mensaje-filtros-ocultos i {
  display: block;
  font-size: 3rem;
  margin: 1rem 0;
  opacity: 0.2;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
  padding: 0px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  // border-radius: 50%;
  background: #fff;
}

.tree summary::before {
  z-index: 1;
  color: #0063b9;
  background: #fff url('../../../../assets/svg/expand-collapse.svg') 0 0;
}

.tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}

@media (max-width: 900px) {
  .widget-filters {
    margin-top: 95px !important;
  }
}
