<div class="widget-filters widget" appCollapse>
  <ng-container
    *ngIf="removableFiltersArray.length || removableCategory.length"
  >
    <div class="widget-filters__list">
      <div class="widget-filters__item filter--opened">
        <div class="filter__title">
          Filtros seleccionados
          <i
            title="Quitar todos los filtros"
            (click)="removeAllFilters()"
            class="fas fa-times"
          ></i>
        </div>
        <div class="filter__body m-0">
          <div class="filter__container pt-2">
            <h1
              *ngFor="let item of removableCategory"
              (click)="removeCategory()"
              class="filter-selected"
            >
              {{ item.text }}
              <i class="fas fa-times"></i>
            </h1>
            <ng-container *ngFor="let item of removableFiltersArray">
              <ng-container *ngIf="marca_tienda === ''">
                <h1 (click)="removeFilter(item)" class="filter-selected">
                  {{ item.value }}
                  <i class="fas fa-times"></i>
                </h1>
              </ng-container>
              <ng-container *ngIf="marca_tienda !== ''">
                <ng-container *ngIf="item.field !== 'filter_MARCA'">
                  <h1 (click)="removeFilter(item)" class="filter-selected">
                    {{ item.value }}
                    <i class="fas fa-times"></i>
                  </h1>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="div-separated"></div>
  </ng-container>

  <div class="widget-filters__list widget-filters__list-body">
    <div
      *ngFor="let filter of filters; let i = index"
      class="widget-filters__item"
    >
      <div
        class="filter"
        [ngClass]="{ 'filter--opened': !filter?.collapsed }"
        appCollapseItem="filter--opened"
        #collapse="appCollapseItem"
      >
        <button
          name="collapse"
          type="button"
          class="filter__title"
          (click)="collapse.toggle()"
          *ngIf="['checkbox', 'radio'].includes(filter.type) && !filtrosOculto"
        >
          {{ filter.name | capitalizeFirst }}
          <i class="fimanager flaticon-027-down-arrow"></i>
        </button>
        <button
          name="toggle"
          type="button"
          class="filter__title"
          (click)="collapse.toggle()"
          *ngIf="filter.type == 'categories'"
        >
          {{ filter.name | capitalizeFirst }}
          <i class="fimanager flaticon-027-down-arrow"></i>
        </button>

        <div
          *ngIf="filter.type == 'checkbox' && i == 1 && filtrosOculto"
          class="col text-center mensaje-filtros-ocultos"
        >
          <i class="fas fa-filter"></i>
          Debe seleccionar una categoría para ver los filtros
        </div>

        <div class="filter__body" appCollapseContent>
          <div class="filter__container">
            <div
              *ngIf="filter.type === 'categories'"
              class="filter-categories"
            >
              <ul class="tree pt-2 ps-2 pe-4 pt-lg-0 ps-lg-0 pe-lg-0">
                <li *ngFor="let lvl1 of filter.options.items | slice : 0 : 5">
                  <details class="ms-2" [open]="lvl1.open">
                    <summary>
                      <a
                        routerLinkActive="active"
                        [routerLink]="lvl1.url"
                        class="mb-2 d-flex justify-content-between"
                        [ngClass]="{ active: lvl1.checked }"
                        [queryParams]="lvl1.queryParams"
                        (click)="marcarCategorias(lvl1)"
                      >
                        <div
                          class="text-truncate me-2"
                          [tooltip]="lvl1.name | capitalizeFirst"
                        >
                          {{ lvl1.name | capitalizeFirst }}
                        </div>
                        <div>({{ lvl1.count }})</div>
                      </a>
                    </summary>
                    <ul *ngIf="lvl1.children.length > 0">
                      <li *ngFor="let lvl2 of lvl1.children">
                        <details class="ml-2" [open]="lvl2.open">
                          <summary>
                            <a
                              routerLinkActive="active"
                              [routerLink]="lvl2.url"
                              class="mb-2 d-flex justify-content-between"
                              [ngClass]="{ active: lvl2.checked }"
                              [queryParams]="lvl2.queryParams"
                              (click)="marcarCategorias(lvl2)"
                            >
                              <div
                                class="text-truncate me-2"
                                [tooltip]="lvl2.name | capitalizeFirst"
                              >
                                {{ lvl2.name | capitalizeFirst }}
                              </div>
                              <div>({{ lvl2.count }})</div>
                            </a>
                          </summary>
                          <ul *ngIf="lvl2.children.length > 0">
                            <li *ngFor="let lvl3 of lvl2.children">
                              <a
                                routerLinkActive="active"
                                [routerLink]="lvl3.url"
                                class="mb-2 d-flex justify-content-between"
                                [ngClass]="{ active: lvl3.checked }"
                                [queryParams]="lvl3.queryParams"
                                (click)="marcarCategorias(lvl3)"
                              >
                                <div
                                  class="text-truncate mx-2"
                                  [tooltip]="lvl3.name | capitalizeFirst"
                                >
                                  {{ lvl3.name | capitalizeFirst }}
                                </div>
                                <div>({{ lvl3.count }})</div>
                              </a>
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>

              <hr />

              <button
                name="filtros"
                _ngcontent-serverapp-c20=""
                class="filter__title"
                type="button"
              >
                <i class="fas fa-sliders-h"></i>
                Filtros
              </button>
            </div>

            <div
              *ngIf="
                (filter.type === 'radio' || filter.type === 'checkbox') &&
                !filtrosOculto
              "
              class="filter-list"
            >
              <div class="filter-list__list">
                <label
                  *ngFor="let item of filter.options.items"
                  class="filter-list__item"
                  [ngClass]="{ 'filter-list__item--disabled': item.disabled }"
                >
                  <span
                    *ngIf="filter.type === 'checkbox'"
                    class="filter-list__input input-check"
                  >
                    <span class="input-check__body">
                      <input
                        class="input-check__input"
                        type="checkbox"
                        [checked]="item.checked"
                        [(ngModel)]="item.checked"
                        [disabled]="item.disabled"
                        (change)="marcaCheckBox()"
                        [value]="item.label"
                      />
                      <span class="input-check__box"></span>
                      <app-icon
                        class="input-check__icon"
                        name="check-9x7"
                        size="19x19"
                      >
                      </app-icon>
                    </span>
                  </span>

                  <span
                    *ngIf="filter.type === 'radio'"
                    class="filter-list__input input-radio"
                  >
                    <span class="input-radio__body">
                      <input
                        class="input-radio__input"
                        [name]="filter.options.name"
                        type="radio"
                        [checked]="item.checked"
                        [disabled]="item.disabled"
                      />
                      <span class="input-radio__circle"></span>
                    </span>
                  </span>

                  <span class="filter-list__title">{{
                    item.label | capitalizeFirst
                  }}</span>
                  <!-- FIXME: indica la cantidad de resultados que deberían aparecer al presionar el filtro. Pero el número no corresponde y se debe solucionar desde el endpoint -->
                  <!--<span *ngIf="item.count" class="filter-list__counter">{{
                    item.count
                  }}</span> -->
                </label>
              </div>
              <hr />
            </div>

            <div *ngIf="filter.type === 'color'" class="filter-color">
              <div class="filter-color__list">
                <label
                  *ngFor="let item of filter.options.items"
                  class="filter-color__item"
                >
                  <span
                    class="filter-color__check input-check-color"
                    [ngClass]="{
                      'input-check-color--white': item.white,
                      'input-check-color--light': item.light
                    }"
                    [style.color]="item.color"
                  >
                    <label class="input-check-color__body">
                      <input
                        class="input-check-color__input"
                        type="checkbox"
                        [checked]="item.checked"
                        [disabled]="item.disabled"
                      />
                      <span class="input-check-color__box"></span>
                      <app-icon
                        class="input-check-color__icon"
                        name="check-12x9"
                        size="12x9"
                      >
                      </app-icon>
                      <span class="input-check-color__stick"></span>
                    </label>
                  </span>
                </label>
              </div>
            </div>

            <div
              *ngIf="filter.type === 'price' && isPlatformBrowser"
              class="filter-price"
            >
              <!-- <div class="filter-price__slider">
                  <div class="ng5-slider-custom">
                      <ng5-slider [value]="filter.options.from" [highValue]="filter.options.to"
                          [options]="{animate: false, mouseEventsInterval: 10, rightToLeft: rightToLeft, floor: filter.options.min, ceil: filter.options.max, step: 1}"
                          #slider></ng5-slider>
                  </div>
              </div>
              <div class="filter-price__title">
                  Precio:
                  <span
                      class="filter-price__min-value">{{ (rightToLeft ? slider.highValue : slider.value)|currencyFormat }}</span>
                  –
                  <span
                      class="filter-price__max-value">{{ (rightToLeft ? slider.value : slider.highValue)|currencyFormat }}</span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ver todos los resultados (categorias) -->
<ng-template #template_buscador>
  <div class="modal-header" style="background-color: #baddfc">
    <h3 class="modal-title pull-left" style="font-size: 16px; color: #0060b4">
      Todas las categorías
    </h3>
    <button
      name="modalRef"
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class=".container-fluid">
      <div class="row">
        <div class="col">
          <div *ngFor="let filter of filters">
            <div
              *ngIf="filter.type === 'categories'"
              class="filter-categories"
            >
              <ul class="filter-categories__list">
                <li
                  *ngFor="
                    let item of filter.options.items | slice : 0 : 5;
                    let i = index
                  "
                  class="filter-categories__item filter-categories__item--{{
                    item.type
                  }}"
                >
                  <a
                    routerLinkActive="active"
                    [routerLink]="item.url"
                    [queryParams]="item.queryParams"
                    (click)="marcarCategorias(item)"
                    style="font-size: 14px; line-height: 1.6"
                  >
                    {{ item.name | capitalizeFirst }} ({{ item.count }})
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div *ngFor="let filter of filters | slice : 0 : 5">
            <div
              *ngIf="filter.type === 'categories'"
              class="filter-categories"
            >
              <ul class="filter-categories__list">
                <li
                  *ngFor="
                    let item of filter.options.items | slice : 5;
                    let i = index
                  "
                  class="filter-categories__item filter-categories__item--{{
                    item.type
                  }}"
                >
                  <a
                    routerLinkActive="active"
                    [routerLink]="item.url"
                    [queryParams]="item.queryParams"
                    (click)="marcarCategorias(item)"
                    [ngClass]="{ active: item.checked }"
                    style="font-size: 14px; line-height: 1.6"
                  >
                    {{ item.name | capitalizeFirst }} ({{ item.count }})
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
