<div class="site-footer__widget footer-contacts">
    <h5 class="footer-contacts__title">Sobre Nosotros</h5>

    <div class="footer-contacts__text text-justify">
        Implementos es la red de repuestos insumos y accesorios para camiones, buses y remolques más grande del país.
    </div>

    <ul class="footer-contacts__contacts text-justify">
        <li><i class="footer-contacts__icon fas fa-globe-americas"></i> {{ store.address }}</li>
        <li style="font-size: 1.3rem;"><i class="footer-contacts__icon fas fa-phone center"
                style="font-weight: 700;"></i>
            <a href="tel:800330088">{{ store.phone.join(', ') }}</a>
        </li>
        <li><i class="footer-contacts__icon far fa-clock"></i> {{ store.hours }}</li>
    </ul>
</div>
