<div
  class="megamenu"
  [ngClass]="{ 'megamenu--departments shadow': departments }"
  style="z-index: 40000"
>
  <em>holaaa megamenu</em>
  <div class="row m-0 pb-3">
    <div
      *ngFor="let column of menu.columns; index as j"
      class=" col-{{ column.size }}"
      [ngClass]="{
        'mt-3': (column.size == 4 && j > 2) || (column.size == 6 && j > 1)
      }"
    >
      <ul class="megamenu__links megamenu__links--level--0">
        <li
          (click)="toggle()"
          *ngFor="let item of column.items"
          class="megamenu__item"
          [ngClass]="{ 'megamenu__item--with-submenu': item.items }"
        >
          <a
            title="{{ item.label | capitalizeFirst }}"
            *ngIf="!item.external"
            class="text-truncate"
            (click)="toggle()"
            [routerLink]="item.url"
            [target]="item.target"
            >{{ item.label | capitalizeFirst }}</a
          >
          <a
            title="{{ item.label | capitalizeFirst }}"
            *ngIf="item.external"
            class="text-truncate"
            (click)="toggle()"
            [routerLink]="item.url"
            [target]="item.target"
            >{{ item.label | capitalizeFirst }}</a
          >

          <ul
            *ngIf="item.items"
            class="megamenu__links megamenu__links--level--1"
          >
            <li
              (click)="toggle()"
              *ngFor="let subItem of item.items"
              class="megamenu__item text-truncate"
            >
              <a
                title="{{ subItem.label | capitalizeFirst }}"
                class="text-truncate d-block"
                *ngIf="!subItem.external"
                [routerLink]="subItem.url"
                [target]="subItem.target"
                >{{ subItem.label | capitalizeFirst }}</a
              >
              <a
                title="{{ subItem.label | capitalizeFirst }}"
                class="text-truncate d-block"
                *ngIf="subItem.external"
                [routerLink]="subItem.url"
                [target]="subItem.target"
                >{{ subItem.label | capitalizeFirst }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
