<div>
  <div
    class="top-bar-categories d-flex align-items-center mb-3"
    [class.p-0]="innerWidth < 450"
    [class.ps-4]="innerWidth < 450"
    (window:resize)="onResize($event)"
  >
    <div class="title d-flex align-items-center me-auto">
      <i _ngcontent-serverapp-c11="" class="fas fa-file-invoice me-3"></i>
      <h5>Listado de cotizaciones</h5>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-xl-12">
      <div class="card">
        <ng-container *ngIf="innerWidth < 450">
          <div class="card-body table-responsive mobile-container">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="hover datatable nowrap table-shadow"
            >
              <thead>
                <tr>
                  <th>Cotización</th>
                </tr>
              </thead>
              <tbody *ngIf="orders?.length != 0">
                <tr *ngFor="let item of orders">
                  <td class="mobile-data-cell">
                    <strong>Fecha: </strong>
                    {{ item.modificacion | date : "dd-MM-yyyy HH:mm" }}<br />
                    <strong>Folio: </strong> {{ item?.numero }}<br />
                    <strong>Monto: </strong> {{ item?.totalOv | currencyFormat
                    }}<br />
                    <strong>Tipo Entrega: </strong>
                    {{
                      item?.tipoEntrega === "VEN- RPTDA"
                        ? "Retiro Tienda"
                        : item?.tipoEntrega === "VEN- DPCLI"
                        ? "Despacho Domicilio"
                        : item?.tipoEntrega === "VEN- RTCLI"
                        ? "Entrega Inmediata"
                        : ""
                    }}<br /><br />
                    <strong>Vendedor: </strong>
                    {{ item?.vendedor === null ? "Web" : item.vendedor
                    }}<br /><br />

                    <div class="options">
                      <div class="btn-group" dropdown>
                        <button
                          name="Opciones"
                          id="button-basic"
                          dropdownToggle
                          type="button"
                          class="btn btn-border-primary dropdown-toggle"
                        >
                          Opciones
                          <span class="caret"></span>
                        </button>
                        <ul
                          id="dropdown-basic"
                          *dropdownMenu
                          class="dropdown-menu dropdown-menu-right"
                          role="menu"
                          aria-labelledby="button-basic"
                        >
                          <li role="menuitem">
                            <a
                              class="dropdown-item"
                              routerLink="/carro-compra/downloadpdf"
                              [queryParams]="{ numero: item?.numero }"
                            >
                              <i class="far fa-file-pdf"></i>
                              Descargar cotización
                            </a>
                          </li>
                          <li role="menuitem">
                            <button
                              name="Agregar-carro"
                              class="dropdown-item"
                              (click)="convertirACarro(item)"
                            >
                              <i class="fas fa-cart-plus"></i>
                              Agregar al carro
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="orders?.length == 0">
                <tr>
                  <td colspan="2" class="no-data-available">
                    No hay registros a mostrar!
                  </td>
                </tr>
              </tbody>

              <tbody></tbody>
            </table>
          </div>
        </ng-container>
        <ng-container *ngIf="innerWidth > 450">
          <div class="card-body table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="hover datatable nowrap table-shadow"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Folio</th>
                  <th>Monto</th>
                  <th>Tipo Entrega</th>
                  <th>Vendedor</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngIf="orders?.length != 0">
                <tr *ngFor="let item of orders">
                  <td>{{ item.modificacion | date : "dd-MM-yyyy HH:mm" }}</td>
                  <td>{{ item?.numero }}</td>
                  <td>{{ item?.totalOv | currencyFormat }}</td>
                  <td>
                    {{
                      item?.tipoEntrega === "VEN- RPTDA"
                        ? "Retiro Tienda"
                        : item?.tipoEntrega === "VEN- DPCLI"
                        ? "Despacho Domicilio"
                        : item?.tipoEntrega === "VEN- RTCLI"
                        ? "Entrega Inmediata"
                        : ""
                    }}
                  </td>
                  <td>{{ item?.vendedor === null ? "Web" : item.vendedor }}</td>

                  <td>
                    <div class="btn-group" dropdown>
                      <button
                        name="Opciones"
                        id="button-basic"
                        dropdownToggle
                        type="button"
                        class="btn btn-border-primary dropdown-toggle"
                      >
                        Opciones
                        <span class="caret"></span>
                      </button>
                      <ul
                        id="dropdown-basic"
                        *dropdownMenu
                        class="dropdown-menu dropdown-menu-right"
                        role="menu"
                        aria-labelledby="button-basic"
                      >
                        <li role="menuitem">
                          <a
                            class="dropdown-item"
                            target="_blank"
                            routerLink="/carro-compra/downloadpdf"
                            [queryParams]="{ numero: item?.numero }"
                          >
                            <i class="far fa-file-pdf"></i>
                            Descargar cotización
                          </a>
                        </li>
                        <li role="menuitem">
                          <button
                            name="Agregar-carro"
                            class="dropdown-item"
                            (click)="convertirACarro(item)"
                          >
                            <i class="fas fa-cart-plus"></i>
                            Agregar al carro
                          </button>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="orders?.length == 0">
                <tr>
                  <td colspan="5" class="no-data-available">
                    No hay registros a mostrar!
                  </td>
                </tr>
              </tbody>

              <tbody></tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
