<div class="container-fluid container-set" *ngIf="!config">
    <div class="timing">{{timing}}</div>
    <div class="row" *ngIf="layouts.length > 0">
        <ng-container *ngFor="let item of layouts">
            <div class="col-4 pd7" *ngIf="item.col === 4">
                <app-template-card-producto-tv *ngIf="item.tipo === 'producto'" [layout]="item"></app-template-card-producto-tv>
                <app-template-card-video-tv *ngIf="item.tipo === 'videoTv'" [layout]="item"></app-template-card-video-tv>
                <app-template-card-imagenes-tv *ngIf="item.tipo === 'imagenesTv'" [layout]="item"></app-template-card-imagenes-tv>
            </div>
            <div class="col-6 pd7" *ngIf="item.col === 6">
                <app-template-card-producto-tv *ngIf="item.tipo === 'producto'" [layout]="item"></app-template-card-producto-tv>
                <app-template-card-video-tv *ngIf="item.tipo === 'videoTv'" [layout]="item"></app-template-card-video-tv>
                <app-template-card-imagenes-tv *ngIf="item.tipo === 'imagenesTv'" [layout]="item"></app-template-card-imagenes-tv>
            </div>
            <div class="col-8 pd7" *ngIf="item.col === 8">
                <app-template-card-producto-tv *ngIf="item.tipo === 'producto'" [layout]="item"></app-template-card-producto-tv>
                <app-template-card-video-tv *ngIf="item.tipo === 'videoTv'" [layout]="item"></app-template-card-video-tv>
                <app-template-card-imagenes-tv *ngIf="item.tipo === 'imagenesTv'" [layout]="item"></app-template-card-imagenes-tv>
            </div>
            <div class="col-12 pd7" *ngIf="item.col === 12">
                <app-template-card-producto-tv *ngIf="item.tipo === 'producto'" [layout]="item"></app-template-card-producto-tv>
                <app-template-card-video-tv *ngIf="item.tipo === 'videoTv'" [layout]="item"></app-template-card-video-tv>
                <app-template-card-imagenes-tv *ngIf="item.tipo === 'imagenesTv'" [layout]="item"></app-template-card-imagenes-tv>
            </div>
        </ng-container>
    </div>
    <!-- Footer -->
    <!-- FIXME NO EXISTE VARIABLE tiendaSel -->
    <!-- <app-template-card-footer-tv [tiendaSel]="tiendaSel"></app-template-card-footer-tv> -->
    <!-- FIXME  -->
    <app-template-card-footer-tv></app-template-card-footer-tv>
</div>

<!-- Configuracion -->
<div class="container mt-5" *ngIf="config">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <i class="fa-solid fa-bookmark" style="margin: 0 3px;"></i> Etiqueta:<br>
                    <input type="text" class="form-control mb-3" id="etiqueta" [value]="dataConfig.etiqueta" placeholder="Identificador unico por pantalla">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <i class="fa-solid fa-shop"></i> Seleccione tienda
                    <select class="custom-select round-input" id="tienda">
                        <option value="">SELECCIONE...</option>
                        <option *ngFor="let tienda of tiendas" [value]="tienda.codigo" [selected]="dataConfig.tiendaSel === tienda.zona?true:false">{{tienda.zona}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary mt-3" (click)="saveConfig()">Guardar configuraci&oacute;n</button>
                </div>
            </div>
        </div>
        <div class="col-9">
            <i class="fa-solid fa-arrows-repeat-1"></i> Seleccione cronograma
            <div class="row">
                <div class="col-4 mb-3" style="cursor: pointer;" *ngFor="let item of cronogramas" (click)="selectCrono(item._id)">
                    <div class="card" [class.seleccion]="idCrono === item._id" [class.noSelec]="idCrono !== item._id">
                        <div class="card-header" style="color: #3f51b5;">{{item.nombre}}</div>
                        <div class="card-body" style="font-size: 12px;">
                            <div class="row">
                                <div class="col-12">
                                    <table>
                                        <tr>
                                            <td>Fecha Inicio:&nbsp;</td>
                                            <td>{{item.fechaIni | date:'short'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Fecha Fin:&nbsp;</td>
                                            <td>{{item.fechaFin | date:'short'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Autor:&nbsp;</td>
                                            <td>{{item.autor}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>