<div class="modal-header">
  <h5 class="modal-title pull-left">
    <i class="fas fa-list-alt me-2"></i>
    <span style="font-size: 16px"
      >Productos en lista "{{ lista.nombre | capitalizeFirst }}"</span
    >
  </h5>
  <button
    name="ModalRef"
    type="button"
    class="btn-close pull-right"
    aria-label="Close"
    (click)="ModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-4">
  <div style="max-height: 450px; overflow-y: auto">
    <div class="d-flex flex-wrap justify-content-center flex-column">
      <div
        class="d-sm-flex align-items-center flex-grow-1 flex-shrink-1 border-bottom"
        *ngFor="let product of lista.detalleSkus"
      >
        <div class="col-12 d-block d-sm-none text-center">
          <span class="product-title"> {{ product.nombre | titlecase }} </span
          ><br />
          <span class="product-sku text-gray-2"> {{ product.marca }} </span
          ><br />
          <span class="product-sku text-gray-2"
            >{{ getCodigoCliente(product) }}
            {{ getCodigoCliente(product) != "" ? " - " : "" }}
            {{ product.sku }}</span
          >
        </div>

        <div class="col-xs-12 col-sm-2 text-center align-items-center">
          <a [routerLink]="rootService.product(product.sku, product.nombre)">
            <img
              class="precio-img lazyload"
              [src]="rootService.getUrlImagenMiniatura(product)"
              [alt]="product.nombre"
            />
          </a>
        </div>
        <div class="col-8 col-sm-5 d-flex align-items-center">
          <span class="product-title d-none d-sm-block">
            {{ product.nombre | titlecase }}
          </span>
        </div>
        <div class="col-lg-2 d-none d-lg-flex align-items-center">
          <span class="product-sku text-gray-2"> {{ product.marca }} </span>
        </div>
        <div
          class="col-8 col-sm-2 flex-sm-column justify-content-xl-end justify-content-center d-flex align-items-center"
        >
          <span class="product-sku ms-2 d-none d-sm-block">
            {{ getCodigoCliente(product) }}
          </span>
          <span class="product-sku text-gray-2 ms-2 d-none d-sm-block">
            {{ product.sku }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button name="Cerrar" class="btn btn-secondary" (click)="ModalRef.hide()">
    Cerrar
  </button>
</div>
