<div class="row">
  <img class="img-fluid" src="/assets/images/stores/banner2.JPG" />
</div>
<div class="row bg-primary">
  <a #informacionTienda id="informacionTienda"></a>
  <h1 class="text-center text-white py-2 mb-0 d-none d-md-block">
    {{ config.storesPage.title }}
  </h1>
  <h4 class="text-center text-white py-2 mb-0 d-block d-md-none">
    {{ config.storesPage.title }}
  </h4>
</div>

<div class="row text-white bg-dark">
  <h1 class="text-center py-2 d-none d-md-block">
    {{ config.storesPage.subtitle }}
  </h1>
  <h5 class="text-center py-2 d-block d-md-none">
    {{ config.storesPage.subtitle }}
  </h5>
</div>
<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-12 card-group">
      @if (selectedStore) {
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 pb-2 pb-md-0">
              <div style="border: 1px solid #00549d">
                @if (isMapLoaded) {
                <google-map
                  height="420px"
                  width="100%"
                  [options]="options"
                  [center]="center"
                >
                  @for (position of markerPositions; track position) {
                  <map-marker
                    [position]="position"
                    [options]="markerOptions"
                  />
                  }
                </google-map>
                }
              </div>
            </div>
            <div
              class="col-sm-12 col-md-6 col-lg-6 px-0"
              style="background-color: #e5e5e5"
            >
              <div
                class="card-header bg-primary text-white text-center py-2 px-1"
              >
                <h4>Tienda {{ selectedStore.zone }}</h4>
              </div>
              <div class="card-body p-4">
                <div class="row">
                  <div class="contact__content">
                    <div class="contact__address">
                      <ul>
                        <li>
                          <h6>
                            <i class="fa fa-map-marker"></i>&nbsp;Direccion
                          </h6>
                          <p>{{ selectedStore.address }}</p>
                        </li>
                        <li>
                          <h6><i class="fa fa-phone"></i>&nbsp;Fono</h6>
                          <p>
                            <span>
                              <a [href]="'tel:' + selectedStore.phone2">{{
                                selectedStore.phone2
                              }}</a>
                            </span>
                          </p>
                        </li>
                        <li>
                          <h6><i class="fa fa-clock"></i>&nbsp;Horarios</h6>
                          <p>{{ selectedStore.schedule }}</p>
                        </li>
                        <li>
                          <h6><i class="fa fa-map"></i>&nbsp;Mapa</h6>
                          <p>
                            <a [href]="selectedStore.mapUrl"
                              >Ver en Google Maps</a
                            >
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="row justify-content-center my-5">
    @for (zone of storesByZone; track $index) {
    <div class="col-md-4 card-group">
      <div class="card p-0">
        <div class="card-header bg-primary text-white text-center py-2 px-1">
          <h6>{{ zone.title }}</h6>
        </div>
        <div class="card-body pt-1">
          @for (store of zone.stores; track $index) {
          <div
            (click)="showStoreDetail(store, true)"
            class="pointer box text-start"
          >
            <h4 class="fw-bolder fs-5">
              <i class="fas fa-chevron-right" style="margin-right: 10px"></i>
              {{ store.zone }}
            </h4>
          </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
