<div class="row">
  <img class="img-fluid" src="/assets/images/stores/banner2.JPG" />
</div>

<div class="row" class="bg-primary">
  <a id="informacionTienda"></a>
  <h1 class="text-center text-white py-2 mb-0" *ngIf="innerWidth > 768">
    {{ config.storesPage.title }}
  </h1>
  <h4 class="text-center text-white py-2 mb-0" *ngIf="innerWidth <= 768">
    {{ config.storesPage.title }}
  </h4>
</div>

<div class="row" class="text-white bg-dark">
  <h1 class="text-center py-2" *ngIf="innerWidth > 768">
    {{ config.storesPage.subtitle }}
  </h1>
  <h5 class="text-center py-2" *ngIf="innerWidth <= 768">
    {{ config.storesPage.subtitle }}
  </h5>
</div>

<div class="container" (window:resize)="onResize($event)">
  <div class="row justify-content-center mb-5" *ngIf="innerWidth > 426">
    <div class="col-md-12 card-group">
      <div class="card" *ngIf="selectedStore">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <app-map
                [storeAddress]="selectedStore.address"
                [storeZone]="selectedStore.zone"
              ></app-map>
            </div>
            <div
              class="col-sm-12 col-md-6 col-lg-6 px-0"
              style="background-color: #e5e5e5"
            >
              <div
                class="card-header bg-primary text-white text-center py-2 px-1"
              >
                <h4>Tienda {{ selectedStore.zone }}</h4>
              </div>
              <div class="card-body p-5" *ngIf="selectedStore">
                <div class="row" style="font-size: large">
                  <div class="col-md-12 mt-3">
                    <div class="row ps-4">
                      <div class="col-md-4 ps-0">
                        <i class="fas fa-home"></i> Dirección :
                      </div>
                      <div class="col-6 col-sm-8 ps-2">
                        <span
                          class="ps-1"
                          [ngStyle]="{
                            'font-size': innerWidth <= 768 ? '15px' : '1em'
                          }"
                        >
                          {{ selectedStore.address }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="row ps-4">
                      <div class="col-md-4 ps-0">
                        <i class="fas fa-phone-alt"></i> Fono :
                      </div>
                      <div class="col-6 col-sm-8 ps-2">
                        <span
                          class="ps-1"
                          [ngStyle]="{
                            'font-size': innerWidth <= 768 ? '15px' : '1em'
                          }"
                        >
                          <a [href]="'tel:' + config.company.formattedPhone">{{
                            config.company.phone
                          }}</a>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row ps-4">
                      <div class="col-md-4 ps-0">
                        <i class="fas fa-map-marker-alt"></i> Maps :
                      </div>
                      <div class="col-6 col-sm-8 ps-2">
                        <a
                          class="ps-1"
                          [href]="selectedStore.mapUrl"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          Ver mapa
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 mb-3">
                    <div class="row ps-4">
                      <div class="col-md-4 ps-0">
                        <i class="far fa-clock"></i> Horarios :
                      </div>
                      <div class="col-6 col-sm-8 ps-2">
                        <span
                          class="ps-1"
                          [ngStyle]="{
                            'font-size': innerWidth <= 768 ? '12px' : '1em'
                          }"
                        >
                          {{ selectedStore.schedule }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5" *ngIf="stores.length">
    <div class="col-md-4 card-group">
      <div class="card p-0">
        <div class="card-header bg-primary text-white text-center py-2 px-1">
          <h6>ZONA NORTE</h6>
        </div>
        <div class="card-body px-1">
          <div *ngFor="let store of stores | slice : 0 : 6">
            <div
              (click)="showStoreDetail(store)"
              aria-expanded="false "
              aria-controls="collapseExample "
              class="pointer box text-start"
            >
              <h4 class="tienda">
                <img
                  class="inline-icon lazyload"
                  src="./assets/images/next.png "
                  alt="Icono "
                />{{ store.zone }}
              </h4>
            </div>

            <div [collapse]="store.isCollapsed" class="caja-detalle">
              <app-colapse
                [store]="store"
                [innerWidth]="innerWidth"
              ></app-colapse>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-group">
      <div class="card p-0">
        <div class="card-header bg-primary text-white text-center py-2 px-1">
          <h6>ZONA CENTRO</h6>
        </div>
        <div class="card-body px-1">
          <div *ngFor="let store of stores | slice : 6 : 16">
            <div
              (click)="showStoreDetail(store)"
              aria-expanded="false "
              aria-controls="collapseExample "
              class="pointer box text-start"
            >
              <h4 class="tienda">
                <img
                  class="inline-icon lazyload"
                  src="./assets/images/next.png "
                  alt="Icono "
                />{{ store.zone }}
              </h4>
            </div>

            <div [collapse]="store.isCollapsed" class="caja-detalle">
              <app-colapse
                [store]="store"
                [innerWidth]="innerWidth"
              ></app-colapse>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 card-group">
      <div class="card p-0">
        <div class="card-header bg-primary text-white text-center py-2 px-1">
          <h6>ZONA SUR</h6>
        </div>
        <div class="card-body">
          <div *ngFor="let store of stores | slice : 16">
            <div
              (click)="showStoreDetail(store)"
              aria-expanded="false "
              aria-controls="collapseExample "
              class="pointer box text-start"
            >
              <h4 class="tienda">
                <img
                  class="inline-icon lazyload"
                  src="./assets/images/next.png "
                  alt="Icono "
                />{{ store.zone }}
              </h4>
            </div>

            <div [collapse]="store.isCollapsed" class="caja-detalle">
              <app-colapse
                [store]="store"
                [innerWidth]="innerWidth"
              ></app-colapse>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
