.dropdown-input {
    height: 36px;
    text-align: right;
    margin: 0 auto;
    z-index: 999;
}

::ng-deep .ng-dropdown-panel-items {
    z-index: 9999999 !important;
}

.dropdown-input > span {
    position: absolute;
    left: 6px;
    top: 6px;
}

.dropdown-input-input {
    height: 36px;
}

.date-input {
    height: 36px;
}

@media only screen and (min-width: 768px) {
    .input-container {
        margin-bottom: 4px;
    }
}