.dropcart__product-name,
.dropcart__product-meta {
    font-size: 0.75rem;
}

.dropcart__product-meta {
    margin: 0;
}

.dropcart__product-info {
    font-size: 0.85rem;
}

.dropcart__products-list {
    padding: 0;
}

.dropcart__product-sku {
    font-size: 0.75rem;

}

tr.td-discount {
    color: #dc3545;
    font-weight: bold
}

.conflicto-entrega {
    border: 1px solid #9E9E9E;
    max-height: 250px;
    overflow: auto;
}

.conflicto-entrega .header {
    background: #9E9E9E;
    color: #fff;
    padding: .5rem 1rem;
    margin-bottom: .6rem;
}

.conflicto-entrega .footer {
    padding: .5rem 1rem;

}

.mensaje-entrega {
    border: 1px solid #0063b9;
    max-height: 250px;
    overflow: auto;
}

.mensaje-entrega .header {
    background: #0063b9;
    color: #fff;
    padding: .5rem 1rem;
    margin-bottom: .6rem;
}

.mensaje-entrega .footer {
    padding: .5rem 1rem;
    font-size: 14px;
    margin-top: .5rem;
}

.dropcart__products-list {
    overflow: hidden;
    max-height: 500px;
}
