<div class="container-fluid container-block pb-0">
  <div class="container">
    <app-block-header
      [header]="'ENCUÉNTRANOS CERCA DE TÍ'"
      [subTitle]="'UTILIZA EL BOTÓN DE UBICACIÓN AUTOMATICA'"
    >
    </app-block-header>
  </div>

  <div class="block-map__body">
    <div class="row p-0 block-map">
      <div class="col-6 offset-3">
        <div class="block-map-absolute row">
          <div class="input-group col-8 p-0 col-button-search">
            <input
              placeholder="Encuentranos"
              class="form-control form-control-lg input-map"
            />
            <div class="input-group-append">
              <button
                name="mapa"
                class="btn btn-lg btn-secondary"
                type="button"
              >
                <i class="fas fa-map-marker-alt"></i>
              </button>
            </div>
          </div>

          <div class="input-group col-4 p-0 col-button-search-select">
            <ng-select
              [clearable]="false"
              [searchable]="false"
              [items]="countries"
              bindLabel="nombre"
              bindValue="id"
              class="form-control form-control-lg input-map-select"
              [(ngModel)]="country"
            >
            </ng-select>
            <div class="input-group-append">
              <button name="mapa2" class="btn btn-lg btn-primary" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <iframe
      height="792"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13300.411954848514!2d-70.7183878302246!3d-33.55070039999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662db8f5ea94569%3A0xd1a7b94ca35d0143!2sImplementos+S.A.!5e0!3m2!1ses-419!2scl!4v1561075645421!5m2!1ses-419!2scl"
      frameborder="0"
      style="border: 0; width: 100%"
      allowfullscreen
    ></iframe>

    <div class="button-map text-center">
      <button name="mas-cerca" class="btn btn-primary btn-lg">
        <i class="fas fa-car"></i> Ir al más cercano
      </button>
    </div>
  </div>
</div>
