<div class="product product--layout--standard" *ngIf="product">
  <div class="product__content_232 d-flex row px-sm-4">
    <!--  NOMBRE VERSION MOVIL -->
    <div class="col-12 d-block d-sm-none">
      <h5 class="mb-1 text-start">{{ product.name | capitalizeFirst }}</h5>
    </div>

    <!-- DESKTOP  TABLET  MOBILE -->
    <!-- Imagenes -->
    <div class="product__gallery mb-0 col-12 col-lg-6 ps-lg-0">
      <div class="product-gallery" *ngIf="showGallery">
        <div class="row">
          <div
            class="col-sm-3 d-none d-lg-flex justify-content-center align-items-center"
          >
            <div class="w-100 h-100 p-2 relative">
              <div
                class="d-block vertical-owl-carousel"
                *ngIf="images.length > 1"
              >
                <owl-carousel-o [options]="customThumbsOptions">
                  <ng-container *ngFor="let slide of images">
                    <ng-template class="w-100 h-100" carouselSlide>
                      <img
                        (click)="setActiveImage(slide.id)"
                        [alt]="product.name"
                        [src]="slide.url"
                      />
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-9 ps-lg-0">
            <div
              class="product-gallery__featured position-relative"
              style="border: 1px solid #aaa"
            >
              <div
                class="col float-end"
                *ngIf="cyber || cyberMonday || isOfficial"
                style="position: absolute; top: 2px; right: 2px; z-index: 2"
              >
                <picture *ngIf="cyberMonday > 0">
                  <img
                    [src]="IMAGE_URL + '/uploads/cyber/cyberMonday.webp'"
                    height="100px"
                    width="100px"
                    class="float-end"
                  />
                </picture>
                <picture *ngIf="isOfficial">
                  <img
                    [src]="imageOEM | replace : 'png' : 'svg'"
                    height="100px"
                    width="100px"
                    class="float-end"
                  />
                </picture>

                <picture *ngIf="cyber > 0 && cyberMonday === 0">
                  <img
                    [src]="IMAGE_URL + '/uploads/cyber/cyber.webp'"
                    alt=""
                    height="80px"
                    width="80px"
                    class="float-end"
                  />
                </picture>
              </div>
              <!-- Start::muestra la marca sobre la imagen activa -->
              <div
                style="
                  position: absolute;
                  bottom: 10px;
                  right: 2px;
                  z-index: 100;
                "
              >
                <div
                  class="float-end"
                  *ngIf="
                    product.brand == 'BLACKSMITH' ||
                    product.brand == 'SUNTECH' ||
                    product.brand == 'INDIANA' ||
                    product.brand == 'RANDON' ||
                    product.brand == 'SCANIA'
                  "
                >
                  <img
                    [src]="
                      IMAGE_URL + '/marcas/small/' + product.brand + '.png'
                    "
                    [alt]="product.brand"
                  />
                </div>
              </div>
              <!-- End::muestra la marca sobre la imagen activa -->

              <owl-carousel-o
                (changed)="featuredCarouselTranslated($event)"
                [options]="carouselOptions"
                appOwlPreventClick
                #featuredCarousel
              >
                <ng-container *ngFor="let image of images">
                  <ng-template
                    carouselSlide
                    [id]="image.id"
                    *ngIf="!image.video"
                  >
                    <a
                      appClick
                      href="{{ image.url }}"
                      (click)="openPhotoSwipe($event, image)"
                      target="_blank"
                    >
                      <img
                        [src]="image.url"
                        [alt]="product.name"
                        class="lazyload"
                        (error)="root.errorLoadImage($event)"
                        #imageElement
                      />
                    </a>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DESKTOP  TABLET -->
    <!-- Información Ficha -->
    <div class="col-12 col-lg-6 ps-lg-4 mt-3 mt-lg-0 d-none d-sm-block">
      <div>
        <div class="d-flex justify-content-between mb-1">
          <div>
            {{
              product.brand
                | replace : '^SIN MARCA$' : 'IMPLEMENTOS'
                | replace : '^0$' : 'IMPLEMENTOS'
            }}
          </div>
          <app-product-rating
            [producto]="product"
            (comentarioGuardado)="comentarioGuardado.emit(true)"
            (leerComentarios)="leerComentarios.emit(true)"
            [evaluationSummary]="evaluationSummary"
          />
        </div>
        <div class="d-flex justify-content-between">
          <h5 class="product__name mb-1">
            {{ product.name | capitalizeFirst }}
          </h5>
          <app-share-button
            [producto]="product"
            class="mt-2"
          ></app-share-button>
        </div>
        <div class="row">
          <div class="col">
            <p class="mb-2">
              <span class="text-lowercase">{{ product.description }}</span>
            </p>
          </div>
        </div>
        <div class="row justify-content-start px-3">
          <div style="color: black">
            <strong>SKU {{ product.sku }}</strong>
            <span class="ms-2" *ngIf="stock" style="color: #408b00"
              ><strong>EN STOCK</strong></span
            >
            <span class="ms-2 text-danger" *ngIf="!stock"
              ><strong>SUJETO A DISPONIBILIDAD</strong></span
            >
          </div>
        </div>

        <hr class="mb-0" />
        <div
          class="row justify-content-start px-3 my-2"
          *ngIf="dataProduct.priceInfo.scalePrice.length > 1"
        >
          <div
            class="masXmenosTitle"
            (click)="showScalePrices()"
            style="cursor: pointer"
          >
            <img
              src="../../../../assets/images/llevaMasPagaMenos/200x50_rectangular.jpg"
              style="z-index: 3"
            />
          </div>
        </div>

        <!-- INICIO TEXTO DE SIN STOCK Y FORMULARIO PARA COMUNICARSE -->
        <div
          *ngIf="!stock"
          class="row px-3 mt-3"
          style="display: flex; gap: 1.8rem"
        >
          <div style="display: flex; flex-direction: column; width: 46%">
            <div style="height: 198px">
              <div
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 15px;
                  background-color: #db0632;
                  color: white;
                  text-align: justify;
                  border-radius: 6px;
                  height: 180px;
                  margin-top: 5px;
                "
              >
                <p>
                  Puedes enviar un mensaje al Whatsapp o completar el
                  formulario para solicitar el producto. Uno de nuestros
                  ejecutivos te responderá a la brevedad.
                </p>
              </div>
            </div>
            <div class="my-2">
              <button
                type="button"
                (click)="sendWhatsappMessage()"
                class="btn btn-md w-100 text-center"
                style="background-color: #27a844; color: white"
              >
                <i class="fa-brands fa-whatsapp" style="margin-right: 4px"></i>
                Enviar Whatsapp
              </button>
            </div>
          </div>
          <div style="width: 46%">
            <form [formGroup]="formProductRequest">
              <div style="height: 198px">
                <div class="row" style="gap: 1rem">
                  <div class="col-md-12">
                    <label
                      for="customerName"
                      style="color: #0063b9; font-weight: 100"
                      >Nombre*:</label
                    >
                    <div class="input-group">
                      <input
                        type="text"
                        formControlName="customerName"
                        class="form-control form-control-sm"
                        id="customerName"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label
                      for="customerPhone"
                      style="color: #0063b9; font-weight: 100"
                      >Teléfono*:</label
                    >
                    <div class="input-group">
                      <input
                        type="text"
                        formControlName="customerPhone"
                        class="form-control form-control-sm"
                        id="customerPhone"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label for="email" style="color: #0063b9; font-weight: 100"
                      >Correo Electrónico*:</label
                    >
                    <div class="input-group">
                      <input
                        type="customerEmail"
                        formControlName="customerEmail"
                        class="form-control form-control-sm"
                        id="customerEmail"
                        autocomplete="off"
                      />
                      <div
                        class="invalid-feedback"
                        style="margin-bottom: 10px"
                        *ngIf="
                          (formProductRequest.get('customerEmail')?.touched ||
                            formProductRequest.get('customerEmail')?.dirty) &&
                          formProductRequest.get('customerEmail')?.invalid
                        "
                      >
                        Correo no es válido
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="my-2">
              <button
                type="button"
                (click)="sendEmail()"
                class="btn btn-md btn-secondary w-100 text-center"
                [disabled]="formProductRequest.invalid"
              >
                Enviar
              </button>
            </div>
          </div>
        </div>
        <!-- FIN TEXTO DE SIN STOCK Y FORMULARIO PARA COMUNICARSE -->
      </div>

      <div *ngIf="stock" class="clearfix"></div>

      <div>
        <div *ngIf="stock" class="product__sidebar col-12 p-0">
          <div
            class="product__prices"
            [class.my-4]="dataProduct.priceInfo.scalePrice.length <= 1"
            [class.my-0]="dataProduct.priceInfo.scalePrice.length > 1"
          >
            <ng-container *ngIf="product.price">
              <div class="row">
                <div class="col-md-12">
                  <!-- // test -->
                  <span
                    *ngIf="product?.priceInfo?.documentId != '0'"
                    tooltip="Precio con descuento cliente"
                    class="text-price-product me-2 text-danger"
                    [ngStyle]="{
                      'font-size.rem':
                        dataProduct.priceInfo.scalePrice.length > 1
                          ? '1.6'
                          : '2'
                    }"
                    >{{ product.priceInfo.price | currencyFormat }}</span
                  >

                  <span
                    *ngIf="product.priceInfo.documentId == '0'"
                    class="text-price-product me-2"
                    [ngStyle]="{
                      'font-size.rem':
                        dataProduct.priceInfo.scalePrice.length > 1
                          ? '1.6'
                          : '2'
                    }"
                    >{{ product.priceInfo.price | currencyFormat }}</span
                  >

                  <span
                    *ngIf="
                      product.priceInfo.commonPrice != product.priceInfo.price
                    "
                    tooltip="Precio normal"
                    class="product__old-price me-2"
                    [ngStyle]="{
                      'font-size.rem':
                        dataProduct.priceInfo.scalePrice.length > 1
                          ? '1.6'
                          : '2'
                    }"
                    >{{ product.priceInfo.commonPrice | currencyFormat }}</span
                  >

                  <span class="text-civa">
                    {{ session.preferences.iva ? 'c/iva' : 's/iva' }}
                  </span>
                </div>
              </div>
            </ng-container>

            <span
              *ngIf="!product.price"
              class="d-block w-100 text-start text-uppercase"
              >...</span
            >
          </div>
          <hr class="mt-0" />

          <form class="product__options" *ngIf="innerWidth > 450">
            <div class="mb-2">
              <div class="row m-0 align-items-center">
                <div class="col-sm-5 ps-5">
                  <div class="d-flex flex-column">
                    <span> Cantidad </span>
                    <app-input-number
                      aria-label="Quantity"
                      class="product__quantity number-quantity text-center w-100"
                      size="lg"
                      [min]="1"
                      [formControl]="quantity"
                      (quantity)="refreshProductPrice($event)"
                    >
                    </app-input-number>
                  </div>
                </div>

                <!-- BOTON PARA DESKTOP y TABLET -->
                <div class="col-sm-7 d-none d-sm-block">
                  <button
                    *ngIf="isAvailable"
                    name="Agregar "
                    type="button "
                    class="btn btn-secondary btn-lg w-100 text-center btn-add-cart w-100"
                    [ngClass]="{
                      'btn-loading': addingToCart
                    }"
                    appClick
                    (click)="addToCart()"
                  >
                    <i class="fas fa-shopping-cart"></i> AGREGAR
                  </button>
                  <button
                    *ngIf="!isAvailable"
                    disabled
                    name="Agregar "
                    type="button"
                    class="btn btn-warning btn-lg w-100 text-center btn-add-cart w-100"
                    [ngClass]="{ 'btn-loading': addingToCart }"
                    appClick
                    style="background-color: #8a8984"
                  >
                    <i
                      class="fas fa-shopping-cart"
                      style="margin-right: 5px"
                    ></i>
                    SIN STOCK
                  </button>
                </div>
              </div>
            </div>
            <div class="row px-3" *ngIf="quantityToScalePrice && !isB2B">
              <div
                class="col-12 text-danger px-3"
                *ngIf="quantityToScalePrice === 1"
              >
                <small
                  >Falta {{ quantityToScalePrice }} producto para llevar más y
                  pagar menos</small
                >
              </div>
              <div
                class="col-12 text-danger px-3"
                *ngIf="quantityToScalePrice > 1"
              >
                <small
                  >Faltan {{ quantityToScalePrice }} productos para llevar más
                  y pagar menos</small
                >
              </div>
            </div>
          </form>

          <hr />

          <div class="row px-3 justify-content-end">
            <!-- Start::opciones de entrega (desktop) -->
            <div class="col-12" style="margin-bottom: 10px">
              <app-despacho
                *ngIf="selectedStore"
                [product]="product"
                [selectedStore]="selectedStore"
                [cantidad]="quantity.value"
              ></app-despacho>
            </div>
            <!-- End::opciones de entrega (desktop) -->

            <!-- Start::wishlist -->
            <div *ngIf="isB2B" class="listaBotones d-flex">
              <button
                name="addingToWishlist"
                class="addListaBoton btn btn-light btn-svg-icon px-2"
                type="button"
                appClick
                (click)="addToWishlistOptions()"
                [ngStyle]="{
                  color: isProductOnList ? '#10753d' : '#3d464d'
                }"
                [ngClass]="{ 'btn-loading': addingToWishlist }"
              >
                <i class="fa-solid fa-list-check fa-lg me-2"></i>
                {{
                  isProductOnList
                    ? 'Agregado a tus listas'
                    : 'Agregar a una lista'
                }}
              </button>
            </div>
            <!-- End::wishlist -->
          </div>
        </div>
      </div>
    </div>

    <!-- MOBILE -->
    <!-- Información Ficha -->
    <div
      *ngIf="showMobile"
      class="col-12 col-lg-6 ps-lg-4 mt-0 mt-lg-0 d-block d-sm-none"
    >
      <div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="product__prices my-3">
            <ng-container *ngIf="product.price">
              <div class="row">
                <div class="col-md-12">
                  <span
                    *ngIf="product.priceInfo.documentId != '0'"
                    tooltip="Precio con descuento cliente"
                    class="text-price-product me-2 text-danger"
                    style="font-size: 2rem"
                    >{{ product.priceInfo.price | currencyFormat }}</span
                  >

                  <span
                    *ngIf="product.priceInfo.documentId == '0'"
                    class="text-price-product me-2"
                    style="font-size: 2rem"
                    >{{ product.priceInfo.price | currencyFormat }}</span
                  >

                  <span
                    *ngIf="
                      product.priceInfo.commonPrice != product.priceInfo.price
                    "
                    tooltip="Precio normal"
                    class="product__old-price me-2"
                    style="font-size: 2rem"
                    >{{ product.priceInfo.commonPrice | currencyFormat }}</span
                  >

                  <span class="text-civa">
                    {{ session.preferences.iva ? 'c/iva' : 's/iva' }}
                  </span>
                </div>
              </div>
            </ng-container>

            <span
              *ngIf="!product.price"
              class="d-block w-100 text-start text-uppercase"
              >...</span
            >
          </div>
          <div>
            <app-share-button
              [producto]="product"
              class="mt-2"
            ></app-share-button>
          </div>
        </div>
        <div class="row justify-content-start px-3 mb-1">
          <div style="color: #bbb">
            SKU {{ product.sku }}
            <span class="ms-2" *ngIf="stock" style="color: #408b00"
              ><strong>EN STOCK</strong></span
            >
            <span class="ms-2 text-danger" *ngIf="!stock"
              ><strong>SUJETO A DISPONIBILIDAD</strong></span
            >
          </div>
        </div>
        <div class="d-flex justify-content-start mb-1">
          <div>
            {{
              product.brand
                | replace : '^SIN MARCA$' : 'IMPLEMENTOS'
                | replace : '^0$' : 'IMPLEMENTOS'
            }}
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <p class="mb-2">
              <span class="text-lowercase">{{ product.description }}</span>
            </p>
          </div>
        </div>
        <form *ngIf="stock" class="product__options">
          <div class="row" *ngIf="quantityToScalePrice && !isB2B">
            <div class="col-12 text-danger">
              <small
                style="font-weight: bolder !important"
                *ngIf="quantityToScalePrice === 1"
                >Falta {{ quantityToScalePrice }} producto para llevar más y
                pagar menos</small
              >
              <small
                style="font-weight: bolder !important"
                *ngIf="quantityToScalePrice > 1"
                >Faltan {{ quantityToScalePrice }} productos para llevar más y
                pagar menos</small
              >
            </div>
          </div>
        </form>
        <!-- Start::texto sin stock y formulario de contacto -->
        <ng-container *ngIf="!stock">
          <hr style="background-color: red" />
          <div class="row px-3 mt-2">
            <div style="display: flex; flex-direction: column">
              <div style="height: 145px">
                <div
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    background-color: #db0632;
                    color: white;
                    text-align: justify;
                    border-radius: 6px;
                    height: 128px;
                    margin-top: 5px;
                  "
                >
                  <p>
                    Puedes enviar un mensaje al Whatsapp o completar el
                    formulario para solicitar el producto. Uno de nuestros
                    ejecutivos te responderá a la brevedad.
                  </p>
                </div>
              </div>
              <div class="my-2">
                <button
                  type="button"
                  (click)="sendWhatsappMessage()"
                  class="btn btn-md w-100 text-center"
                  style="background-color: #27a844; color: white"
                >
                  <i
                    class="fa-brands fa-whatsapp"
                    style="margin-right: 4px"
                  ></i>
                  Enviar Whatsapp
                </button>
              </div>
            </div>

            <div class="mt-3">
              <form [formGroup]="formProductRequest">
                <div style="height: 198px">
                  <div class="row" style="gap: 1rem">
                    <div class="col-md-12">
                      <label
                        for="customerName"
                        style="color: #0063b9; font-weight: 100"
                        >Nombre:</label
                      >
                      <div class="input-group">
                        <input
                          type="text"
                          formControlName="customerName"
                          class="form-control form-control-sm"
                          id="customerName"
                          autocomplete="off"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label
                        for="customerPhone"
                        style="color: #0063b9; font-weight: 100"
                        >Teléfono*:</label
                      >
                      <div class="input-group">
                        <input
                          type="text"
                          formControlName="customerPhone"
                          class="form-control form-control-sm"
                          id="customerPhone"
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label
                        for="email"
                        style="color: #0063b9; font-weight: 100"
                        >Correo Electrónico:</label
                      >
                      <div class="input-group">
                        <input
                          type="customerEmail"
                          formControlName="customerEmail"
                          class="form-control form-control-sm"
                          id="customerEmail"
                          autocomplete="off"
                        />
                        <div
                          class="invalid-feedback"
                          style="margin-bottom: 10px"
                          *ngIf="
                            (formProductRequest.get('customerEmail')
                              ?.touched ||
                              formProductRequest.get('customerEmail')
                                ?.dirty) &&
                            formProductRequest.get('customerEmail')?.invalid
                          "
                        >
                          Correo no es válido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="my-2">
                <button
                  type="button"
                  (click)="sendEmail()"
                  class="btn btn-md btn-secondary w-100 text-center"
                  [disabled]="formProductRequest.invalid"
                >
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- End::texto sin stock y formulario de contacto -->

        <!-- <hr class="mb-0" /> -->
        <div
          class="row justify-content-start px-3 my-2"
          *ngIf="dataProduct.priceInfo.scalePrice.length > 1 && !isB2B"
        >
          <div class="masXmenosTitle" (click)="showScalePrices()">
            <img
              src="../../../../assets/images/llevaMasPagaMenos/200x50_rectangular.jpg"
              style="z-index: 3"
            />
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <!-- <h1>stock</h1> -->

      <div *ngIf="stock">
        <div class="product__sidebar col-12 p-0">
          <hr />
          <!-- Start::opciones de despacho (mobile)-->
          <div class="row px-3">
            <div class="col-12">
              <app-despacho
                *ngIf="selectedStore && !estado"
                [product]="product"
                [selectedStore]="selectedStore"
                [cantidad]="quantity.value"
              ></app-despacho>
            </div>
          </div>
          <!-- End::opciones de despacho (mobile)-->

          <hr />
          <div>
            <div class="d-flex justify-content-center">
              <app-product-rating
                [producto]="product"
                (comentarioGuardado)="comentarioGuardado.emit(true)"
                (leerComentarios)="leerComentarios.emit(true)"
                [evaluationSummary]="evaluationSummary"
              />
            </div>
          </div>

          <!-- Start::wishlist (mobile) -->
          <div *ngIf="isB2B" class="listaBotones d-flex">
            <button
              name="addingToWishlist"
              class="addListaBoton btn btn-light btn-svg-icon px-2"
              type="button"
              appClick
              (click)="addToWishlist()"
              [ngStyle]="{ color: isProductOnList ? '#10753d' : '#3d464d' }"
              [ngClass]="{ 'btn-loading': addingToWishlist }"
            >
              {{
                isProductOnList
                  ? 'Agregado a tus listas'
                  : 'Agregar a una lista'
              }}
            </button>
            <button
              name="addingToWishlistOptions"
              style="width: 40px"
              class="optionsListaBoton btn btn-light btn-svg-icon px-2"
              type="button"
              appClick
              (click)="addToWishlistOptions()"
              [ngClass]="{ 'btn-loading': addingToWishlist }"
            >
              <i class="fas fa-ellipsis-v fa-lg"></i>
            </button>
          </div>
          <!-- End::wishlist (mobile)-->
          <!-- ficha para facebook-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- botton add card en movile -->
<app-addcart-button
  [disponibilidad]="isAvailable"
  (quantity)="refreshProductPrice($event)"
  class="d-block d-sm-none"
></app-addcart-button>
<!-- botton add card en movile / end -->
