.container-step {
  z-index: 2;
  position: relative;
}

.step .number {
  height: 4.8125rem;
  width: 4.8125rem;
  background: #f3f3f3;
  display: block;
  border-radius: 4.8125rem;
  text-align: center;
  color: #b2b2b2;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.5rem;
  border: 2px solid #b2b2b2;
}

.step .subtitle {
  color: #b2b2b2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.step .number-right::before {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #b2b2b2;
  position: absolute;
  z-index: -1;
  top: 32px;
  bottom: 0;
}

.icon-down {
  color: #b2b2b2;
}

i {
  font-size: 31px;
  margin-top: 10px;
}
