<div class="container">
  <div class="card h-100">
    <div class="card-header bg-primary p-0 p-1"></div>
    <div class="card-body-c">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <ng-container *ngIf="objeto.banner">
            <div class="card mb-medium">
              <img
                class="img-fluid"
                [src]="objeto.banner"
                alt=""
                style="height: 10.5729375rem"
              />
            </div>

            <ng-container
              *ngFor="
                let producto of objeto.productos | slice : 0 : 2;
                let i = index
              "
            >
              <div class="card mb-4" *ngIf="i == 0">
                <div class="row">
                  <div class="col-md-6">
                    <div class="text-center">
                      <img
                        class="img-fluid img-prod"
                        src="https://images.implementos.cl/img/1000/{{
                          producto.sku
                        }}-1.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card" style="border: none !important">
                      <div class="card-body pb-0">
                        <ng-container
                          *ngFor="let atributo of producto.atributos"
                        >
                          <div class="body-producto">
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="
                                atributo.nombre !== 'precio' &&
                                atributo.nombre !== 'nombre' &&
                                atributo.nombre !== 'precio escala'
                              "
                            >
                              {{ atributo.valor | slice : 0 : 40 }}
                            </div>
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="atributo.nombre == 'nombre'"
                            >
                              {{ atributo.valor | titlecase }}
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div *ngIf="precios" class="card-footer pt-0 px-3">
                        <app-icon
                          *ngIf="carro"
                          name="cart-20"
                          size="25"
                          class="float-start icon-chat shadow-lg ps-2 pt-1 pointer pt-2"
                          (click)="addToCart(producto)"
                        ></app-icon>

                        <div
                          *ngIf="producto.rut == '0' && producto.precioEsp == 0"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio con descuento cliente"
                          class="product-card__new-price text-danger"
                        >
                          {{ producto.precioEsp | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio normal"
                          class="product-card__old-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="producto.precio == producto.precioEsp"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="i == 1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card" style="border: none !important">
                      <div class="card-body pb-0">
                        <ng-container
                          *ngFor="let atributo of producto.atributos"
                        >
                          <div class="body-producto">
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="
                                atributo.nombre !== 'precio' &&
                                atributo.nombre !== 'nombre' &&
                                atributo.nombre !== 'precio escala'
                              "
                            >
                              {{ atributo.valor | slice : 0 : 40 }}
                            </div>
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="atributo.nombre == 'nombre'"
                            >
                              {{ atributo.valor | titlecase }}
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div *ngIf="precios" class="card-footer pt-0 px-3">
                        <app-icon
                          *ngIf="carro"
                          name="cart-20"
                          size="25"
                          class="float-start icon-chat shadow-lg ps-2 pt-1 pointer pt-2"
                          (click)="addToCart(producto)"
                        ></app-icon>

                        <div
                          *ngIf="producto.rut == '0' && producto.precioEsp == 0"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio con descuento cliente"
                          class="product-card__new-price text-danger"
                        >
                          {{ producto.precioEsp | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio normal"
                          class="product-card__old-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>

                        <div
                          *ngIf="producto.precio == producto.precioEsp"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-center">
                      <img
                        class="img-fluid img-prod"
                        src="https://images.implementos.cl/img/1000/{{
                          producto.sku
                        }}-1.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!objeto.banner">
            <ng-container
              *ngFor="
                let producto of objeto.productos | slice : 0 : 3;
                let i = index
              "
            >
              <div class="card mb-4" *ngIf="i == 0 || i == 2">
                <div class="row">
                  <div class="col-md-6">
                    <div class="text-center">
                      <img
                        class="img-fluid img-prod"
                        src="https://images.implementos.cl/img/1000/{{
                          producto.sku
                        }}-1.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card" style="border: none !important">
                      <div class="card-body pb-0">
                        <ng-container
                          *ngFor="let atributo of producto.atributos"
                        >
                          <div class="body-producto">
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="
                                atributo.nombre !== 'precio' &&
                                atributo.nombre !== 'nombre' &&
                                atributo.nombre !== 'precio escala'
                              "
                            >
                              {{ atributo.valor | slice : 0 : 40 }}
                            </div>
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="atributo.nombre == 'nombre'"
                            >
                              {{ atributo.valor | titlecase }}
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div *ngIf="precios" class="card-footer pt-0 px-3">
                        <app-icon
                          *ngIf="carro"
                          name="cart-20"
                          size="25"
                          class="float-start icon-chat shadow-lg ps-2 pt-1 pointer pt-2"
                          (click)="addToCart(producto)"
                        ></app-icon>

                        <div
                          *ngIf="producto.rut == '0' && producto.precioEsp == 0"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio con descuento cliente"
                          class="product-card__new-price text-danger"
                        >
                          {{ producto.precioEsp | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio normal"
                          class="product-card__old-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="producto.precio == producto.precioEsp"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-4" *ngIf="i == 1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card" style="border: none !important">
                      <div class="card-body pb-0">
                        <ng-container
                          *ngFor="let atributo of producto.atributos"
                        >
                          <div class="body-producto">
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="
                                atributo.nombre !== 'precio' &&
                                atributo.nombre !== 'nombre' &&
                                atributo.nombre !== 'precio escala'
                              "
                            >
                              {{ atributo.valor | slice : 0 : 40 }}
                            </div>
                            <div
                              class=" mb-0 {{ atributo.nombre }}"
                              *ngIf="atributo.nombre == 'nombre'"
                            >
                              {{ atributo.valor | titlecase }}
                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <div *ngIf="precios" class="card-footer pt-0 px-3">
                        <app-icon
                          *ngIf="carro"
                          name="cart-20"
                          size="25"
                          class="float-start icon-chat shadow-lg ps-2 pt-1 pointer pt-2"
                          (click)="addToCart(producto)"
                        ></app-icon>

                        <div
                          *ngIf="producto.rut == '0' && producto.precioEsp == 0"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio con descuento cliente"
                          class="product-card__new-price text-danger"
                        >
                          {{ producto.precioEsp | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="
                            producto.rut != '0' &&
                            producto.precio != producto.precioEsp
                          "
                          tooltip="Precio normal"
                          class="product-card__old-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                        <div
                          *ngIf="producto.precio == producto.precioEsp"
                          class="product-card__new-price"
                        >
                          {{ producto.precio | currencyFormat }}
                          <em> c/iva </em>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="text-center">
                      <img
                        class="img-fluid img-prod"
                        src="https://images.implementos.cl/img/1000/{{
                          producto.sku
                        }}-1.jpg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="col-md-6 mt-small">
          <ng-container
            *ngFor="
              let producto of objeto.productos | slice : 2 : 5;
              let i = index
            "
          >
            <div class="card mb-4" *ngIf="i == 0 || i == 2">
              <div class="row">
                <div class="col-md-6">
                  <div class="text-center">
                    <img
                      class="img-fluid img-prod"
                      src="https://images.implementos.cl/img/1000/{{
                        producto.sku
                      }}-1.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card" style="border: none !important">
                    <div class="card-body pb-0">
                      <ng-container *ngFor="let atributo of producto.atributos">
                        <div class="body-producto">
                          <div
                            class=" mb-0 {{ atributo.nombre }}"
                            *ngIf="
                              atributo.nombre !== 'precio' &&
                              atributo.nombre !== 'nombre' &&
                              atributo.nombre !== 'precio escala'
                            "
                          >
                            {{ atributo.valor | slice : 0 : 40 }}
                          </div>
                          <div
                            class=" mb-0 {{ atributo.nombre }}"
                            *ngIf="atributo.nombre == 'nombre'"
                          >
                            {{ atributo.valor | titlecase }}
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <div *ngIf="precios" class="card-footer pt-0 px-3">
                      <!--   <app-icon-svg (click)="addToCart(producto)" [name]="'carros'" [size]="26" class="float-start btn-transparent">
                                            </app-icon-svg> -->
                      <app-icon
                        *ngIf="carro"
                        name="cart-20"
                        size="25"
                        class="float-start icon-chat shadow-lg ps-2 pt-1 pointer pt-2"
                        (click)="addToCart(producto)"
                      ></app-icon>

                      <div
                        *ngIf="producto.rut == '0' && producto.precioEsp == 0"
                        class="product-card__new-price"
                      >
                        {{ producto.precio | currencyFormat }} <em> c/iva </em>
                      </div>
                      <div
                        *ngIf="
                          producto.rut != '0' &&
                          producto.precio != producto.precioEsp
                        "
                        tooltip="Precio con descuento cliente"
                        class="product-card__new-price text-danger"
                      >
                        {{ producto.precioEsp | currencyFormat }}
                        <em> c/iva </em>
                      </div>
                      <div
                        *ngIf="
                          producto.rut != '0' &&
                          producto.precio != producto.precioEsp
                        "
                        tooltip="Precio normal"
                        class="product-card__old-price"
                      >
                        {{ producto.precio | currencyFormat }} <em> c/iva </em>
                      </div>
                      <div
                        *ngIf="producto.precio == producto.precioEsp"
                        class="product-card__new-price"
                      >
                        {{ producto.precio | currencyFormat }} <em> c/iva </em>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4" *ngIf="i == 1">
              <div class="row">
                <div class="col-md-6">
                  <div class="card" style="border: none !important">
                    <div class="card-body pb-0">
                      <ng-container *ngFor="let atributo of producto.atributos">
                        <div class="body-producto">
                          <div
                            class=" mb-0 {{ atributo.nombre }}"
                            *ngIf="
                              atributo.nombre !== 'precio' &&
                              atributo.nombre !== 'nombre' &&
                              atributo.nombre !== 'precio escala'
                            "
                          >
                            {{ atributo.valor | slice : 0 : 40 }}
                          </div>
                          <div
                            class=" mb-0 {{ atributo.nombre }}"
                            *ngIf="atributo.nombre == 'nombre'"
                          >
                            {{ atributo.valor | titlecase }}
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <div *ngIf="precios" class="card-footer pt-0 px-3">
                      <app-icon
                        *ngIf="carro"
                        name="cart-20"
                        size="25"
                        class="float-start icon-chat shadow-lg ps-2 pt-1 pointer pt-2"
                        (click)="addToCart(producto)"
                      ></app-icon>

                      <div
                        *ngIf="producto.rut == '0' && producto.precioEsp == 0"
                        class="product-card__new-price"
                      >
                        {{ producto.precio | currencyFormat }} <em> c/iva </em>
                      </div>
                      <div
                        *ngIf="
                          producto.rut != '0' &&
                          producto.precio != producto.precioEsp
                        "
                        tooltip="Precio con descuento cliente"
                        class="product-card__new-price text-danger"
                      >
                        {{ producto.precioEsp | currencyFormat }}
                        <em> c/iva </em>
                      </div>
                      <div
                        *ngIf="
                          producto.rut != '0' &&
                          producto.precio != producto.precioEsp
                        "
                        tooltip="Precio normal"
                        class="product-card__old-price"
                      >
                        {{ producto.precio | currencyFormat }} <em> c/iva </em>
                      </div>
                      <div
                        *ngIf="producto.precio == producto.precioEsp"
                        class="product-card__new-price"
                      >
                        {{ producto.precio | currencyFormat }} <em> c/iva </em>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <img
                      class="img-fluid img-prod"
                      src="https://images.implementos.cl/img/1000/{{
                        producto.sku
                      }}-1.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="card-footer py-0 px-3 bg-primary">
      <div class="row">
        <div class="col-6 p-0">
          <img [src]="objeto.footerA" class="img-fluid" />
        </div>
        <div class="col-6 p-0">
          <img [src]="objeto.footerB" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
