.cont-escritorio {
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    div.body {
        position: absolute;
        height: 100vh;
        display: flex;

    }

    div.formulario {
        height: 100vh;
        position: absolute;
        left: 50%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .body-form {
            color: #000;
        }
    }
}

@media (min-width: 1400px) {
    .cont-escritorio {
        div.formulario {
            .body-form {
                transform: scale(1.5);
            }
        }
    }

    option {
        font-size: 17px;
    }
}

.cont-movil {
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    div.body {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    div.formulario {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        .body-form {
            color: #000;
        }
    }
}

@media (min-width: 700px) {
    .cont-movil {
        div.formulario {
            .body-form {
                transform: scale(1.5);
                margin-top: 150px;
            }
        }
    }
}

@media (max-width: 699px) {
    .cont-movil {
        div.formulario {
            .body-form {
                margin-top: 1.5rem;
            }
        }
    }
}

h2,
h4 {
    font-weight: normal !important;
}

hr {
    border-top: 2px solid rgb(0 0 0 / 30%) !important;
}

.btn {
    border-radius: 15px !important;
}

button.disabled {
    cursor: no-drop;
}

input.error {
    border: 1px solid #ff000080 !important;
}

input.form-control-sm {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
