<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-sobre-nosotros></app-sobre-nosotros>
    </div>
    <div class="col-sm-12">
      <app-holding-epysa></app-holding-epysa>
    </div>
    <div class="col-sm-12 d-lg-block">
      <app-mi-cuenta></app-mi-cuenta>
    </div>
    <div class="col-sm-12">
      <app-contactanos></app-contactanos>
    </div>
    <div class="col-sm-12 text-center mb-1">
      <div class="row">
        <div class="col-6 text-center mb-1">
          <picture>
            <source srcset="assets/images/mutual_01.webp" type="image/webp" />
            <source srcset="assets/images/mutual_01.png" type="image/png" />
            <img
              src="assets/images/mutual_01.png"
              style="width: 60px"
              alt="mutual"
            />
          </picture>
        </div>
        <div class="col-6 text-center mb-1">
          <h5 class="fw-bold text-center">Síguenos</h5>

          <a
            class="me-1"
            href="https://www.facebook.com/IMPLEMENTOSREPUESTOS/"
            rel="noopener"
            target="_blank"
          >
            <img
              src="../../../../../assets/svg/17.svg"
              style="width: 40px; height: 40px"
              alt="facebook"
            />
          </a>
          <a
            class="me-2"
            href="https://www.instagram.com/implementosrepuestos/"
            target="_blank"
            rel="noopener"
          >
            <img
              src="../../../../../assets/svg/18.svg"
              style="width: 40px; height: 40px"
              alt="instagram"
            />
          </a>
          <a
            href="https://www.linkedin.com/company/epysa-implementos/about/"
            target="_blank"
            rel="noopener"
          >
            <img
              src="../../../../../assets/svg/19.svg"
              style="width: 40px; height: 40px"
              alt="linkedin"
            />
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 fw-bold" style="font-size: 0.8rem">
      Implementos es la red de repuestos, insumos y accesorios para camiones,
      buses y remolques más grande del país.
    </div>
  </div>
</div>

<div style="height: 30px; background-color: #000"></div>
