<div class="modal-header">
  <h4 class="modal-title pull-left">Actualizar Contacto</h4>
  <button
    name="modalAddContactRef"
    type="button"
    class="btn-close pull-right"
    aria-label="Close"
    (click)="modalUpdateContactRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-loading-element
    *ngIf="loadingForm"
    [text]="'Actualizando Contacto'"
  ></app-loading-element>

  <form [formGroup]="formContacto">
    <div class="row">
      <div class="col-6">
        <div class="mb-3 mb-0">
          <label>{{ config.document.name }} (*)</label>
          <input
            formControlName="contactRut"
            type="text"
            class="form-control px-0"
          />
        </div>
        <p
          *ngIf="
            formContacto.controls['contactRut'].invalid &&
            formContacto.controls['contactRut'].touched
          "
          class="text-danger float-start"
        >
          El {{ config.document.name }} ingresado no es válido.
        </p>
        <p class="float-end me-2">
          <i>Ej: {{ config.document.sample }}</i>
        </p>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label>Cargo (*)</label>
          <ng-select
            [clearable]="false"
            [searchable]="true"
            [items]="cargos"
            bindLabel="titleid"
            bindValue="titleid"
            formControlName="cargo"
            class="form-control-select"
            placeholder="Cargo *"
          >
          </ng-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label>Nombres (*)</label>
          <input
            formControlName="nombre"
            type="text"
            class="form-control px-0"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label>Apellidos (*)</label>
          <input
            formControlName="apellido"
            type="text"
            class="form-control px-0"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label>Celular</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i
                  [ngClass]="
                    selectedPhoneCode == config.phoneCodes.mobile.code
                      ? 'fa-solid fa-mobile-screen'
                      : 'fa-solid fa-phone'
                  "
                  style="margin-right: 1px"
                ></i>
                {{ selectedPhoneCode }}
              </button>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  (click)="Select_fono(config.phoneCodes.mobile.code)"
                  ><i
                    class="fa-solid fa-mobile-screen"
                    style="margin-right: 1px"
                  ></i
                  >{{ config.phoneCodes.mobile.code }}</a
                >
                <a
                  class="dropdown-item"
                  (click)="Select_fono(config.phoneCodes.landline.code)"
                  ><i class="fa-solid fa-phone" style="margin-right: 1px"></i
                  >{{ config.phoneCodes.landline.code }}</a
                >
              </div>
            </div>
            <input
              formControlName="telefono"
              type="text"
              class="form-control ps-2"
              appRutChars
            />
          </div>

          <p
            *ngIf="
              formContacto.controls['telefono'].invalid &&
              formContacto.controls['telefono'].touched
            "
            class="text-danger"
          >
            El número de contacto no es válido.
          </p>
        </div>
      </div>
      <div class="col-6">
        <label>Email</label>
        <div class="mb-3">
          <autocomplete #emailValidate [domainNames]="domains"></autocomplete>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    name="cerrar"
    class="btn btn-danger"
    (click)="modalUpdateContactRef.hide()"
  >
    Cancelar
  </button>
  <button
    name="agregarDireccion"
    class="btn btn-secondary"
    (click)="actualizarContacto(emailValidate)"
    [disabled]="!formContacto.valid || loadingForm"
  >
    Actualizar
  </button>
</div>
