.container-order{
    width: 53.8125rem;
    height: 51.0625rem;
    padding: 3.125rem 1.625rem;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 24px 44px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e7e7e7;
    background-color: #ffffff;
}

.td-user-order{
    align-items: center;
}

.photo-user-order {
    border-radius: 50%;
    width: 59px;
    height: 59px;

}
.image-order{
    text-align: center;
}



.spaces-buttons{
    //margin-left: 1.4375rem;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-order-user{
    font-size: 0.875rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}



.center-link{
    align-items: center;
}

.text-image-user{
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #b2b2b2;
}

.button-order{
    border-radius: 1.75rem;
    margin-top: 3.875rem;
}
.date-order-label{
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}
.label-button-order{
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.container-list-order{
    display: flex;
    border: solid 0.5px #e6e6e6;
    padding: 19px 30px;
    justify-content: space-between;
    margin-bottom: -1px;
}

.col-img{
    width: 10rem;
    text-align: center;
}
.col-buttons{
    width: 13.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
