<div class="container-order">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <div class="container-list-order">
          <div class="col-img">
            <img
              class="photo-user-order lazyload"
              src="https://www.tn8.tv/media/cache/c4/35/c4353f46d29524bc63afde2984690f64.jpg"
            />
            <p class="text-image-user">Scarllet Johasson</p>
          </div>
          <div class="col-text col">
            <p class="text-order-user">texto descripcion usuario orden</p>
            <p class="text-order-user">Orden: 123123</p>
            <p class="date-order-label">27/02/01</p>
          </div>
          <div class="col-buttons">
            <a href="./edit"> Editar <i class="fas fa-pencil-alt"></i> </a>
            <button
              class="btn btn-lg btn-circle btn-outline-danger border-delete-btn"
            >
              <i class="fa fa-times"></i>
            </button>
            <button class="btn btn-lg btn-circle btn-success">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
        <div class="container-list-order">
          <div class="col-img">
            <img
              class="photo-user-order lazyload"
              src="https://www.tn8.tv/media/cache/c4/35/c4353f46d29524bc63afde2984690f64.jpg"
            />
            <p class="text-image-user">Scarllet Johasson</p>
          </div>
          <div class="col-text col">
            <p class="text-order-user">texto descripcion usuario orden</p>
            <p class="text-order-user">Orden: 123123</p>
            <p class="date-order-label">27/02/01</p>
          </div>
          <div class="col-buttons">
            <a href="./edit"> Editar <i class="fas fa-pencil-alt"></i> </a>
            <button
              class="btn btn-lg btn-circle btn-outline-danger border-delete-btn"
            >
              <i class="fa fa-times"></i>
            </button>
            <button class="btn btn-lg btn-circle btn-success">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
        <div class="container-list-order">
          <div class="col-img">
            <img
              class="photo-user-order lazyload"
              src="https://www.tn8.tv/media/cache/c4/35/c4353f46d29524bc63afde2984690f64.jpg"
            />
            <p class="text-image-user">Scarllet Johasson</p>
          </div>
          <div class="col-text col">
            <p class="text-order-user">texto descripcion usuario orden</p>
            <p class="text-order-user">Orden: 123123</p>
            <p class="date-order-label">27/02/01</p>
          </div>
          <div class="col-buttons">
            <a href="./edit"> Editar <i class="fas fa-pencil-alt"></i> </a>
            <button
              class="btn btn-lg btn-circle btn-outline-danger border-delete-btn"
            >
              <i class="fa fa-times"></i>
            </button>
            <button class="btn btn-lg btn-circle btn-success">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group text-center">
        <button class="btn btn-secondary btn-lg button-order text-center">
          Ver todos los pedidos
        </button>
      </div>
    </div>
  </div>
</div>
