<!-- .block-products-carousel -->
<div
  class="my-3 block-products-carousel"
  [ngClass]="{ 'block-products-carousel--loading': loading }"
  [attr.data-layout]="layout"
>
  <div [ngClass]="{ 'container pb-5': !withSidebar }">
    <app-block-header
      [header]="header"
      [arrows]="false"
      (next)="carousel.next()"
      (prev)="carousel.prev()"
      (groupChange)="groupChange.emit($event)"
    ></app-block-header>

    <div class="block-products-carousel__slider">
      <div class="block-products-carousel__preloader"></div>

      <owl-carousel-o [options]="carouselOptions" appOwlPreventClick #carousel>
        <ng-container *ngFor="let column of columns">
          <ng-template carouselSlide>
            <div class="block-products-carousel__column">
              <div
                *ngFor="let item of column"
                class="block-products-carousel__cell"
              >
                <div class="container-img-category p-4">
                  <div class="embed-responsive embed-responsive-16by9">
                    <video controls preload="metadata" [poster]="item.preview">
                      <source [src]="item.url" type="video/mp4" />
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>

    <div *ngIf="true" class="block-header__arrows-list mt-3">
      <div class="mx-auto mt-5 d-flex">
        <button
          class="btn block-header__arrow block-header__arrow--left"
          type="button"
          (click)="carousel.prev()"
        >
          <app-icon name="arrow-rounded-left-7x11" size="7x11"></app-icon>
        </button>
        <button
          class="btn block-header__arrow block-header__arrow--right"
          type="button"
          (click)="carousel.next()"
        >
          <app-icon name="arrow-rounded-right-7x11" size="7x11"></app-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- .block-products-carousel / end -->
