<div class="block about-us">
  <div class="about-us__image"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        <div class="about-us__body">
          <h1 class="about-us__title text-start">¿Quiénes Somos?</h1>
          <div class="about-us__text typography text-justify">
            <p>
              Somos una empresa con más de 27 años en el rubro del Transporte,
              comercializando partes, piezas y accesorios para el transporte de
              camiones, buses y remolques.
            </p>
            <p>
              Nuestra organización nace en Chile, a partir del Grupo Epysa, con
              casi medio siglo de experiencia en el rubro de vehículos pesados.
            </p>
            <p>
              Desde nuestros orígenes contamos con la representación exclusiva
              de dos grandes marcas de Brasil. Randon fabricante de carrocerías,
              remolques y semirremolques más grande de Sudamérica, y Marcopolo,
              fabricante más grande de carrocerías para autobuses del mundo.
            </p>
            <p>
              En nuestra esencia, reside un enfoque dedicado al cliente,
              rigiéndolo como la pieza central de todo lo que hacemos. Esto se
              materializa a través de un modelo de servicio que se basa en tres
              canales de venta: Tienda, Terreno y Digital, ofreciendo envíos a
              domicilio o retiro en tienda, para dar un servicio de venta
              omnicanal tanto a pequeños como grandes transportistas.
            </p>
            <p>
              En el epicentro de nuestra oferta, residen las tiendas del
              transporte, donde la premisa fundamental es ofrecer la mayor
              variedad de productos de la mejor calidad y disponibilidad,
              siempre empeñados en ofrecer un servicio al cliente que se
              distinga por su excelencia.
            </p>
            <p>
              Creamos con nuestras tiendas como un lugar donde el transportista
              podrá encontrar todo lo que necesite en su parada tanto para él,
              como para su emprendimiento, empresa, o para su preciado vehículo,
              enfocándonos en ofrecer el mejor precio del mercado en cada
              categoría.
            </p>
            <p>
              Actualmente somos una empresa líder en Chile y Perú, en la venta
              de repuestos, insumos y accesorios para el transporte de carga,
              pasajeros, maquinaria agrícola y vehículos livianos. Es por esto
              que, en el año 2022 dimos un salto audaz al aterrizar en España,
              abriendo tiendas en Fuenlabrada, Seseña y Azuqueca.
            </p>
            <p>
              Nuestra red se compone de 30 tiendas que abarcan desde Arica hasta
              Punta Arenas, con opciones de venta telefónica al 800 330 088, y
              comunicación a través de WhatsApp al +569 3263 3571. Además,
              nuestra página web, www.implementos.cl.
            </p>
            <p>
              Con 13 tiendas operando en Perú y próximamente 4 en España,
              nuestra presencia sigue creciendo llevando nuestra visión de
              servicio y calidad a nuevos horizontes.
            </p>
          </div>
          <br />
          <h1 class="about-us__title mb-3 text-start">Visión</h1>
          <div class="about-us__text typography text-justify">
            <p>
              Ser la compañía más querida, admirada y preferida por nuestros
              clientes, colaboradores y proveedores, ayudando que la industria
              del transporte esté siempre en movimiento.
            </p>
          </div>
          <br />
          <h1 class="about-us__title mb-3 text-start">Misión</h1>
          <div class="about-us__text typography text-justify">
            <p>
              Satisfacer las expectativas de nuestros clientes con soluciones
              oportunas a sus requerimientos, brindándoles, a un precio justo,
              cobertura en todos los canales, respaldo, financiamiento,
              disponibilidad y una gran experiencia de compra.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
