<div class="dropcart container-cart">
  <div class="dropcart-title mb-3" style="color: #0d61bb">
    <i class="fas fa-shopping-cart me-1" style="color: #0d61bb"></i>
    Carro de compra
  </div>

  <div class="dropcart__empty" *ngIf="!(cart.items$ | async)?.length">
    Todavia no ha agregado productos al carro
  </div>
  <ng-container *ngIf="(cart.items$ | async)?.length">
    <div class="dropcart__products-list">
      <div *ngFor="let item of items; let i = index" class="cart-row d-flex">
        <div class="dropcart__product-image me-3">
          <a
            [routerLink]="
              root.product(item.ProductCart.sku, item.ProductCart.nombre)
            "
          >
            <img
              class="img-fluid lazyload"
              alt="carro-compra"
              [src]="root.getUrlImagenMiniatura(item.ProductCart)"
              [alt]="item.ProductCart.nombre"
            />
          </a>
        </div>
        <div class="cart-product col-5 my-auto">
          <div class="text-truncate">
            <span
              class="product-title fw-bold"
              title=" {{ item.ProductCart.nombre | capitalizeFirst }}"
            >
              {{ item.ProductCart.nombre | capitalizeFirst }}
            </span>
          </div>

          <span class="product-sku text-gray-2">
            {{ item.ProductCart.sku }}
          </span>
          <span class="product-sku text-gray-2">
            {{ item.ProductCart.marca }}
          </span>

          <div class="clearfix"></div>

          <span class="product-price">
            <span class="price-save fw-bold">
              {{
                (!isVacio(usuario.preferences.iva)
                  ? usuario.preferences.iva
                    ? item.ProductCart.precio
                    : item.ProductCart.precio / (1 + IVA)
                  : item.ProductCart.precio
                ) | currencyFormat
              }}
              <em>
                {{
                  !isVacio(usuario.preferences.iva)
                    ? usuario.preferences.iva
                      ? 'c/iva'
                      : 's/iva'
                    : 'c/iva'
                }}</em
              >
            </span>
          </span>
        </div>

        <div
          class="cart-quantity my-auto text-center"
          style="padding-top: 27px"
        >
          <app-input-number
            [formControl]="item.quantityControl"
            (quantity)="updateCart($event, item)"
            [min]="1"
          ></app-input-number>
        </div>

        <div class="cart-price col-2 my-auto text-center">
          <span class="cart-price-value fw-bold"
            >{{
              (!isVacio(usuario.preferences.iva)
                ? (usuario.preferences.iva
                    ? item.ProductCart.precio
                    : item.ProductCart.precio / (1 + IVA)) * item.quantity
                : item.ProductCart.precio * item.quantity
              ) | currencyFormat
            }}
            <em>
              {{
                !isVacio(usuario.preferences.iva)
                  ? usuario.preferences.iva
                    ? 'c/iva'
                    : 's/iva'
                  : 'c/iva'
              }}</em
            ></span
          >
        </div>

        <div
          class="col-delete-product d-flex align-items-center"
          (click)="remove(item.ProductCart)"
        >
          <span style="cursor: pointer">
            <i class="fas fa-trash-alt" style="color: #0d61bb"></i
          ></span>
        </div>
      </div>
    </div>

    <div class="dropcart__buttons mt-2 p-0 row">
      <div class="col-md-6 col-lg-6">
        <a
          class="btn btn-lg btn-border-primary text-center w-100"
          [routerLink]="['/', 'carro-compra']"
        >
          <i class="fas fa-shopping-cart"></i> Ver carro</a
        >
      </div>

      <div class="col-md-6 col-lg-6">
        <a
          class="btn btn-lg btn-secondary w-100 text-center"
          [routerLink]="['/', 'carro-compra', 'metodo-de-envio']"
        >
          <i class="far fa-credit-card"></i> Comprar ahora</a
        >
      </div>
    </div>
  </ng-container>
</div>
