<div class="block-newsletter">

    <div class="container ">

      <div class="center-block">
          <h2 class="text-center">SUSCRIBETE AHORA</h2>
      
          <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd        
          </p>
        
          <div class="form-group">

              <div class="input-group input-group-email">
                <input class="form-control form-control-lg " placeholder="E-mail" />
                <i class="far fa-envelope"></i>
              </div>
           
          </div>
        
          <div class="form-group ">
              <button name="SUSCRIBIRME" class="btn btn-primary btn-lg btn-block text-center">SUSCRIBIRME <i class="fas fa-chevron-right ml-3"></i> </button>
          </div>

      </div>
      </div>

</div>
