.modal-header {
    padding: 0.5rem 1rem;
    align-items: center;

    .close {
        margin: 0;
        padding: 0 0.5rem;
    }
}

.modal-body {
    font-size: 15px;
    min-height: auto !important;
}

.text-success {
    color: #28a745 !important;
}

.max-caracteres {
    width: 50%;
    text-align: end;
    font-size: 75%;
}

.dropdown-toggle::after {
    display: none;
}

.accordion-header {
    border-radius: 4px;
    background-color: #eee;
}

.producto {
    flex: 0 0 275px;
    margin: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    line-height: 1.2rem;

    div:first-child {
        font-size: 15px;
    }
}

.product-title {
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    // line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 0.2rem;
}

.product-sku {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    // line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 0.2rem;
}
