.card-header {
    border-bottom: 1.5px #0d61bb solid;
}

.card-body {
    border-bottom: 1.5px #838383 solid;
}

span.starsHeader,
span.starsHeader span {
    display: block;
    background: url('../../../../../assets/svg/star-grey.svg') 0 0 repeat-x;
    width: 125px;
    /* width of a star multiplied by 5 */
    height: 25px;
    /* the height of the star */
    background-size: 25px 25px;
    cursor: pointer;
}

span.starsHeader span {
    background-position: 0 0;
    background-image: url('../../../../../assets/svg/star-yellow.svg');
}

span.starsDetalle,
span.starsDetalle span {
    display: block;
    background: url('../../../../../assets/svg/star-grey.svg') 0 0 repeat-x;
    width: 100px;
    /* width of a star multiplied by 5 */
    height: 20px;
    /* the height of the star */
    background-size: 20px 20px;
    cursor: pointer;
}

span.starsDetalle span {
    background-position: 0 0;
    background-image: url('../../../../../assets/svg/star-yellow.svg');
}

.resumen {
    @media (max-width: 576px) {
        width: 100%; font-size: 15px;
    }

    @media (min-width: 576px) {
        width: 40%; font-size: 15px;
    }
}
