<div class="d-flex justify-content-center align-items-start position-relative">
    <img src="../../../../../../../assets/images/imagenEjemplo.png" [attr.width]="!collapsed ? '100%' : '160px'" [ngStyle]="{'margin-left': !collapsed ? '0px' : '300px'}">
    <!-- <div class="leyenda_imagen m-2 position-absolute" [ngStyle]="getStyles()"> -->
        <!-- lapsed ? {'bottom': '0px' : ''} :  {'left': 20px; : 50px}"> -->
        <!-- SEMIRREMOLQUE<br>
        MULTIPROPÓSITO / 3 EJES / 12,4M<br>
    </div> -->
</div>
