.cart-shipping {
  border: solid 1px #efefef;
  background-color: #ffffff;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 4px;
}

.cart-address-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: #0063b9 !important;
}

.cart-new-address-container {
  border: 1px solid #0063b9;
  border-radius: 4px;
  background-color: #0063b9;
  color: white;
}

.clearAddress {
  margin-left: 2px;
}

.clearAddress:hover {
  cursor: pointer;
}

.cart-shipping:hover {
  border: solid 1px #efefef;
  box-shadow: 0 1rem 32px 0 rgba(0, 0, 0, 0.08);
}

.text-default {
  font-size: 1rem;
}

.col-icon {
  font-size: 2rem;
  color: #b2b2b2;
}

.cart-shipping:hover .col-icon {
  font-size: 2rem;
  color: inherit;
}

.col-ok:hover {
  color: #0063b9 !important;
  cursor: pointer;
}

.cart-shipping-active .col-ok {
  color: #0063b9 !important;
}

.cart-shipping-active {
  box-shadow: 0 1rem 32px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.cart-shipping-active .col-icon {
  color: inherit;
}

//  nueva configuracion
.tab-container i {
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

.subtitle {
  padding-top: 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #0063b9 !important;
}

.no-shipping {
  margin-top: 4rem;
  text-align: center;
}

.card-shipping {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d4dede29;
  // margin: 0.8rem;
}

.card-shipping:hover {
  border: solid 1px #ccc;
  box-shadow: 0 1rem 32px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  background-color: #0063b9;
  color: #fff;
}

.card-shipping-active {
  color: #fff;
  background-color: #0063b9;
}

.card-shipping span {
  display: block;
}

.provider,
.type-shipping {
  font-size: 0.8rem;
  text-align: center;
}

.date {
  text-align: center;
  font-size: 0.8rem;
}

.horario {
  text-align: center;
  font-size: 0.79rem;
  font-family: 'Courier New', Courier, monospace;
}

.mediaJornada {
  color: #d44d00;
}

.p-1 {
  padding: 5px !important;
  width: 80px;
}

.price {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.closeIconInv {
  font-size: 12px !important;
}

.closeIconInv:hover {
  cursor: pointer;
}

.mostrarResumen:hover {
  cursor: pointer;
}

.direccionSection {
  border-radius: 25px;
  border-color: blue;
  height: 70px;
  border: 1px;
  border-style: solid;
}

.boton-mapa {
  top: 1px;
  left: 4px;
  z-index: 4;
  margin-left: 20px;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
}

.express {
  font-size: 14px !important;
  color: #0063b9 !important;
}

@media (max-width: 479px) {
  .title {
    font-size: 12px;
    text-align: justify;
  }
}

@media (min-width: 450px) {
  .container-shipping-card {
    margin-right: -10px;
    margin-left: 10px !important;
  }
}
/*Escritorio*/

@media (min-width: 1199.98px) {
  .p-1 {
    padding: 5px !important;
    width: 97px;
  }
}

@media (min-width: 1439.98px) {
  .p-1 {
    padding: 5px !important;
    width: 81px;
  }
}

@media (min-width: 1700.98px) {
  .p-1 {
    padding: 5px !important;
    width: 100px;
  }
}

/*Fin Escritorio*/

/*Tablet*/
@media (min-width: 0px) and (max-width: 450px) and (orientation: portrait) {
  .cart-address-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -1px;
    background-color: #5cb7811f;
  }
}

.disabledTab {
  pointer-events: none;
}
/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .p-1 {
    padding: 5px !important;
    width: 90px;
  }
}

/*landscape*/

@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .p-1 {
    padding: 5px !important;
    width: 90px;
  }
}

/*fin tablet*/

/*movil*/

/*Portrait*/

/*Default*/

@media (max-width: 575.98px) and (orientation: portrait) {
  .p-1 {
    padding: 2px !important;
    width: 103px;
  }
  .listado {
    display: none;
  }
  .card-header {
    font-size: 1rem;
  }
}

.btn:not(.btn-svg-icon) {
  position: relative;
  overflow: hidden;
  border-width: 2px;
  outline: none;
  box-shadow: none;
  transition: background-color 0.3s;
}

/*landscape*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  .p-1 {
    padding: 5px !important;
    width: 128px;
  }
}

@media only screen and (min-device-width: 579px) and (max-device-width: 1164px) and (orientation: landscape) {
  .hidetabletLandscape {
    display: none !important;
  }
}

.footer-page {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eaeaea;
  z-index: 2;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  text-align: center;
}

//container cart
@media (min-width: 304px) and (max-width: 354px) {
  .p-1 {
    padding: 1px !important;
    width: 104px;
  }
}

@media (min-width: 354px) and (max-width: 362px) {
  .p-1 {
    padding: 1px !important;
    width: 86px;
  }
}
@media (min-width: 363px) and (max-width: 380px) {
  .p-1 {
    padding: 2px !important;
    width: 89px;
  }
}
@media (min-width: 381px) and (max-width: 395px) {
  .p-1 {
    padding: 2px !important;
    width: 95px;
  }
}

@media (min-width: 396px) and (max-width: 414px) {
  .p-1 {
    padding: 2px !important;
    width: 100px;
  }
}

@media (min-width: 396px) and (max-width: 414px) {
  .p-1 {
    padding: 2px !important;
    width: 100px;
  }
}

.container-cart {
  // margin-top: -50px;
}

@media (min-width: 0px) and (max-width: 991px) {
  .container-cart {
    // margin-top: 34px;
  }
}

.form-control-lg {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}

.grupo-despacho {
  border: 1px solid #0063b9;
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
}

.grupo-despacho .header {
  background: #0063b9;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.6rem;
}

.grupo-despacho .footer {
  padding: 0.5rem 1rem;
  font-size: 14px;
  margin-top: 0.5rem;
}

.grupo-espera {
  border: 1px solid #9e9e9e;
}

.grupo-espera .header {
  background: #9e9e9e;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.6rem;
}

.grupo-espera .footer {
  padding: 0.5rem 1rem;
  font-size: 14px;
  margin-top: 0.5rem;
}

@media (min-width: 320px) and (max-width: 1366px) {
  .margencarro {
    margin-top: 10px !important;
    padding: 0px !important;
    margin-bottom: 40px;
  }
}

@media (min-width: 1366px) and (max-width: 1549px) {
  .margencarro {
    margin-top: 0px !important;
    margin-bottom: 40px;
  }
}

@media (min-width: 1549px) {
  .margencarro {
    margin-top: 37px !important;
    margin-bottom: 40px;
  }
}

::ng-deep.container-cart .nav-tabs .nav-link.active {
  color: #0063b9 !important;
  border: 1px solid #0063b9;
  border-radius: 0px;
  padding: 5px;
}
::ng-deep.container-cart .nav-tabs .nav-link {
  color: #b3b3b3 !important;
  border: 1px solid;
  border-radius: 0px;
  padding: 5px;
}
::ng-deep.tab-content {
  @media (min-width: 450px) {
    padding: 0.1rem;
    position: relative;
    border: none !important;
  }
  @media (max-width: 449px) {
    padding: 0.1rem;
    position: relative;
    border: none !important;
    margin-right: -15px;
  }
}

::ng-deep .ng-select div,
.ng-select input,
.ng-select span {
  box-sizing: border-box;
  color: #0063b9 !important;
}

::ng-deep .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  width: 95.5% !important;
  margin-left: 17px;
}

.card {
  box-shadow: none !important;
}

.cotizacionBtn:hover {
  cursor: pointer;
}

.cotizacionBtn {
  font-weight: 600;
}

.fa-file-pdf {
  font-size: 3rem;
  color: #b2b2b2;
}
