<div class="card card-2">
  <div class="card-header">
    <h5>Cambiar Contraseña</h5>
  </div>
  <div class="card-divider"></div>
  <div class="card-body">
    <div class="row g-0">
      <div class="col-12 col-lg-7 col-xl-6">
        <div class="mb-3">
          <label for="password-current">Actual Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password-current"
            placeholder="Actual Contraseña"
          />
        </div>
        <div class="mb-3">
          <label for="password-new">Nueva Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password-new"
            placeholder="Nueva Contraseña"
          />
        </div>
        <div class="mb-3">
          <label for="password-confirm">Repita Nueva Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password-confirm"
            placeholder="Repita Nueva Contraseña"
          />
        </div>

        <div class="mb-3 mt-5 mb-0">
          <button name="Guardar" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
