<div class="  ">
  <div class="top-bar-categories d-flex align-items-center">
    <div class="title d-flex align-items-center mr-auto">
      <i _ngcontent-serverapp-c11="" class="fas fa-file-invoice mr-3"></i>
      <h5>Mis Facturas</h5>
    </div>
  </div>
  <div class="card-body position-relative">
    <div class="table-responsive-sm">
      <table class="table table-striped table-bordered" style="width: 100%">
        <thead class="table-dark">
          <tr>
            <th *ngFor="let col of visible_columns">
              {{ col }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices">
            <td *ngFor="let col of columns">
              {{ invoice[col] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
