<h1>alert-cart</h1>
<div class="alert-cart-content">
  <div class="alert-cart-header">
    Has añadido a tu carrito
    <br />de compras
  </div>

  <div class="d-flex align-items-center content-product">
    <div class="col-3 product-image">
      <img
        src="https://images.implementos.cl/img/150/{{
          product.sku
        }}.jpg?alt=media"
        class="adapt-image lazyload"
      />
    </div>
    <div class="col-6">
      <span class="d-block text-product">{{ product.nombre }}</span>
      <span class="text-product">SKU: {{ product.sku }}</span>
    </div>
    <div class="col-3">
      <span class="d-block">Cant:</span>
      <span class="number-product">{{ product.cantidad }}</span>
    </div>
  </div>

  <div class="col-12 p-0 text-center space-cart-link">
    <button
      name="modalref"
      class="btn btn-lg btn-secondary button-cart-shopping"
      (click)="modalRef.hide()"
    >
      Continuar comprando
    </button>
  </div>

  <div class="col-12 p-0">
    <a
      (click)="modalRef.hide()"
      [routerLink]="['/', 'carro-compra', 'resumen']"
      class="link-primary link-primary-lg d-block text-center link-cart"
    >
      Ir a mi carrito de compra
    </a>
  </div>
</div>
