.alert-cart-content{
    height: 36.25rem;
    border-radius: 4px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e7e7e7;
    background-color: #ffffff;
    padding: 6.125rem 5rem;
}

.adapt-image{
    max-height: 100%;
}

.alert-cart-header{
 
    text-align: center;
    font-weight: bold;
    font-size: 2.125rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #222221;
    margin-bottom: 3.375rem;
}

.alert-cart-content .product-image{
    width: 6.5625rem;
    height: 6.125rem;
}

.button-cart-shopping{
  width: 20.375rem;
    text-align: center;

}

.button-continue-shopping{
    width: 20.375rem;
    height: 3.5rem;
    text-align: center;
}

.button-cart-label{

    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.69;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.content-product{
    margin-bottom: 3.5rem;
}

.space-cart-link{
    margin-bottom: 2.625rem;
}

.number-product{

  font-size: 1.125rem;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.adapt-description{
    margin-left: 0.5rem;
    margin-right: 1rem;
    width: 19.8125rem;
}

.link-cart{
  text-decoration: underline;
}

.text-product{
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}