a:hover {
    color: white;
    text-decoration: none;
}
a {
    color: white;
}
.invalid-feedback {
    display: block !important;
    margin: 0px !important;
    font-weight: bold !important;
    position: absolute !important;
}
