.container-feature-special {
  border-top: 1px solid #f2f2f2;
}

@media (max-width: 479px) {
  .products-list[data-layout='grid-5-full'] .products-list__item {
    width: 50% !important;
    margin: 0 0 !important;
    height: 310px !important;
  }
}

@media (min-width: 1000px) {
  .nav {
    margin-left: 130px;
  }
}

@media (min-width: 0px) and (max-width: 575px){
  .card{
    padding: 0.5rem;
  }
}

.nav-link {
  color: #000;
  font-weight: bolder;
}

.nav-link + div {
  border-bottom: 5px solid #dbdbdb;
  border-radius: 50px;
}

.nav-link.active + div {
  border-color: #094cac;
}

.linea {
  border-bottom: 2px solid #094cac;
  border-radius: 50px;
  width: 100px;
}

ul.product-card__features-list {
  display: none !important;
}

::ng-deep.carouselFicha .owl-prev {
  @media (max-width: 576px) {
    left: 2px !important;
    font-size: 2rem !important;
    top: 45% !important;
    display: block !important;
    i {
      color: #094cac;
    }
  }
}

::ng-deep.carouselFicha .owl-next {
  @media (max-width: 576px) {
    right: 2px !important;
    font-size: 2rem !important;
    top: 45% !important;
    display: block !important;
    i {
      color: #094cac;
    }
  }
}

::ng-deep.carouselFicha .owl-prev {
  @media (min-width: 576px) {
    left: -35px !important;
    font-size: 2rem !important;
    top: 45% !important;
    display: block !important;
    i {
      color: #094cac;
    }
  }
}

::ng-deep.carouselFicha .owl-next {
  @media (min-width: 576px) {
    right: -35px !important;
    font-size: 2rem !important;
    top: 45% !important;
    display: block !important;
    i {
      color: #094cac;
    }
  }
}

::ng-deep.carouselFicha .owl-prev:hover {
  i {
    color: #094cac;
  }
}

::ng-deep.carouselFicha .owl-next:hover {
  i {
    color: #094cac;
  }
}

::ng-deep.carouselFicha .owl-carousel .owl-item {
  padding: 10px;
  display: flex;

  img {
    max-height: 105px;
  }

  app-product-card-b2b {
    display: flex;
    width: 115%;

    .product-card {
      flex: 1 1 auto !important;
    }
  }

  app-product-card-b2c-ficha {
    display: flex;
    width: 115%;

    .product-card {
      flex: 1 1 auto !important;
    }
  }
}

::ng-deep.carouselFicha .owl-carousel .owl-stage {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}

::ng-deep.carouselFicha .owl-dots {
  @media (min-width: 992px) {
    background: none;
    display: flex;
    justify-content: center;
  }
}

::ng-deep.carouselFicha .owl-dot {
  @media (min-width: 992px) {
    width: 50px;
    height: 5px;
    border-radius: 5px;
    background: #e0e0e0;
    margin-left: 5px;
  }
}

::ng-deep.carouselFicha .owl-dot.active {
  @media (min-width: 992px) {
    background: #094cac;
  }
}

// Estilos tabla matriz
.nombreP {
  margin-bottom: 0 !important;
  font-size: 0.6rem !important;
  height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.marcaP {
  font-size: 1rem;
  font-weight: bold;
  color: #0c9279;
}

.skuP {
  font-size: 10px;
  color: #838383;
}

.precioP {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: #0063b9;
  width: 100%;
}
table {
  font-size: 14px;
  td {
    border-bottom: 1px solid #ccc;
    min-width: 151px;
    padding: 7px 14px 6px;
  }
}

table > .color-gris:nth-child(odd) {
  background-color: white;
}
table > .color-gris:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
table > .mobile:nth-child(odd) {
  background-color: white;
}
table > .mobile:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
.color-gris {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

hr {
  margin: 2rem 0;
}

.no_stock {
  font-weight: bold;
  font-size: 13px;
  color: white;
  background-color: #db0632;
  padding: 1px 2px;
  margin: 1rem;
}

.triangulo_abajo {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-top: 12px solid #db0632;
  border-right: 8px solid transparent;
}

.sticky {
  position: sticky;
  left: -1px;
  z-index: 1;
}

table > .color-gris:nth-child(odd) .sticky {
  background-color: white;
}
table > .color-gris:nth-child(even) .sticky {
  background-color: white;
}
table > .mobile:nth-child(odd) .sticky {
  background-color: white;
}
table > .mobile:nth-child(even) .sticky {
  background-color: white;
}

tr > td.sticky {
  background-color: white;
  min-width: 118px;
}

.accordion-body {
  padding: 10px 5px;
}

.accordion-button{
  background-color: #0063b9;
  color: white;
}

.mobile-table {
  font-size: 14px;
  td {
    border-bottom: 1px solid #ccc;
    min-width: 151px;
    padding: 4px 6px;
  }
}
