<div class="modal-header justify-content-end pb-0 border-0">
  <button
    name="modalRef"
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="ModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div
  class="modal-body px-5 pt-4 pb-5"
  style="max-height: 500px; overflow-y: auto"
>
  <p style="font-size: 1.7rem" class="text-center">
    ¡Gracias {{ nombre }} por participar!
  </p>
  <p class="text-center">No olvides seguirnos en redes sociales</p>
  <div class="d-flex justify-content-around w-75 m-auto">
    <a
      href="https://www.facebook.com/IMPLEMENTOSREPUESTOS/"
      rel="noopener"
      target="_blank"
    >
      <img
        src="../../../../../assets/images/logos/facebook.png"
        style="width: 48px"
      />
    </a>
    <a
      href="https://www.instagram.com/implementosrepuestos/"
      rel="noopener"
      target="_blank"
    >
      <img
        src="../../../../../assets/images/logos/instagram.png"
        style="width: 48px"
      />
    </a>
    <a
      href="https://www.linkedin.com/company/implementos-chile-epysa "
      rel="noopener"
      target="_blank"
    >
      <img
        src="../../../../../assets/images/logos/linkedin.png"
        style="width: 48px"
      />
    </a>
    <a
      href="https://www.youtube.com/channel/UCgfuvkNmM3L89vLcRCLpAjw"
      rel="noopener"
      target="_blank"
    >
      <img
        src="../../../../../assets/images/logos/youtube.png"
        style="width: 48px"
      />
    </a>
  </div>
</div>

<div class="modal-footer justify-content-center">
  <a [routerLink]="['/inicio']" class="btn-link" (click)="ModalRef.hide()"
    >Visita nuestra página Web</a
  >
</div>
