<div class="input-group">
  <div
    data-name="gtm_minus"
    class="input-group-prepend"
    (mousedown)="sub()"
    style="width: auto !important; display: flex !important"
  >
    <span class="input-group-text" style="cursor: pointer">
      <i class="fas fa-minus m-auto" style="font-size: 10px"></i>
    </span>
  </div>
  <input
    style="width: 100% !important; flex: 1 1 0% !important; z-index: 9999"
    class="form-control text-center"
    type="number"
    [min]="options.min"
    [max]="options.max"
    [value]="value"
    [disabled]="options.disabled"
    [readOnly]="options.readonly"
    (blur)="onTouched()"
    (change)="changeValue()"
    #inputElement
    (input)="input()"
  />
  <div
    data-name="gtm_add"
    class="input-group"
    style="width: auto !important; display: flex !important"
  >
    <span class="input-group-text" style="cursor: pointer" (mousedown)="add()">
      <i class="fas fa-plus" style="font-size: 10px"></i>
    </span>
  </div>
</div>
