.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  margin: 5px;
}

.marcaP .imagen_marca {
  width: 50% !important;
  position: relative;

  margin-top: -1.8rem;
  margin-bottom: 0.5rem;
}

.product-card {
  position: relative;
  padding: 1px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.2);

  &:hover::before {
    box-shadow: none !important;
  }
}

.product-card::before {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  border: none;
  /* transition: box-shadow 0.2s; */
}

.product-card__sku a {
  font-size: 0.875rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}

.product-card__descripcion {
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
  max-height: 5.5625rem;
  overflow: hidden;
  margin-bottom: 2.5625rem;
}

.product-card--layout--horizontal .product-card__rating {
  margin-bottom: 0.875rem;
}

.product-card__new-price {
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: left;
  color: #0063b9;
  width: 100%;
}

.product-card__save-price {
  margin-left: 1.875rem;
}

.product-card__old-price,
.product-card__save-price {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #b2b2b2;
}

.product-card_div-price {
  margin-top: 0.5rem;
}

.product-card__addtocart {
  margin-right: auto;
  border-radius: 15px;
  float: right;
}

.icon-cart {
  display: inline-block;
  top: 0.3125rem;
  margin-left: 0.3125rem;
}

.btn.btn-svg-icon {
  width: auto;
}

.product-card__wishlist-grid {
  right: 10px;
  top: -3px;
  font-size: 1.5rem;
}

.product-card__quickview {
  padding: 0px;
  margin: 0px;
  right: 40px;
  width: auto;
  font-size: 1.5rem;
  top: 1px;
  color: #3d464d;
}

.product-card:hover .product-card__quickview {
  background: none;
}

.product-card:hover .listaBotones {
  visibility: visible !important;
}

.listaBotones {
  border: 1px solid #ccc;
  border-radius: 5px;
  visibility: hidden;
}

.alturaimg {
  min-height: 202.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 500px) {
  .alturaimg {
    min-height: 152.63px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}

.addListaBoton {
  font-size: 0.75rem;
  height: calc(1.5rem + 2px);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.optionsListaBoton {
  height: calc(1.5rem + 2px);
  border-left: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product-card:hover
  .product-card__quickview:not(.product-card__quickview--preload):hover {
  color: #3d464d;
}

.btn.btn-svg-icon:hover {
  transform: scale(1.03) !important;
  background-color: #ccc;
  color: #000;
}

.product-card__addtocart {
  height: 2.625rem;
}

.product-card--layout--horizontal .product-card__new-price {
  text-align: left;
}

.product-card--layout--horizontal.product-card {
  padding: 2.5rem !important;
}

.product-card--layout--horizontal .product-card__info {
  margin: 0px;
  padding: 0 0 0 1.875rem !important;
}

.product-card--layout--horizontal .product-card__image {
  width: 18.75rem;
  padding: 0px;
}

.product-card--layout--horizontal .product-card__actions {
  bottom: 0;
}

.product-card__actions {
  justify-content: end !important;
}

.product-card__quickview {
  padding: 0px;
  margin: 0px;
  right: 20px;
  width: auto;
  font-size: 1.5rem;
  top: 1px;
}

.product-card--layout--horizontal .product-card__quickview {
  right: 2.5rem;
  top: 2.25rem;
}

.product-card--layout--horizontal .product-card__wishlist-grid {
  right: inherit;
  top: inherit;
  bottom: 40px;
  left: 40px;
  font-size: 1.25rem;
  height: auto;
  line-height: initial;
}

.product-card--layout--horizontal .heart-number {
  margin-left: 10px;
  font-size: 0.875rem;
  position: relative;
  top: -2px;
  display: initial;
  padding: 0px;
}

.product-card--layout--horizontal .floating-offers {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 0.6875rem 2.3125rem 0.6875rem 1.25rem;
  left: 0;
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
}

.product-card__buttons {
  padding: 0px;
  margin-top: 2px;
}

.new_price {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.95;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  width: 100%;
}

.imgH {
  width: 80% !important;
}

.product-card:hover .imgC {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.imgC {
  width: 60% !important;
  transition: transform 0.2s;
  height: auto;
  /* Animation */
}

/* .p-5 {
    padding: 0rem !important;
    padding: 0px 2px !important;
} */

.icon-cart {
  float: left;
  top: 0px;
}

.agregar {
  font-size: 1.3rem;
  top: 0px;
  float: right;
}

.product-card_fecha {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.95rem;
}

.product-card__name h2 {
  font-size: 1rem;
}

.nombreP {
  // margin-top: 5px !important;
  margin-bottom: 0px !important;
  font-size: 0.9rem !important;
  // font-weight: bold;
  height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.skuP {
  font-size: 11px;
  color: #838383;
}

.marcaP {
  font-size: 1rem;
  font-weight: bold;
  color: #0063b9;
}

.marcaPlink {
  font-size: 1rem;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  color: #fff;
  background-color: #0063b9;
}

@media (max-width: 479px) {
  .product-card__quickview {
    display: none;
  }

  .marcaP {
    font-size: 0.8rem;
    font-weight: bold;
    color: #0063b9;
  }

  .marcaP .imagen_marca {
    width: 70%;
    position: relative;

    margin-top: -1.8rem;
    margin-bottom: 0.5rem;
  }

  .imagen_fabricante {
    width: 80px;
    height: 80px;
  }

  .nombreP {
    margin-top: 9px !important;
    padding-top: 5px !important;
    margin-bottom: 0px !important;
    font-size: 12px;
  }

  .skuP {
    font-size: 0.5rem;
  }

  .p5 {
    padding: 0rem !important;
    padding: 0px 12px !important;
  }

  .product-card__info {
    padding: 0 5px 0px !important;
  }

  .product-card_fecha {
    font-size: 0.9rem;
  }

  .product-card__name,
  .product-card__name h2 {
    font-size: 0.9em !important;
    padding-bottom: 0px;
  }

  .product-card__sku {
    padding: 5px 0px 5px 0px !important;
  }

  .product-card__rating {
    display: none;
  }

  .product-card__buttons {
    padding: 0.43rem !important;
  }

  .product-card__new-price {
    font-size: 1.2rem !important;
  }

  .icon-cart {
    width: 10px;
    float: left;
    top: -2px;
  }

  .agregar {
    font-size: 0.9rem;
    top: -3px;
  }

  .products-list__item {
    height: 270px !important;
  }

  .product-card__badges-list {
    font-size: 0.7rem !important;
    left: 5px !important;
  }

  .product-card__badges-list-right {
    right: 3px !important;
    text-align: right !important;
    position: absolute;
  }

  .badge_cyber {
    text-align: right !important;
    // height: 38px;
    // width: 38px;
  }

  .new_price {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.95;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    width: 100%;
  }

  .product-card__old-price,
  .product-card__save-price {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #b2b2b2;
  }
}

@media (max-width: 768px) {
  .float-left.product-card__old-price {
    float: none !important;
  }
}

.overlay {
  position: absolute;
  z-index: 10000;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 5px;
}

.alert {
  border: none;
  border-radius: 2px;
  font-size: 15px;
  line-height: 20px;
  padding: 0.5rem 1rem;
}

.alert-primary {
  background: red;
  color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .img_fabricante {
    margin-left: -20px;
    width: 50px !important;
    height: 50px !important;
    z-index: 1;
  }

  .img_escala {
    width: 80% !important;
  }

  .img_marca {
    margin-left: 0px;
    width: 80px !important;
  }
}

@media (min-width: 768px) {
  .img_fabricante {
    width: 60px !important;
    height: 60px !important;
    margin-top: 0px;
    z-index: 1;
  }

  .img_escala {
    width: 80% !important;
  }

  .img_marca {
    margin-left: 0px;
    width: 80px !important;
  }
}

@media (max-width: 350px) {
  .img_escala {
    width: 60% !important;
  }

  .img_marca {
    width: 60% !important;
  }
}

.product_content {
  min-height: 60%;
  overflow: hidden;
}

.bg-implementos {
  background-color: #00549d !important;
  border-radius: 10px;
  font-size: 12px !important;
  padding: 10px;
}
