<div
  class="product-card"
  [ngClass]="{
    'product-card--layout--grid product-card--size--sm': layout === 'grid-sm',
    'product-card--layout--grid product-card--size--nl': layout === 'grid-nl',
    'product-card--layout--grid product-card--size--lg': layout === 'grid-lg',
    'product-card--layout--list': layout === 'list',
    'product-card--layout--horizontal': layout === 'horizontal'
  }"
  style="height: 100%; overflow: hidden"
>
  <span class="floating-offers" *ngIf="layout === 'horizontal'"> 50% </span>

  <div
    class="product-card__badges-list"
    *ngIf="productData.priceInfo.hasScalePrice"
    style="margin-left: 0px !important"
  >
    <div *ngIf="!preciosEscalas">
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
    <div
      *ngIf="preciosEscalas"
      style="cursor: pointer"
      [ngbPopover]="popoverContent"
      #popover="ngbPopover"
      triggers="hover"
      placement="bottom-left"
      (mousehover)="verPreciosEscala(popover)"
    >
      <picture>
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.webp"
          type="image/webp"
        />
        <source
          srcset="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          type="image/jpg"
        />
        <img
          src="assets/images/llevaMasPagaMenos/50x50_cuadrado.jpg"
          class="img_escala"
          alt="precio escala"
        />
      </picture>
    </div>
  </div>

  <!-- <div
      class="product-card__badges-list-right"
      *ngIf="productData.cyberMonday || 0 > 0"
    >
      <div
        class="badge_cyber float-end"
        style="position: absolute; top: 5px; right: 1px"
      >
        <picture>
          <img
            src="https://images.implementos.cl/uploads/cyber/cyberMonday.webp"
            alt=""
            class="me-1 mt-sm-1"
            style="
              position: absolute;
              width: 50px !important;
              height: 50px;
              top: 3px;
              right: 1px;
              z-index: 8;
            "
            alt="logo oferta"
          />
        </picture>
      </div>
    </div>

    <div
      class="product-card__badges-list-right"
      *ngIf="productData.cyber || (0 > 0 && productData.cyberMonday === 0)"
    >
      <div
        class="badge_cyber float-end"
        style="position: absolute; top: 5px; right: 1px"
      >
        <picture>
          <img
            src="https://images.implementos.cl/uploads/cyber/cyber.webp"
            alt=""
            height="60px"
            width="60px"
            class="me-1 mt-sm-1 img"
            style="
              position: absolute;
              width: 50px;
              height: 50px;
              top: 3px;
              right: 1px;
              z-index: 8;
            "
            alt="logo oferta"
          />
        </picture>
      </div>
    </div> -->

  <div
    [ngClass]="
      isOnProductPage ? 'recommended_image__product_page' : 'alturaimg'
    "
    [class.text-center]="home || cartClass"
  >
    <a
      appClick
      (click)="cartService.setProductOrigin(origen)"
      [routerLink]="
        root.product(productData.sku, productData.name, paramsCategory)
      "
    >
      <img
        [src]="root.getUrlImagenMiniatura(productData)"
        class="img-fluid lazyload"
        [class.imgH]="home"
        [class.imgC]="cartClass"
        [alt]="productData.name"
      />
    </a>
  </div>
  <div class="product-card__info">
    <div class="product-card__name">
      <div>
        <a
          class="marcaP"
          (click)="cartService.setProductOrigin(origen)"
          appClick
          [routerLink]="
            root.product(productData.sku, productData.name, paramsCategory)
          "
          >{{
            productData.brand
              | replace : '^SIN MARCA$' : 'IMPLEMENTOS'
              | replace : '^0$' : 'IMPLEMENTOS'
          }}</a
        >
      </div>
      <div class="mt-1">
        <a
          appClick
          (click)="cartService.setProductOrigin(origen)"
          [routerLink]="
            root.product(productData.sku, productData.name, paramsCategory)
          "
        >
          <span class="nombreP" style="-webkit-box-orient: vertical">
            {{ productData.name | capitalizeFirst }}
          </span>
        </a>
      </div>
    </div>

    <ng-container
      *ngIf="
        productData.stockSummary.branchStock !== undefined &&
        productData.stockSummary.companyStock !== undefined
      "
    >
      <!-- <div class="product-card__prices text-end ps-0" style="padding-top: 8px !important" *ngIf="productData?.stockTienda > 0 || productData.stockEmpresa > 0"> -->
      <div
        class="product-card__prices text-end ps-0"
        style="padding-top: 4px !important; height: 40px"
        *ngIf="
          productData.stockSummary.branchStock > 0 ||
          productData.stockSummary.companyStock > 0
        "
        [ngStyle]="{
          display:
            productData.priceInfo.commonPrice ==
            productData.priceInfo.customerPrice
              ? 'flex'
              : 'block',
          'align-items':
            productData.priceInfo.commonPrice ==
            productData.priceInfo.customerPrice
              ? 'center'
              : 'unset'
        }"
      >
        <ng-container>
          <div
            *ngIf="
              productData.priceInfo.commonPrice ==
              productData.priceInfo.customerPrice
            "
            class="product-card__new-price col-12"
            style="padding-left: 0 !important; padding-right: 5px !important"
            [style.font-size]="isOnProductPage ? '17px' : '21px'"
          >
            {{ productData.priceInfo.customerPrice | currencyFormat }}
            <em> c/iva </em>
          </div>
          <div
            *ngIf="
              productData.priceInfo.commonPrice !=
              productData.priceInfo.customerPrice
            "
            class="product-card__new-price text-danger col-12"
            style="padding-left: 0 !important; padding-right: 5px !important"
          >
            {{ productData.priceInfo.customerPrice | currencyFormat }}
            <em> c/iva </em>
          </div>
          <div
            *ngIf="
              productData.priceInfo.commonPrice !=
              productData.priceInfo.customerPrice
            "
            tooltip="Precio normal"
            class="product-card__old-price col-12"
            style="
              text-align: left;
              padding-left: 0 !important;
              padding-right: 5px !important;
            "
          >
            {{ productData.priceInfo.commonPrice | currencyFormat }}
            <em> c/iva </em>
            <br />
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container
      *ngIf="
        productData.stockSummary.branchStock === undefined &&
        productData.stockSummary.companyStock === undefined
      "
    >
      <!-- <div class="product-card__prices text-end ps-0" style="padding-top: 8px !important"> -->
      <div
        class="product-card__prices text-end ps-0"
        style="padding-top: 4px !important; height: 40px"
      >
        <ng-container>
          <div
            *ngIf="
              productData.priceInfo.commonPrice ==
              productData.priceInfo.customerPrice
            "
            class="product-card__new-price col-12"
            style="padding-left: 0 !important; padding-right: 5px !important"
            [style.font-size]="isOnProductPage ? '17px' : '21px'"
          >
            {{ productData.priceInfo.customerPrice | currencyFormat }}
            <em> c/iva </em>
          </div>
          <div
            *ngIf="
              productData.priceInfo.commonPrice !=
              productData.priceInfo.customerPrice
            "
            class="product-card__new-price text-danger col-12"
            style="
              padding-left: 0 !important;
              padding-right: 5px !important;
              margin-left: 5px;
            "
          >
            {{ productData.priceInfo.customerPrice | currencyFormat }}
            <em> c/iva </em>
          </div>
          <div
            *ngIf="
              productData.priceInfo.commonPrice !=
              productData.priceInfo.customerPrice
            "
            tooltip="Precio normal"
            class="product-card__old-price col-12"
            style="
              text-align: left;
              padding-left: 0 !important;
              padding-right: 5px !important;
            "
          >
            {{ productData.priceInfo.commonPrice | currencyFormat }}
            <em> c/iva </em>
            <br />
          </div>
        </ng-container>
      </div>
    </ng-container>

    <!-- <ul
      *ngIf="productData.atributos?.length"
      class="product-card__features-list"
    >
      <li *ngFor="let feature of productData.atributos | slice : 0 : 5">
        <span class="producto-atributo-listado">{{
          feature.nombre | titlecase
        }}</span
        >:
        {{ feature.valor | titlecase }}
      </li>

      <li>
        <a
          (click)="cartService.setPreviousPathToProductDetail(origen)"
          [routerLink]="
            root.product(productData.sku, productData.nombre, paramsCategory)
          "
        >
          Ver más...</a
        >
      </li>
    </ul> -->
  </div>
  <!-- Momentaneo para ver "llega y retiro" -->
  <ng-container
    *ngIf="
      productData.deliverySupply.deliveryLocation !== null &&
      productData.deliverySupply.pickupLocation !== null
    "
  >
    <div
      class="product-card__info flex-column mt-1"
      style="padding-bottom: 4px"
    >
      <ng-container>
        <div class="d-flex align-items-center">
          <ng-container
            *ngIf="
              productData.deliverySupply.deliveryIsToday !== null &&
              productData.deliverySupply.deliveryIsToday
            "
          >
            <i class="fas fa-shipping-fast me-2"></i>
            <div
              style="
                margin-top: 2px;
                padding: 0px 5px;
                background-color: #00800033;
                border-radius: 4px;
              "
            >
              <i
                style="
                  color: green;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 12px;
                "
                >Llega hoy</i
              >
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              productData.deliverySupply.deliveryIsToday == null ||
              !productData.deliverySupply.deliveryIsToday
            "
          >
            <div
              *ngIf="
                productData.deliverySupply.deliveryDate == null;
                else fechaDelivery
              "
            >
              <i class="fas fa-shipping-fast me-2" style="color: grey"></i>
              <i style="color: grey; font-style: normal; font-size: 12px"
                >No disponible</i
              >
            </div>
            <ng-template #fechaDelivery>
              <i class="fas fa-shipping-fast me-2"></i>
              <i
                style="
                  color: black;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 12px;
                "
                >Llega
                {{
                  productData.deliverySupply.deliveryDate
                    | date : 'dd/MM'
                    | uppercase
                }}</i
              >
            </ng-template>
          </ng-container>
        </div>
        <ng-container
          *ngIf="
            productData.deliverySupply.pickupIsToday !== null &&
            productData.deliverySupply.pickupIsToday
          "
        >
          <div class="d-flex align-items-center">
            <i class="fas fa-store me-2"></i>
            <div
              style="
                margin-top: 2px;
                padding: 0px 5px;
                background-color: #00800033;
                border-radius: 4px;
              "
            >
              <i
                style="
                  color: green;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 12px;
                "
                >Retira hoy</i
              >
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            productData.deliverySupply.pickupIsToday == null ||
            !productData.deliverySupply.pickupIsToday
          "
        >
          <div
            style="margin-top: 2px"
            *ngIf="
              productData.deliverySupply.pickupDate == null;
              else fechaEntregaRetiro
            "
          >
            <i class="fas fa-store me-2" style="color: grey"></i>
            <i style="color: grey; font-style: normal; font-size: 12px"
              >No disponible</i
            >
          </div>
          <ng-template #fechaEntregaRetiro>
            <div style="margin-top: 2px">
              <i class="fas fa-store me-2"></i>
              <i
                style="
                  color: black;
                  font-weight: bold;
                  font-style: normal;
                  font-size: 12px;
                "
                >Retira
                {{
                  productData.deliverySupply.pickupDate
                    | date : 'dd/MM'
                    | uppercase
                }}</i
              >
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <!-- Fin momentaneo -->

  <!-- Texto cuando no haya stock del producto -->
  <div
    class="product-card__info"
    *ngIf="
      productData.stockSummary.branchStock === 0 &&
      productData.stockSummary.companyStock === 0
    "
  >
    <ng-container>
      <div class="no_stock">
        <div class="text-center" style="margin: 0px; padding: 0">
          <span>Sujeto a disponibilidad </span>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- FIN texto cuando no haya stock -->

  <div class="product-card__actions">
    <ng-container>
      <div
        class="product-card__buttons"
        *ngIf="
          productData.stockSummary.branchStock === undefined &&
          productData.stockSummary.companyStock === undefined
        "
      >
        <button
          name="addToCart"
          [disabled]="!productData.priceInfo.price"
          class="btn btn-secondary product-card__addtocart w-100"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
        <button
          name="add"
          [disabled]="!productData.priceInfo.price"
          class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
      </div>
      <div
        class="product-card__buttons"
        *ngIf="
          productData.stockSummary.branchStock > 0 ||
          productData.stockSummary.companyStock > 0
        "
      >
        <button
          name="addToCart"
          [disabled]="!productData.priceInfo.price"
          class="btn btn-secondary product-card__addtocart w-100"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
        <button
          name="add"
          [disabled]="!productData.priceInfo.price"
          class="btn btn-secondary product-card__addtocart product-card__addtocart--list"
          type="button"
          appClick
          (click)="addToCart()"
          [ngClass]="{ 'btn-loading': addingToCart }"
        >
          <div class="text-center" style="font-size: 14px">AGREGAR</div>
        </button>
      </div>
      <div
        class="product-card__buttons"
        *ngIf="
          productData.stockSummary.branchStock === 0 &&
          productData.stockSummary.companyStock === 0
        "
      >
        <button
          [routerLink]="
            root.product(productData.sku, productData.name, paramsCategory)
          "
          class="btn btn-secondary product-card__addtocart w-100"
          type="button"
          appClick
        >
          <div class="text-center" style="font-size: 14px">SOLICITAR</div>
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #popoverContent>
  <div class="mb-4 product_content" style="min-height: 140px">
    <a
      style="margin-bottom: 10px"
      appClick
      (click)="cartService.setProductOrigin(origen); modalEscalaRef.hide()"
      [routerLink]="
        root.product(productData.sku, productData.name, paramsCategory)
      "
    >
      <span class="nombreP">
        {{ productData.name | slice : 0 : 30 | uppercase }} {{ ' ...' }}
      </span>
    </a>
    <table>
      <thead>
        <tr style="background-color: #094cac !important">
          <th>Volumen</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody *ngIf="preciosEscalas">
        <ng-container *ngFor="let precio of preciosEscalas; let i = index">
          <tr
            [ngStyle]="{
              'background-color': (i + 1) % 2 !== 0 ? '#efefef' : '#fff'
            }"
          >
            <td>
              <strong
                >{{ precio.fromQuantity }} -
                {{ precio.toQuantity }} ud.</strong
              >
            </td>
            <td style="color: #0063b9">
              {{
                (!isVacio(usuario.preferences.iva)
                  ? usuario.preferences.iva
                    ? precio.price
                    : precio.price / (1 + IVA)
                  : precio.price
                ) | currencyFormat
              }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>
