html {
    background: white !important;
    background-color: white !important;
}

* {
    overflow: hidden !important; /* Hide scrollbars */
}

.loader-container {
    width: 100%;
    height: 100vh;
    background: white !important;
    background-color: white !important;
}

.pdf-container {
    height: 100vh;
}

