<app-loading-bar></app-loading-bar>
<!-- <app-loading *ngIf="loadingPage"></app-loading> -->

<div *ngIf="innerWidth < 450">
  <app-menu-categoria-b2c-mobile></app-menu-categoria-b2c-mobile>
</div>
<div *ngIf="innerWidth > 450">
  <app-menu-categorias-b2c></app-menu-categorias-b2c>
</div>
<!-- site -->
<div class="site site_b2c">
  <!-- mobile site__header -->
  <header class="site__header d-lg-none">
    <app-mobile-header></app-mobile-header>
  </header>
  <!-- mobile site__header / end -->

  <!-- desktop site__header -->
  <header *ngIf="headerLayout" class="site__header d-lg-block d-none">
    <app-header [layout]="headerLayout"></app-header>
  </header>
  <!-- desktop site__header / end -->

  <!-- site__body -->
  <div class="site__body">
    <router-outlet></router-outlet>
  </div>
  <!-- site__body / end -->

  <!-- site__footer -->
  <footer class="site__footer">
    <app-footer-b2c></app-footer-b2c>
  </footer>
  <!-- site__footer / end -->
  <!-- <app-chat *ngIf="isBrowser"></app-chat> -->
</div>
<!-- site / end -->
