<div class="row" [ngStyle]="style" (click)="send_pagina(caja.data.url)">
    <div class="container-img" [ngStyle]="style">
        <img [src]="caja.data.image" class="bg lazyload" [ngStyle]="style" [alt]="caja?.data?.titulo" />
    </div>
    <div class="col-sm-12 d-flex justify-content-center" style="cursor: pointer" [ngStyle]="style_title">
        <h4 [ngStyle]="style_text">
            {{ caja.data.titulo }}
        </h4>
    </div>
    <div class="col-sm-12 overlay" [ngStyle]="style_overlay"></div>
</div>
