.methodPaymentLogo {
  width: 95%;
  height: 60px;
}

.block-payment {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 90px;
  border: 2px solid #ccc;
  padding-left: 10px;
  /*    text-align: center; */
}

.form-check-label::before {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.form-check-input:checked ~ .form-check-label::before {
  background-color: #0063b9;
  border-color: #0063b9;
}
