<!-- Start::menu item (lg+) -->
<div class="d-none d-lg-block">
  <h6 class="fw-bold ps-3">Mi cuenta</h6>
  <hr class="my-2" style="background-color: #646462" />

  <div>
    <ul>
      <li class="ps-3" *ngFor="let link of links">
        <span class="link" (click)="validarCuenta(link)">{{
          link.label
        }}</span>
      </li>
    </ul>
  </div>

  <div class="ps-3">
    <!-- <img src="../../../../../assets/images/mutual_01.png" style="width: 60px" /> -->
    <picture>
      <source srcset="assets/images/mutual_01.webp" type="image/webp" />
      <source srcset="assets/images/mutual_01.png" type="image/png" />
      <img
        src="assets/images/mutual_01.png"
        style="width: 60px"
        alt="mutual"
      />
    </picture>
  </div>
</div>

<!-- End::menu item (lg+) -->

<!-- Start::menu item (xs, sm y md) -->
<div class="d-block d-lg-none">
  <div
    class="col-sm-12"
    data-bs-toggle="collapse"
    data-bs-target="#account"
    [attr.aria-expanded]="terminos"
    aria-controls="account"
  >
    <div class="row">
      <div class="col-8 d-flex justify-content-start">
        <h5 class="fw-bold text-center">Mi cuenta</h5>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
    </div>
  </div>
  <hr class="my-2" style="background-color: #646462" />
  <div
    class="collapse multi-collapse"
    [ngClass]="terminos ? 'show' : ''"
    id="account"
  >
    <ul>
      <ng-container *ngFor="let link of links">
        <li class="ps-3" *ngIf="link.label !== 'Cerrar sesión' && usuario">
          <span class="link" (click)="validarCuenta(link)">{{
            link.label
          }}</span>
        </li>
      </ng-container>
    </ul>
    <hr class="my-2" style="background-color: #646462" />
  </div>
</div>
<!-- End::menu item (xs, sm y md) -->
