<!-- .block-brands -->
<div class="block block-brands">
  <app-block-header [header]="'Marcas destacadas'"></app-block-header>
  <div class="col-lg-12" style="background: #ffffff; margin-right: 2rem">
    <div class="block-brands__slider" style="background: #ffffff">
      <owl-carousel-o
        [options]="carouselOptions"
        appOwlPreventClick
        style="background: #ffffff"
      >
        <ng-container *ngFor="let brandArr of brands">
          <ng-template carouselSlide>
            <div
              class="block-brands__item"
              style="margin: 1rem"
              *ngFor="let brand of brandArr"
            >
              <a
                href="/inicio/productos/todos?filter_MARCA={{
                  brand.brand | uppercase
                }}"
                ><img
                  [src]="brand.image"
                  alt="marcas"
                  class="lazyload"
                  [ngStyle]="{
                    width: innerWidth <= 425 ? '80%' : '100%',
                    'margin-left': innerWidth <= 425 ? '40px' : '0px'
                  }"
              /></a>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
<!-- .block-brands / end -->
