.bg-primary {
  background-color: #0063b9 !important;
  color: white !important;
}

.botonSeccion {
  cursor: pointer;
}
@media (max-width: 800px) and (min-width: 300px) {
  .divSlider {
    margin-top: -15px;
  }
}
.botonSeccion :hover {
  background-color: #009579 !important;
  cursor: pointer;
}

.odd {
  padding-left: 0px !important;
}

.even {
  padding-right: 0px !important;
}

@media screen and (max-width: 425px) {
  .listado {
    position: relative;
    bottom: 75px;
    left: -10px;
  }
}

@media screen and (max-width: 375px) {
  .listado {
    left: 285px;
    bottom: 98px;
  }
}

@media screen and (max-width: 320px) {
  .listado {
    left: 230px;
  }
}

.card_especiales {
  cursor: pointer;
  border: 1px solid #0063b9;
  background-color: white;
  padding: 10px !important;
  border-radius: 16px;
  font-weight: bold;
  color: #0063b9;
}

.card_especiales:hover {
  cursor: pointer;
  border: 1px solid white;
  background-color: #0063b9;
  padding: 10px !important;
  border-radius: 16px;
  font-weight: bold;
  color: white;
}

::ng-deep.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #0063b9 !important;
  cursor: pointer !important;
}

.w-80 {
  width: 80% !important;
}

.products-list__item:hover {
  border: none;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 50%);
  border-radius: 19px;
}
