<div infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onPageChange()">
  <ng-container *ngIf="innerWidth > 426">
  <app-scroll-top [fast]="true"> </app-scroll-top>
  <ng-container *ngIf="banners">
    <a [href]="banners.url" [target]="banners.target">
      <img [src]="banners.imageFull" width="100%" [alt]="banners.alt" />
    </a>
  </ng-container>
  <div class="container h-100 my-2" id="top">
    <div class="row justify-content-center h-100">
      <div
        class="card_especiales text-center col-sm-3 m-1 p-0 mb-3"
        *ngFor="
          let objB of secciones
            | paginate : { itemsPerPage: 3, currentPage: p }
        "
        (click)="getUrl(objB.id)"
      >
        <div
          style="text-transform: uppercase;
          font-size: 1.2rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;"
        >
          {{ objB.nombre }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <pagination-controls
        (pageChange)="pageChanged($event)"
        previousLabel=""
        nextLabel=""
      ></pagination-controls>
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="innerWidth < 427">
  <ng-container *ngIf="banners">
    <a [href]="banners.url" [target]="banners.target">
      <img
        [src]="banners.imageMobile"
        width="100%"
        [alt]="banners.alt"
        style="margin-top: -15px"
      />
    </a>
  </ng-container>
  <div class="container h-100 my-2" id="top">
    <div class="row justify-content-center h-100">
      <div
        class="card_especiales text-center col-sm-3 m-1 p-0 mb-3"
        *ngFor="
          let objB of secciones
            | paginate : { itemsPerPage: 3, currentPage: p };
          let y = index
        "
        (click)="getUrl(objB.id)"
      >
        <div
          style="text-transform: uppercase;
          font-size: 1.2rem;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;"
        >
          {{ objB.nombre }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <pagination-controls
        (pageChange)="pageChanged($event)"
        previousLabel=""
        nextLabel=""
      ></pagination-controls>
    </div>
  </div>
  </ng-container>

  <app-loading-element
  [text]="'Cargando...'"
  *ngIf="secciones.length === 0"
  ></app-loading-element>

  <div *ngIf="secciones.length > 0" class="products-view container mb-5" (window:resize)="onResize($event)">
  <div class="clearfix"></div>
  <div
    class="products-view__list products-list"
    [attr.data-layout]="layout != 'list' ? grid : layout"
    [attr.data-with-features]="
      layout == 'grid-with-features' ? 'true' : 'false'
    "
  >
    <div
      class="products-list__body m-auto"
      [class.w-80]="innerWidth > 426"
      [class.w-100]="innerWidth <= 426"
    >
      <div *ngIf="nombre != null" class="text-center mt-3 col-12">
        <app-block-header
          [header]="nombre"
          colorText="text-primary"
        ></app-block-header>
        <div *ngIf="cargandoProductos" class="row flex-column justify-content-center align-content-center mt-5">
          <div class="text-center"><i class="fas fa-spinner fa-2x fa-spin fa-fw"></i></div>
          <div class="mt-1">Cargando Artículos</div>
        </div>
      </div>

      <div
        *ngFor="let product of producto_espacial"
        class="products-list__item mb-2 px-2 px-md-0"
      >
        <app-product-card-b2c-cms
          [origen]="['catalogo-especial', ruta[2], nombre?.trim(), '']"
          [product]="product"
          [cartClass]="true"
        >
        </app-product-card-b2c-cms>
      </div>
    </div>
    <div *ngIf="cargandoProductos2" class="row flex-column justify-content-center align-content-center mt-5">
      <div class="text-center"><i class="fas fa-spinner fa-2x fa-spin fa-fw"></i></div>
      <div class="mt-1">Cargando Artículos</div>
    </div>
  </div>
  </div>
</div>
