<div class="row">
  <div class="col-md-12 d-flex">
    <div class="card m-0 shadow-none">
      <div class="card-body m-0">
        <app-loading-element
          *ngIf="isLoading"
          [text]="'Registrando la información'"
        ></app-loading-element>

        <h3 class="card-title">Registro de Usuario</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <div class="col p-0">
                <div class="form-check form-check-lg">
                  <span class="form-check-input input-check">
                    <span class="input-check__body">
                      <input
                        (click)="changeUserType()"
                        name="tipoDocumento"
                        class="input-check__input"
                        type="checkbox"
                        id="check-factura"
                        [checked]="isInvoice && !checkBoxPersona"
                      />
                      <span class="input-check__box"></span>
                      <app-icon
                        class="input-check__icon"
                        name="check-9x7"
                        size="19x19"
                      >
                      </app-icon>
                    </span>
                  </span>
                  <label
                    class="form-check-label"
                    for="check-factura"
                    style="color: #0063b9"
                    >Soy Empresa</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <div class="col p-0">
                <div class="form-check form-check-lg">
                  <span class="form-check-input input-check">
                    <span class="input-check__body">
                      <input
                        name="tipoDocumento"
                        (click)="changeUserType()"
                        [checked]="checkBoxPersona"
                        class="input-check__input"
                        type="checkbox"
                        id="check-persona"
                      />
                      <span class="input-check__box"></span>
                      <app-icon
                        class="input-check__icon"
                        name="check-9x7"
                        size="19x19"
                      >
                      </app-icon>
                    </span>
                  </span>
                  <label
                    class="form-check-label"
                    for="check-persona"
                    style="color: #0063b9"
                    >Soy Persona</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <form [formGroup]="userForm">
          <div class="row">
            <ng-container *ngIf="isInvoice">
              <h2 class="form-title col-md-12" style="color: #0063b9">
                Datos Empresa
              </h2>
              <div class="col-md-12">
                <label style="color: #0063b9; font-weight: 100"
                  >{{ document.name }}* (ej: {{ document.sample }})</label
                >
                <div class="input-group">
                  <input
                    formControlName="documentId"
                    [(ngModel)]="rut"
                    class="form-control"
                    [disabled]="isDisabledDocumentId"
                    [placeholder]="isInvoice ? 'Rut Empresa*' : document.name"
                    (focusout)="checkIfDocumentIdExists($event)"
                    [maxlength]="cantMaxRut"
                    appRutChars
                  />
                  <span class="input-group-text" style="padding: 0">
                    <button
                      class="btn btn-sm btn-secondary"
                      *ngIf="!isDisabledDocumentId"
                      type="button"
                    >
                      <i class="fa fa-search fa-lg"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-secondary"
                      (click)="cleanDocumentId()"
                      *ngIf="isDisabledDocumentId"
                      type="button"
                    >
                      <i class="fa fa-times fa-lg"></i>
                    </button>
                  </span>
                </div>
                <p
                  *ngIf="
                    userForm.controls['documentId'].invalid &&
                    userForm.controls['documentId'].touched
                  "
                  class="text-error-form-2 float-start"
                >
                  El {{ document.name }} ingresado no es válido.
                </p>
              </div>
              <div class="col-md-12 mt-3">
                <div class="mb-3">
                  <input
                    formControlName="businessName"
                    type="text"
                    class="form-control"
                    placeholder="Razón social*"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <ng-select
                    [clearable]="false"
                    [searchable]="true"
                    [items]="businessLines"
                    bindLabel="name"
                    bindValue="code"
                    formControlName="businessLine"
                    class="form-control-select"
                    placeholder="Giro*"
                  >
                  </ng-select>
                </div>
              </div>
            </ng-container>

            <h2 class="form-title col-md-12" style="color: #0063b9">
              <span *ngIf="isInvoice">Datos Contacto</span>
              <span *ngIf="!isInvoice">Datos Cliente</span>
            </h2>
            <div class="col-md-12" *ngIf="!isInvoice">
              <label style="color: #0063b9; font-weight: 100"
                >{{ document.name }}* (ej:{{ document.sample }})</label
              >
              <div class="input-group">
                <input
                  formControlName="documentId"
                  [(ngModel)]="rut"
                  class="form-control"
                  [disabled]="isDisabledDocumentId"
                  [placeholder]="
                    isInvoice ? 'Rut Empresa*' : document.name + '*'
                  "
                  (focusout)="checkIfDocumentIdExists($event)"
                  [maxlength]="cantMaxRut"
                  appRutChars
                />
                <span class="input-group-text" style="padding: 0">
                  <button
                    class="btn btn-sm btn-secondary"
                    *ngIf="!isDisabledDocumentId"
                    type="button"
                  >
                    <i class="fa fa-search fa-lg"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-secondary"
                    (click)="cleanDocumentId()"
                    *ngIf="isDisabledDocumentId"
                    type="button"
                  >
                    <i class="fa fa-times fa-lg"></i>
                  </button>
                </span>
              </div>
              <p
                *ngIf="
                  userForm.controls['documentId'].invalid &&
                  userForm.controls['documentId'].touched
                "
                class="text-error-form-2 float-start"
              >
                El {{ document.name }} ingresado no es válido.
              </p>
            </div>

            <div class="col-12" *ngIf="isInvoice">
              <label style="color: #0063b9; font-weight: 100"
                >{{ document.name }} *(ej:11111111-1)</label
              >
              <div class="input-group">
                <input
                  formControlName="contactDocumentId"
                  class="form-control"
                  [placeholder]="document.name + '*'"
                  [maxlength]="cantMaxRut"
                  appRutChars
                />
              </div>
              <p
                *ngIf="
                  userForm.controls['contactDocumentId'].invalid &&
                  userForm.controls['contactDocumentId'].touched
                "
                class="text-danger float-start"
              >
                El {{ document.name }} ingresado no es válido.
              </p>
            </div>

            <div class="col-12 mt-3" *ngIf="isInvoice">
              <div class="mb-3">
                <ng-select
                  [clearable]="false"
                  [searchable]="true"
                  [items]="contactPositions"
                  bindLabel="title"
                  bindValue="titleId"
                  formControlName="position"
                  class="form-control-select"
                  placeholder="Cargo*"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-12" *ngIf="!isInvoice"></div>

            <div class="col-md-12 mt-3">
              <div class="mb-3">
                <input
                  formControlName="firstName"
                  type="text"
                  class="form-control"
                  placeholder="Nombres*"
                  appLettersChar
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <input
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  placeholder="Apellidos*"
                  appLettersChar
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="mb-3">
                <label style="color: #0063b9; font-weight: 100"
                  ><font style="margin-right: 10px">Código*</font>
                  <font>Teléfono Fijo/Celular</font></label
                >
                <div class="input-group">
                  <div class="input-group-prepend" dropdown>
                    <button
                      id="button-basic"
                      dropdownToggle
                      type="button"
                      class="btn btn-outline-secondary dropdown-toggle"
                      aria-controls="dropdown-phone"
                    >
                      <i
                        [ngClass]="
                          phoneCode === phoneCodes.mobile.code
                            ? 'fa-solid fa-mobile-screen'
                            : 'fa-solid fa-phone'
                        "
                        style="margin-right: 1px"
                      ></i>
                      {{ phoneCode }}
                    </button>
                    <div
                      id="dropdown-phone"
                      *dropdownMenu
                      class="dropdown-menu"
                      role="menu"
                      aria-labelledby="button-basic"
                    >
                      <a
                        class="dropdown-item"
                        (click)="changePhoneCode(phoneCodes.mobile.code)"
                        ><i
                          class="fa-solid fa-mobile-screen"
                          style="margin-right: 1px"
                        ></i
                        >{{ phoneCodes.mobile.code }}</a
                      >
                      <a
                        class="dropdown-item"
                        (click)="changePhoneCode(phoneCodes.landline.code)"
                        ><i
                          class="fa-solid fa-phone"
                          style="margin-right: 1px"
                        ></i
                        >{{ phoneCodes.landline.code }}</a
                      >
                    </div>
                  </div>
                  <input
                    formControlName="phone"
                    type="text"
                    class="form-control"
                    placeholder="Teléfono*"
                    maxLength="9"
                    appPhoneChar
                  />
                </div>

                <p
                  *ngIf="
                    userForm.controls['phone'].invalid &&
                    userForm.controls['phone'].touched
                  "
                  class="text-error-form-2"
                >
                  El número de contacto no es válido.
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <autocomplete
                  #emailValidate
                  givenPlaceHolder="Email"
                  [disabled]="!isValidDocumentId"
                  [domainNames]="domains"
                >
                </autocomplete>
              </div>
            </div>

            <div class="col-md-12">
              <div class="mb-3">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Contraseña"
                />
                <p
                  *ngIf="
                    userForm.controls['password'].invalid &&
                    userForm.controls['password'].touched
                  "
                  class="text-error-form-2"
                >
                  La contraseña no puede tener menos de 6 caracteres
                </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="mb-3">
                <input
                  type="password"
                  formControlName="confirmPassword"
                  class="form-control"
                  placeholder="Repita contraseña"
                />
                <p
                  class="text-error-form-2"
                  *ngIf="userForm.errors?.['doesMatchPassword']"
                >
                  Las contraseñas no son iguales, por favor intente nuevamente.
                </p>

                <p
                  class="text-error-form-2"
                  *ngIf="userForm.controls['confirmPassword'].errors?.['required'] && userForm.controls['confirmPassword'].touched"
                >
                  El campo confirme contraseña es requerido.
                </p>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12">
              <app-map
                [autocompletado]="autocompletado"
                (clearAdress)="cleanAddress()"
                [storeAddress]="selectedAddress?.address || ''"
                [storeZone]="selectedAddress?.zone || ''"
                (setDireccion)="setAddressFromMap($event)"
                (geolocalizacion)="geolocalizacion($event)"
                [titulo]="
                  isInvoice
                    ? 'Ingrese Dirección de Facturación'
                    : 'Ingrese Dirección de Despacho'
                "
              >
              </app-map>
            </div>
          </div>
          <div class="mb-3">
            <div class="row m-0">
              <div
                class="col-md-9 ps-0"
                [class.ps-0]="innerWidth < 427"
                [class.mb-3]="innerWidth < 427"
              >
                <input
                  formControlName="street"
                  type="text"
                  class="form-control"
                  [attr.disabled]="disableAddress"
                  (blur)="setSelectedAddress()"
                  placeholder="Dirección*"
                />
              </div>

              <div class="col-md-3 p-0">
                <input
                  formControlName="streetNumber"
                  type="text"
                  class="form-control"
                  placeholder="Número* "
                  (blur)="setSelectedAddress()"
                />
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row m-0">
              <div
                class="col-md-6 ps-0"
                [class.ps-0]="innerWidth < 427"
                [class.mb-3]="innerWidth < 427"
              >
                <input
                  formControlName="departmentOrHouse"
                  type="text"
                  class="form-control"
                  placeholder="Departamento"
                />
              </div>

              <div class="col-md-6 ps-0" [class.ps-0]="innerWidth < 427">
                <ng-select
                  [clearable]="false"
                  [searchable]="true"
                  [items]="cities"
                  bindLabel="city"
                  bindValue="id"
                  formControlName="city"
                  class="form-control-select"
                  (blur)="setSelectedAddress()"
                  placeholder="Comuna*"
                >
                </ng-select>
              </div>
            </div>
          </div>

          <div class="mb-3 col-md-12 px-0">
            <textarea
              class="form-control"
              placeholder="Ingrese una referencia para su dirección"
              formControlName="reference"
            ></textarea>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <div class="col p-0">
                  <div class="form-check form-check-lg">
                    <span class="form-check-input input-check">
                      <span class="input-check__body">
                        <input
                          (click)="registrar()"
                          name="tipoSuscripcion"
                          class="input-check__input"
                          type="checkbox"
                          id="check-inscripcion"
                          [checked]="checkBoxSuscribir"
                        />
                        <span class="input-check__box"></span>
                        <app-icon
                          class="input-check__icon"
                          name="check-9x7"
                          size="19x19"
                        >
                        </app-icon>
                      </span>
                    </span>
                    <label
                      class="form-check-label"
                      for="check-inscripcion"
                      style="color: #0063b9; font-weight: bold"
                      >Quiero suscribirme a implementos.cl</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <div class="col p-0">
                  <div class="form-check form-check-lg">
                    <span class="form-check-input input-check">
                      <span class="input-check__body">
                        <input
                          name="tipoTermino"
                          (click)="acepto()"
                          [checked]="checkBoxTerminos"
                          class="input-check__input"
                          type="checkbox"
                          id="check-acepto"
                        />
                        <span class="input-check__box"></span>
                        <app-icon
                          class="input-check__icon"
                          name="check-9x7"
                          size="19x19"
                        >
                        </app-icon>
                      </span>
                    </span>
                    <label
                      class="form-check-label"
                      for="check-acepto"
                      style="color: #0063b9; font-weight: bold"
                      >Acepto terminos y condiciones *</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <ng-container *ngIf="innerWidth >= 450">
        <div class="card-footer p-0">
          <button
            name="REGISTRARSE"
            (click)="registerUser(emailValidate)"
            type="button"
            [disabled]="
              !userForm.valid ||
              !checkBoxTerminos ||
              isLoading ||
              !emailValidate.correoValido
            "
            class="btn btn-lg btn-secondary w-100 text-center"
          >
            REGISTRARSE
          </button>

          <a
            class="link-primary link-primary-lg d-block text-center mt-3"
            [routerLink]="['/sitio', 'iniciar-sesion']"
          >
            Volver a Iniciar sesión
          </a>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="innerWidth < 450">
    <div class="col-sm-12" style="margin-top: 100px">
      <div class="footer-page">
        <div class="card">
          <div class="card-body">
            <button
              name="REGISTRARSE"
              (click)="registerUser(emailValidate)"
              type="button"
              [disabled]="
                !userForm.valid || isLoading || !emailValidate.correoValido
              "
              class="btn btn-lg btn-secondary w-100 text-center"
            >
              REGISTRARSE
            </button>

            <a
              class="link-primary link-primary-lg d-block text-center mt-3"
              [routerLink]="['/sitio', 'iniciar-sesion']"
            >
              Volver a Iniciar sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
