.login-header {
  width: 50rem;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  border: solid 1px !important;
}

.btn-outline-secondary:hover {
  color: #fff !important;
  background-color: #6c757d;
  border-color: #6c757d;
}

.login-header .card {
  box-shadow: 0 24px 44px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.footer-page {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  text-align: center;
}

.form-group label {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 12px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #0063b9;
  border-bottom: solid 1px #0063b9;
  text-transform: uppercase;
}

.form-group-remember {
  margin-top: 36px;
}

.form-group-remember label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}

.text-footer {
  margin-top: 95px;
}
.text-register {
  margin-top: 65px;
}

.login-register {
  width: auto;
}

.login-register .card {
  box-shadow: none;
}

.login-register .card-body {
  margin: 0 !important;
}

.form-control-select {
  text-transform: initial;
}

.card {
  border: 0;
  border-radius: 0.25rem;
  color: #333;
  background: #f2f2f2;
  width: 100%;
  box-shadow: 0 0.75rem 6rem rgb(56 65 74 / 3%);
  padding: 30px;
}

.alert-info {
  color: #0063b9;
  background-color: #ffffff;
  border-color: #ffffff;
}

.form-control:disabled {
  background-color: #f8f8f8;
  opacity: 1;
}
