<div class="mb-1" [hidden]="HideFooter() ? true : false">
  <div class="container" style="background-color: white; padding-bottom: 50px">
    <div class="row justify-content-center">
      <!-- Start::devoluciones (lg+) -->
      <div
        class="col-3 d-none d-lg-block"
        style="cursor: pointer"
        [routerLink]="['/sitio/politicas/cambios-devolucion']"
      >
        <div class="row">
          <div class="col-4">
            <img
              ngSrc="../../../../../assets/svg/11.svg"
              width="80"
              height="80"
              alt="devoluciones"
            />
          </div>

          <div
            class="col-8 d-flex flex-column justify-content-center align-items-start"
            style="color: #094cac"
          >
            <span>Cambios y</span>
            <span class="fw-bold">DEVOLUCIONES</span>
          </div>
        </div>
      </div>
      <!-- End::devoluciones (lg+) -->

      <!-- Start::devoluciones (sm y md) -->
      <div
        class="col-3 d-none d-sm-block d-lg-none"
        style="cursor: pointer"
        [routerLink]="['/sitio/politicas/cambios-devolucion']"
      >
        <div class="row">
          <div class="col-12">
            <img
              ngSrc="../../../../../assets/svg/11.svg"
              width="80"
              height="80"
              alt="devoluciones"
            />
          </div>

          <div
            class="col-12 d-flex flex-column justify-content-center align-items-start"
            style="color: #094cac"
          >
            <span>Cambios y</span>
            <span class="fw-bold">DEVOLUCIONES</span>
          </div>
        </div>
      </div>
      <!-- End::devoluciones (sm y md) -->

      <!-- Start::devoluciones (xs) -->
      <div
        class="col-12 d-block d-sm-none"
        style="cursor: pointer;  margin-bottom: 15px"
        [routerLink]="['/sitio/politicas/cambios-devolucion']"
      >
        <div class="row">
          <div class="col-4 d-flex justify-content-center">
            <img
              ngSrc="../../../../../assets/svg/11.svg"
              width="80"
              height="80"
              alt="devoluciones"
            />
          </div>

          <div
            class="col-8 d-flex flex-column justify-content-center"
            style="color: #094cac"
          >
            <span>Cambios y</span>
            <span class="fw-bold">DEVOLUCIONES</span>
          </div>
        </div>
      </div>
      <!-- End::devoluciones (xs) -->

      <!-- Start::tiendas (lg+) -->
      <div
        class="col-3 d-none d-lg-block"
        style="cursor: pointer"
        [routerLink]="['/sitio/tiendas']"
      >
        <div class="row">
          <div class="col-4">
            <img
              ngSrc="../../../../../assets/svg/12.svg"
              width="70"
              height="70"
              alt="tiendas"
            />
          </div>
          <div
            class="col-8 d-flex flex-column justify-content-center align-items-start"
            style="color: #094cac"
          >
            <span>Nuestras</span>
            <span class="fw-bold">TIENDAS</span>
          </div>
        </div>
      </div>
      <!-- End::tiendas (lg+) -->

      <!-- Start::tiendas (sm y md) -->
      <div
        class="col-3 d-none d-sm-block d-lg-none"
        style="cursor: pointer"
        [routerLink]="['/sitio/tiendas']"
      >
        <div class="row">
          <div class="col-12">
            <img
              ngSrc="../../../../../assets/svg/12.svg"
              width="70"
              height="70"
              alt="tiendas"
            />
          </div>
          <div
            class="col-12 d-flex flex-column justify-content-center align-items-start"
            style="color: #094cac"
          >
            <span>Nuestras</span>
            <span class="fw-bold">TIENDAS</span>
          </div>
        </div>
      </div>
      <!-- End::tiendas (sm y md) -->

      <!-- Start::tiendas (xs) -->
      <div
        class="col-12 d-block d-sm-none"
        style="cursor: pointer; margin-left: 0px; margin-bottom: 15px"
        [routerLink]="['/sitio/tiendas']"
      >
        <div class="row">
          <div class="col-4 d-flex justify-content-center">
            <img
              ngSrc="../../../../../assets/svg/12.svg"
              width="70"
              height="70"
              alt="tiendas"
            />
          </div>
          <div
            class="col-8 d-flex flex-column justify-content-center"
            style="color: #094cac"
          >
            <span>Nuestras</span>
            <span class="fw-bold">TIENDAS</span>
          </div>
        </div>
      </div>
      <!-- End::tiendas (xs) -->

      <!-- Start::catálogos (lg+) -->
      <div class="col-3 d-none d-lg-block" style="cursor: pointer">
        <a href="/catalogos/listado-catalogos" target="_blank">
          <div class="row">
            <div class="col-4">
              <img
                ngSrc="../../../../../assets/svg/13.svg"
                width="50"
                height="70"
                alt="catálogos"
              />
            </div>
            <div
              class="col-8 d-flex flex-column justify-content-center align-items-start"
              style="color: #094cac"
            >
              <span>Nuestros</span>
              <span class="fw-bold">CATÁLOGOS</span>
            </div>
          </div>
        </a>
      </div>
      <!-- End::catálogos (lg+) -->

      <!-- Start::catálogos (sm y md) -->
      <div class="col-3 d-none d-sm-block d-lg-none" style="cursor: pointer">
        <a href="/catalogos/listado-catalogos" target="_blank">
          <div class="row">
            <div class="col-12">
              <img
                ngSrc="../../../../../assets/svg/13.svg"
                width="50"
                height="70"
                alt="catálogos"
              />
            </div>
            <div
              class="col-12 d-flex flex-column justify-content-center align-items-start"
              style="color: #094cac"
            >
              <span>Nuestros</span>
              <span class="fw-bold">CATÁLOGOS</span>
            </div>
          </div>
        </a>
      </div>
      <!-- End::catálogos (sm y md) -->

      <!-- Start::catálogos xs -->
      <div
        class="col-12 d-block d-sm-none"
        style="cursor: pointer; margin-left: 0px; margin-bottom: 10px"
      >
        <a href="/catalogos/listado-catalogos" target="_blank">
          <div class="row">
            <div class="col-4 d-flex justify-content-center">
              <img
                ngSrc="../../../../../assets/svg/13.svg"
                width="50"
                height="70"
                alt="catálogos"
              />
            </div>
            <div
              class="col-8 d-flex flex-column justify-content-center"
              style="color: #094cac"
            >
              <span>Nuestros</span>
              <span class="fw-bold">CATÁLOGOS</span>
            </div>
          </div>
        </a>
      </div>
      <!-- End::catálogos xs -->
    </div>
  </div>
</div>

<div
  class="newsletter position-relative"
  [hidden]="HideFooter() ? true : false"
>
  <picture>
    <source
      srcset="../../../../../assets/images/banners/Banner-implementos_01.webp"
      type="image/webp"
    />
    <source
      srcset="../../../../../assets/images/banners/Banner-implementos_01.png"
      type="image/png"
    />
    <img
      src="../../../../../assets/images/banners/Banner-implementos_01.webp"
      class="bg"
      alt="newsletter"
    />
  </picture>

  <div class="container position-absolute">
    <!-- Start::newsletter (+sm) -->
    <div
      class="d-flex flex-column offset-5 col-7 align-items-center d-none d-sm-block"
    >
      <div class="text-center titulo">NEWSLETTER</div>
      <div class="text-center">
        Suscríbete y mantente informado acerca de nuestras ofertas, noticias y
        eventos.
      </div>
      <div class="formulario d-flex w-100 mt-3">
        <input
          class="col"
          name="correo"
          placeholder="Ingresar correo"
          aria-label="correo"
          type="text"
          autocomplete="off"
        />
        <button type="button">Registrarse</button>
      </div>
      <div class="mt-2 align-self-end">
        <input type="checkbox" /> *Aceptar
        <span style="text-decoration: underline">Términos y condiciones</span>
      </div>
    </div>
    <!-- End::newsletter (+sm) -->

    <!-- Start::newsletter (xs) -->
    <div
      class="d-flex flex-column col-sm-12 align-items-center d-block d-sm-none"
    >
      <div class="text-center titulo">NEWSLETTER</div>
      <div class="text-center">
        Suscríbete y mantente informado acerca de nuestras ofertas, noticias y
        eventos.
      </div>
      <div class="formulario_mobile d-flex w-100 mt-3">
        <input
          class="col"
          name="correo"
          placeholder="Ingresar correo"
          aria-label="correo"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="formulario_mobile d-flex w-100 mt-3">
        <button type="button">Registrarse</button>
      </div>
      <div class="mt-2 align-self-end">
        <input type="checkbox" /> *Aceptar
        <span style="text-decoration: underline">Términos y condiciones</span>
      </div>
    </div>
    <!-- End::newsletter (xs) -->
  </div>
</div>

<!-- Start::footer (+lg) -->
<div
  class="site-footer d-none d-lg-block"
  [hidden]="HideFooter() ? true : false"
>
  <div class="container">
    <div class="py-3">
      <div class="row m-0">
        <div class="col-custom ps-0">
          <app-sobre-nosotros></app-sobre-nosotros>
        </div>
        <div class="col-custom px-0">
          <app-holding-epysa></app-holding-epysa>
        </div>
        <div class="col-custom d-none d-lg-block px-0">
          <app-mi-cuenta></app-mi-cuenta>
        </div>
        <div class="col ps-0">
          <app-contactanos></app-contactanos>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 fw-bold" style="font-size: 0.8rem">
        Implementos es la red de repuestos, insumos y accesorios para camiones,
        buses y remolques más grande del país.
      </div>
    </div>
  </div>

  <div style="height: 30px; background-color: #000"></div>
</div>
<!-- End::footer (+lg) -->

<!-- Start::footer xs, sm y md -->
<div
  class="site-footer d-block d-lg-none"
  [hidden]="HideFooter() ? true : false"
>
  <app-fotter-site-mobile>-</app-fotter-site-mobile>
</div>
<!-- End::footer xs, sm y md -->
