.site-footer {
  background-color: #474745;
  color: #fff;
}

.col-custom {
  flex: 0 0 21%;
  max-width: 21%;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.container {
  top: 5%;
  left: calc((100vw / 2) - 640px);
}

.newsletter {
  color: #fff;
}
@media (max-width: 1024px) and (min-width: 500px) {
  img.bg {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .container {
    top: 5%;
    left: calc((120vw / 2) - 640px);
  }

  .newsletter {
    color: #fff;
    height: 220px;
  }
}
@media (max-width: 600px) {
  img.bg {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .container {
    top: 5%;
    left: 0px;
  }

  .newsletter {
    color: #fff;
    height: 260px;
  }
}
.titulo {
  font-weight: bold;
  font-size: 2.5rem;
}

.subtitulo {
  font-weight: bold;
  font-size: 1.2rem;
}

.formulario {
  input {
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
    border: none;
    height: 40px;
    font-size: 1.2rem;
  }

  button {
    border: none;
    background-color: #474745;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 20px;
    margin-left: -25px;
    z-index: 1;
    padding: 0px 25px;
  }
}
.formulario_mobile {
  input {
    background-color: #fff;
    border-radius: 20px;
    border: none;
    height: 40px;
    font-size: 1.2rem;
  }

  button {
    border: none;
    background-color: #474745;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 20px;
    width: 100%;
    z-index: 1;
    height: 40px;
    padding: 0px 25px;
  }
}
a {
  color: #fff;
  text-decoration: underline;
}

.footer_implementos {
  height: 80px;
  background-color: #d1d1d1;
  padding: 50px;
}
