<div class="row" *ngIf="!mensajeExito">
  <div class="col-md-12 d-flex">
    <div class="card m-0 shadow-none">
      <div class="card-body m-0">
        <app-loading-element
          *ngIf="loadingForm"
          [text]="'Registrando la información'"
        ></app-loading-element>

        <h3 class="card-title">Solicitud de nuevo usuario b2b</h3>
        <form [formGroup]="userForm">
          <div class="row">
            <h2 class="form-title col-md-12">Datos Empresa</h2>

            <!-- rut -->
            <div class="col-md-6">
              <div class="mb-3">
                <!-- <label>RUT</label> -->
                <input
                  formControlName="rut"
                  class="form-control"
                  placeholder="RUT*"
                  (focusout)="validateCustomer($event)"
                  formatRut
                  appRutChars
                />

                <p
                  *ngIf="(userForm.controls['rut'].errors?.['invalidRut'] && userForm.controls['rut'].touched)"
                  class="text-error-form-2 pull-right"
                >
                  El RUT ingresado no es válido
                </p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="mb-3">
                <!-- <label>Email</label> -->
                <input
                  formControlName="razonsocial"
                  type="text"
                  class="form-control"
                  placeholder="Razón social*"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="mb-3">
                <ng-select
                  [clearable]="false"
                  [searchable]="true"
                  [items]="businessLines"
                  bindLabel="name"
                  bindValue="code"
                  formControlName="giro"
                  class="form-control-select"
                  placeholder="Giro*"
                >
                </ng-select>
              </div>
            </div>
            <h2 class="form-title col-md-12">Contacto Empresa</h2>
            <div class="col-md-12"></div>
            <!-- nombre -->
            <div class="col-md-6">
              <div class="mb-3">
                <!-- <label>Nombre</label> -->
                <input
                  formControlName="nombre"
                  type="text"
                  class="form-control"
                  placeholder="Nombres*"
                  appLettersChar
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <!-- <label>Apellido</label> -->
                <input
                  formControlName="apellido"
                  type="text"
                  class="form-control"
                  placeholder="Apellidos*"
                  appLettersChar
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button
                      class="btn btn-outline-secondary dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i
                        [ngClass]="
                          tipo_fono === '+569'
                            ? 'fa-solid fa-mobile-screen'
                            : 'fa-solid fa-phone'
                        "
                        style="margin-right: 1px"
                      ></i>
                      {{ tipo_fono }}
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="Select_fono('+569')"
                        ><i
                          class="fa-solid fa-mobile-screen"
                          style="margin-right: 1px"
                        ></i
                        >+569</a
                      >
                      <a class="dropdown-item" (click)="Select_fono('+56')"
                        ><i
                          class="fa-solid fa-phone"
                          style="margin-right: 1px"
                        ></i
                        >+56</a
                      >
                    </div>
                  </div>
                  <input
                    formControlName="telefono"
                    type="text"
                    class="form-control"
                    placeholder="Teléfono*"
                    maxLength="9"
                    appPhoneChar
                  />
                </div>

                <p
                  *ngIf="
                    userForm.controls['telefono'].invalid &&
                    userForm.controls['telefono'].touched
                  "
                  class="text-error-form-2"
                >
                  El Teléfono ingresado no es válido
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <!-- <label>Email</label> -->
                <input
                  formControlName="email"
                  type="email"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$"
                  class="form-control"
                  placeholder="Email*"
                />

                <p
                  *ngIf="
                    userForm.controls['email'].invalid &&
                    userForm.controls['email'].touched
                  "
                  class="text-error-form-2"
                >
                  El Email ingresado no es válido
                </p>
              </div>
            </div>
            <h2 class="form-title col-md-12">Dirección Empresa</h2>
          </div>
          <div class="mb-3">
            <div class="row m-0">
              <div
                class="col-md-9 ps-0"
                [class.ps-0]="innerWidth < 427"
                [class.mb-3]="innerWidth < 427"
              >
                <input
                  formControlName="calle"
                  type="text"
                  class="form-control"
                  placeholder="Dirección* "
                />
              </div>

              <div class="col-md-3 p-0">
                <input
                  formControlName="numero"
                  type="text"
                  class="form-control"
                  placeholder="Número* "
                />
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row m-0">
              <div
                class="col-md-6 ps-0"
                [class.ps-0]="innerWidth < 427"
                [class.mb-3]="innerWidth < 427"
              >
                <input
                  formControlName="departamento"
                  type="text"
                  class="form-control"
                  placeholder="Departamento/Casa"
                />
              </div>

              <div class="col-md-6 ps-0" [class.ps-0]="innerWidth < 427">
                <ng-select
                  [clearable]="false"
                  [searchable]="true"
                  [items]="cities"
                  bindLabel="city"
                  bindValue="id"
                  formControlName="comuna"
                  class="form-control-select"
                  placeholder="Comuna*"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer p-0">
        <button
          name="REGISTRARSE"
          (click)="registerUser()"
          type="button"
          [disabled]="!userForm.valid || loadingForm"
          class="btn btn-lg btn-secondary w-100 text-center"
        >
          ENVIAR SOLICITUD
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt" *ngIf="mensajeExito">
  <div class="col-12 col-xl-10">
    <div style="background-color: white; margin: 10px; padding: 15px">
      <h1 class="about-us__title">
        Solicitud Enviada Correctamente!!
        <i class="far fa-check-circle" style="color: green"></i>
      </h1>
      <div class="about-us__text typography">
        <p>
          Estimado Cliente su solicitud ya fue ingresada en nuestros sistemas,
          dentro de los próximos minutos en ejecutivo tomara contacto con usted
          para finalizar el proceso.
        </p>
        <p>
          <a
            class="link-primary link-primary-lg d-block text-center mt-3"
            [routerLink]="['/inicio']"
          >
            Volver inicio
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
