<div class="container-order-detail w-100 p-3 pt-4">
  <h1 class="text-center mb-3">{{ title }}</h1>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-5 title">{{ config.document.name }} Cliente</div>
        <div class="col-7 subtitle">
          {{ data.shoppingCart.customer?.documentId }}
        </div>
      </div>
      <div class="row">
        <div class="col-5 title">Usuario</div>
        <div class="col-7 subtitle">{{ data.shoppingCart.user }}</div>
      </div>
      <div class="row">
        <div class="col-5 title">Estado</div>
        <div class="col-7 subtitle">
          <span
            class="badge-status"
            [ngClass]="{
              'bg-danger': data.shoppingCart.status == 'rejected',
              'bg-warning': data.shoppingCart.status == 'pending',
              'bg-info': data.shoppingCart.status == 'generated',
              'bg-success': data.shoppingCart.status == 'finalized',
              'bg-secondary': data.shoppingCart.status == 'Desconocido'
            }"
          >
           {{ data.shoppingCart.status ?? '' | translateStatus }}
          </span>
        </div>
      </div>
      <div class="row" *ngIf="data.shoppingCart.purchaseOrder?.number != null">
        <div class="col-5 title">Folio OC</div>
        <div class="col-7 subtitle">
          {{ data.shoppingCart.purchaseOrder?.number }}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-5 title">Fecha Pedido</div>
        <div class="col-7 subtitle">
          {{ data.shoppingCart.updatedAt | date : 'dd-MM-yyyy HH:mm' }}
        </div>
      </div>
      <div class="row">
        <div class="col-5 title">Tipo Entrega</div>
        <div class="col-7 subtitle">{{ deliveryText }}</div>
      </div>
      <div class="row">
        <div class="col-5 title">Fecha Entrega</div>
        <div class="col-7 subtitle">
          {{ data.shoppingCart.shipment?.requestedDate | date : 'dd-MM-yyyy' }}
        </div>
      </div>
      <div class="row" *ngIf="data.shoppingCart.purchaseOrder?.number != null">
        <div class="col-5 title">Monto OC</div>
        <div class="col-7 subtitle">
          {{ data.shoppingCart.purchaseOrder?.amount | currencyFormat }}
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="data.shoppingCart.observation != null">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <div class="col-5 title">Observación:</div>
        <div class="col-7 subtitle">{{ data.shoppingCart.observation }}</div>
      </div>
    </div>
  </div>

  <div class="clearfix mt-5"></div>

  <div class="table-responsive d-none d-sm-block">
    <table class="table">
      <thead>
        <tr>
          <th class="text-start">Imagen</th>
          <th class="text-start">Producto</th>
          <th class="text-start">Precio</th>
          <th class="text-start">Unidad</th>
          <th class="text-end">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.shoppingCart.products">
          <th class="text-start">
            <a [routerLink]="root.product(item.sku, item.name)">
              <img
                class="img-fluid img-product lazyload"
                [src]="root.getUrlImagenMiniatura(item)"
                [alt]="item.name"
              />
            </a>
          </th>
          <th class="text-start">
            <span class="d-blok">{{ item.name }}</span>
            <span class="d-block">{{ item.sku }}</span>
          </th>
          <th class="text-start">{{ item.price | currencyFormat }}</th>
          <th class="text-start">{{ item.quantity }}</th>
          <th class="text-end">
            {{ item.quantity * item.price | currencyFormat }}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Vista card de productos en mobile -->
  <div class="d-sm-none d-block">
    <ng-container
      *ngFor="let item of data.shoppingCart.products; let i = index"
    >
      <div class="card mb-2 bg-transparent">
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <img
                class="img-fluid img-product lazyload"
                [src]="root.getUrlImagenMiniatura(item)"
                [alt]="item.name"
              />
            </div>
            <div class="col-8">
              <div>
                <span style="font-weight: bold">Sku: </span>{{ item.sku }}
              </div>
              <div>
                <span style="font-weight: bold">Producto: </span
                >{{ item.name | titlecase }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <span style="font-weight: bold">Precio: </span>{{ item.price }}
            </div>
            <div class="col-4">
              <span style="font-weight: bold">Unidad: </span
              >{{ item.quantity }}
            </div>
            <div class="col-4">
              <span style="font-weight: bold">Total: </span>
              {{ item.quantity * item.price | currencyFormat }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
