.container-order-detail {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.title {
  color: #8d9296;
  padding-right: 5px;
}

.title,
.subtitle {
  font-weight: bold;
}

.subtitle {
  padding-left: 5px;
  padding-right: 5px;
}

.img-product {
  max-height: 70px;
}

.card {
  border-radius: 20px;
  background: #fff !important;
  width: 100%;
  border: solid 1px;
  padding: 20px;
}

.card-header {
  border-bottom: solid 1px;
}
.badge-status {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
