<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  (scrolled)="onPageChange(currentPage)"
>
  <app-scroll-top [fast]="true"> </app-scroll-top>
  <div class="products-view" (window:resize)="onResize($event)">
    <div
      class="col-12 col-lg-12 mt-3"
      *ngIf="totalRegistros === 0 && !cargandoCatalogo"
    >
      <div class="alert alert-info text-center">
        No se encontraron productos.
      </div>
    </div>
    <ng-container *ngIf="innerWidth >= 1025">
      <div class="row w-100">
        <div
          *ngIf="totalRegistros > 0"
          class="col-12 order-3 order-lg-2 text-justify"
          [class.ms-xl-2]="innerWidth >= 1550"
          style="padding-left: 0px; font-size: 18px"
        >
          (<strong>{{ totalRegistros }}</strong
          >) Resultados en:
          <ng-container *ngIf="!url.includes('_MARCA')">
            <span>{{ decodedUrl(textToSearch) }}</span>
          </ng-container>
          <ng-container *ngIf="breadcrumbs.length > 0">
            <strong> {{ breadcrumbs[0].label || '' | titlecase }} </strong>
          </ng-container>
          <ng-container *ngIf="url.includes('_MARCA')">
            <strong> {{ url.split('=')[1].split('&')[0] | titlecase }}</strong>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="d-flex mb-3 menu-opciones-producto" *ngIf="showProductOptions">
      <div
        class="d-flex flew-wrap w-100 align-items-center"
        *ngIf="totalRegistros > 0"
      >
        <div
          *ngIf="!cargandoCatalogo"
          class="col-4 col-lg w-auto d-flex justify-content-start"
          style="margin-right: 5px"
        >
          <div class="d-block d-lg-none">
            <button
              title="Filtros"
              type="button"
              class="layout-switcher__button w-auto"
              (click)="setVisibleFilter(true)"
            >
              <i class="fas fa-filter me-1"></i>
              Filtros
            </button>
          </div>
        </div>
        <div
          *ngIf="!cargandoCatalogo"
          [class.col-11]="innerWidth > 991"
          [class.col-8]="innerWidth <= 991"
          class="me-2 d-flex justify-content-end"
        >
          <label for="view-options-sort">
            <i
              class="fa-solid fa-bars-sort"
              style="color: #005db9; margin-right: 5px"
            ></i>
          </label>
          <div>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="tipo_orden"
              (change)="ChangeOrdenar()"
              name=""
              id="view-options-sort"
            >
              <option [ngValue]="null">Seleccione Orden</option>
              <option value="precio|desc">Mayor precio</option>
              <option value="precio|asc">Menor Precio</option>
              <option value="nombre|asc">Nombre</option>
              <option value="marca|asc">Marca</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div
      class="products-view__list products-list m-0"
      [attr.data-layout]="layout != 'list' ? grid : layout"
      [attr.data-with-features]="
        layout == 'grid-with-features' ? 'true' : 'false'
      "
    >
      <div class="products-list__body w-100">
        <app-loading-element
          *ngIf="cargandoCatalogo"
          text="Cargando productos"
        ></app-loading-element>

        <div
          *ngFor="let product of products"
          class="products-list__item mb-1 me-1"
        >
          <app-product-card-b2c-cms
            [paramsCategory]="paramsCategory"
            [origen]="origen"
            [product]="product"
          >
          </app-product-card-b2c-cms>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="cargandoProductos"
    class="row flex-column justify-content-center align-content-center mt-4"
  >
    <div class="text-center">
      <i class="fas fa-spinner fa-2x fa-spin fa-fw"></i>
    </div>
    <div class="mt-1">Cargando</div>
  </div>
</div>
