<div
  class="row"
  *ngFor="let item of productos"
  style="margin-bottom: 10px; border-bottom: 1px solid #0063b9; padding: 10px"
>
  <div class="col-sm-12 ms-3">
    <div class="row" style="margin-bottom: 10px">
      <div class="col-6" style="font-size: 12px">
        <p style="margin-bottom: 2px !important">
          {{ item.ProductCart.brand | uppercase }}
        </p>
        <p style="margin-bottom: 2px !important">
          <strong>{{ item.ProductCart.name | uppercase }}</strong>
        </p>
        <p class="text-disabled" style="margin-bottom: 0px !important">
          {{ item.ProductCart.sku | uppercase }}
        </p>
        <p style="margin-bottom: 5px !important">
          <i
            [ngClass]="
              item.ProductCart.delivery?.homeDelivery
                ? 'fas fa-truck text-success me-1'
                : 'fas fa-truck text-disabled me-1'
            "
            style="font-size: 20px"
          ></i>
          <i
            [ngClass]="
              item.ProductCart.delivery?.pickup
                ? 'fas fa-store text-success me-1'
                : 'fas fa-store text-disabled me-1'
            "
            style="font-size: 20px"
          ></i>
        </p>
      </div>
      <div
        class="col-6 d-flex justify-content-center align-items-center"
        style="color: #0063b9; font-weight: bold; font-size: 16px"
      >
        <p>{{ item.ProductCart.price | currencyFormat }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="font-size: 12px">
        <a
          [routerLink]="
            root.product(item.ProductCart.sku, item.ProductCart.name)
          "
        >
          <img
            class="cart-img lazyload"
            [src]="root.getUrlImagenMiniatura(item.ProductCart)"
            [alt]="item.ProductCart.name"
          />
        </a>
      </div>
      <div class="col-6" style="font-size: 12px">
        <app-input-number
          [formControl]="item.quantityControl"
          (quantity)="updateCart($event, item)"
          [min]="1"
        ></app-input-number>
        <br />

        <p
          style="
            margin-bottom: 0px !important;
            color: #0d61bb;
            text-align: center;
          "
          (click)="remove(item.ProductCart)"
        >
          <i
            class="fas fa-trash-alt"
            style="color: #0d61bb; margin-left: 10px"
          ></i>
          Eliminar
        </p>
      </div>
    </div>
  </div>
</div>
