.btn-link:focus {
    color: #007bff !important;
}

.accordion-header {
    border-radius: 4px;
    background-color: #eee;

    div:first-child {
        font-size: 15px;
        height: 35px;
        font-weight: 500;
    }
}

.product-title {
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.cantidad {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.precio {
    font-size: 15px;
    color: black;
}

.cart-img {
    width: 4rem;
}

.product-sku {
    font-size: 0.875rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
}

.cart-price-value {
    font-size: 15px;
    font-weight: 900;
    color: #000000;
}

@media (max-width: 576px) {
    .btn {
        padding: 0.375rem 0.75rem !important;
    }

    .accordion-header {
        div:first-child {
            font-size: 14px;
        }
    }

    .product-title {
        font-size: 13px !important;
        line-height: 15px !important;
    }

    .product-sku {
        font-size: 13px !important;
    }

    .item {
        font-size: 12px;
        margin-right: 4px;
    }

    .cart-img {
        width: 4.5rem !important;
    }

    .cart-price-value {
        font-size: 15px;
    }

}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .product-title {
        font-size: 13px !important;
        line-height: 15px !important;
    }

    .product-sku {
        font-size: 13px !important;
    }

    .item {
        font-size: 12px;
        margin-right: 4px;
    }

    .cart-img {
        width: 4rem;
    }

    .cantidad {
        font-size: 14px;
    }

    .precio {
        font-size: 14px;
    }

    .cart-price-value {
        font-size: 14px;
    }
}
