<div
  class="top-bar-categories d-flex align-items-center mb-3"
  [class.p-0]="innerWidth < 450"
  [class.ps-3]="innerWidth < 450"
  [class.ps-3]="innerWidth < 450"
  (window:resize)="onResize($event)"
>
  <div class="title d-flex align-items-center me-auto">
    <i _ngcontent-serverapp-c11="" class="fas fa-truck-moving me-3"></i>
    <h5>Carros Guardados</h5>
  </div>
  <div
    class="float-end"
    *ngIf="lstCart && lstCart.length > 0 && totalPaginas > 1"
  >
    <button
      class="btn btm-sm btn-link me-1"
      (click)="izquierda()"
      [disabled]="paginaActual == 1"
    >
      <i class="fas fa-chevron-left"></i>
    </button>
    {{ paginaActual }} / {{ totalPaginas }}
    <button
      class="btn btm-sm btn-link ms-1"
      (click)="derecha()"
      [disabled]="paginaActual == totalPaginas"
    >
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>

<div class="dashboard row m-0">
  <div class="col-lg-12 mb-3">
    <div class="card pt-3">
      <div
        class="card-body card-body-min-height-loading"
        [ngStyle]="{
          'min-height': lstCart && lstCart.length == 0 ? '40px' : '130px'
        }"
      >
        <ng-container>
          <app-loading-element
            class="pt-3"
            [text]="'Cargando carros de compras guardados'"
            *ngIf="showLoading"
          ></app-loading-element>
          <div class="row mt-3" *ngIf="lstCart && lstCart.length == 0">
            <div class="col-12 text-center">
              No tiene carros de compras guardados.
            </div>
          </div>
          <div class="row mb-3 fw-bold" *ngIf="lstCart && lstCart.length > 0">
            <div class="col-md-2 d-none d-md-block">
              <span class="ms-3">Cantidad </span>
            </div>
            <div class="col-md-3 d-none d-md-block">
              <span> Fecha Creación </span>
            </div>
            <div class="col-md-3 d-none d-md-block">
              <span> Total Carro </span>
            </div>
            <div class="col-md-2 d-none d-md-block">
              <span> Opciones </span>
            </div>
            <div class="col-md-2 d-none d-md-block text-end">
              <span class="me-3"> Ver Detalle </span>
            </div>
          </div>
          <div class="accordion" id="DetalleCarro">
            <div *ngFor="let cart of lstCart" class="mb-2">
              <div class="border accordion-header">
                <div class="mb-0 d-flex align-items-center">
                  <div
                    class="col-md-2 col-sm-3 d-none d-sm-flex align-items-center"
                  >
                    <i class="fas fa fa-shopping-cart me-1"></i
                    >{{ cart.products.length
                    }}<span class="d-none d-xl-inline ms-1">artículo(s)</span>
                  </div>
                  <div class="col-md-3 d-none d-md-block">
                    {{ cart.createdAt | date : 'dd-MM-yyyy' }}
                  </div>
                  <div class="col-md-3 col-sm-4 col-5 text-nowrap fw-bolder">
                    {{ getTotalCart(cart.products) | currencyFormat }}
                  </div>
                  <div class="col-md-3 col-sm-4 d-none d-xl-block">
                    <button
                      class="btn btn-sm btn-secondary me-2"
                      style="font-size: 12px"
                      (click)="updateCart(cart.id, SHOPPING_CART_STATUS_TYPE.OPEN)"
                    >
                      Activar
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      style="font-size: 12px"
                      (click)="updateCart(cart.id, SHOPPING_CART_STATUS_TYPE.DELETED)"
                    >
                      Eliminar
                    </button>
                  </div>
                  <div
                    class="col-md-3 col-sm-4 col-5 d-xl-none d-block text-nowrap"
                  >
                    <button
                      class="btn btn-secondary btn-sm me-sm-2 me-1"
                      style="font-size: 12px"
                      title="Activar Carro"
                      (click)="updateCart(cart.id,SHOPPING_CART_STATUS_TYPE.OPEN)"
                    >
                      <i class="far fa-check-circle"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      style="font-size: 12px"
                      title="Borrar Carro"
                      (click)="updateCart(cart.id, SHOPPING_CART_STATUS_TYPE.DELETED)"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                  <div class="col-md-1 col-sm-1 col-2 text-end">
                    <span
                      class="fas fa-search me-1"
                      style="cursor: pointer"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#ID' + cart.id"
                      aria-expanded="false"
                      [attr.aria-controls]="'ID' + cart.id"
                    ></span>
                  </div>
                </div>
              </div>

              <div
                [id]="'ID' + cart.id"
                class="collapse"
                data-parent="#DetalleCarro"
              >
                <div
                  class="border-start border-end border-bottom d-flex flex-wrap justify-content-center flex-column"
                >
                  <div
                    class="d-sm-flex d-block align-items-center flex-grow-1 flex-shrink-1 border-bottom"
                    *ngFor="let item of cart.products"
                  >
                    <div class="col-12 d-block d-sm-none text-center">
                      <span class="product-title">
                        {{ item.name | titlecase }} <b>X</b>
                        {{ item.quantity }}
                      </span>
                    </div>
                    <div
                      class="col-xs-12 col-sm-2 text-center align-items-center"
                    >
                      <a [routerLink]="root.product(item.sku, item.name)">
                        <img
                          class="cart-img lazyload"
                          [src]="root.getUrlImagenMiniatura(item)"
                          [alt]="item.name"
                        />
                      </a>
                    </div>
                    <div
                      class="col-8 col-sm-5 col-xl-6 d-flex align-items-center"
                    >
                      <span class="product-title d-none d-sm-block">
                        {{ item.name | titlecase }}
                      </span>
                      <span
                        class="product-sku text-gray-2 ms-2 d-none d-xl-block"
                      >
                        {{ item.sku }}
                      </span>
                      <span
                        class="product-sku text-gray-2 ms-2 d-none d-xl-block"
                      >
                        {{ item.brand }}
                      </span>
                      <div class="clearfix"></div>
                    </div>
                    <div
                      class="col-3 col-sm-2 d-flex align-items-center text-nowrap"
                    >
                      <span class="precio d-none d-md-block me-1">{{
                        item.price | currencyFormat
                      }}</span
                      ><span class="cantidad d-none d-sm-block">
                        x {{ item.quantity }}
                      </span>
                    </div>
                    <div
                      class="col-12 col-sm-3 col-xl-2 text-end text-nowrap"
                      [ngClass]="
                        MobileView() ? '' : 'd-flex align-items-center'
                      "
                    >
                      <span class="cart-subtitle d-none d-md-block"
                        >Sub Total</span
                      >
                      <span class="cart-price-value ms-2">{{
                        item.price * item.quantity | currencyFormat
                      }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
