<div class="row bg-gris p-5">
    <div class="col-md-5">
        <h3 class="">Sobre nosotros</h3>
        <hr class="hr">

        <p class="text-justify">
            Somos colaboradores de Implementos S.A. Nos
            apasiona todo lo que tiene que ver con el rubro
            del transporte de carga: Camiones, buses,
            remolques y más...
        </p>
        <p class="text-justify">
            Buscamos las mejores noticias, artículos y datos
            de interés para la comunidad del transporte</p>
    </div>
    <div class="col-md-6 col-lg-2  text-center">
        <h3>Siguenos en:</h3>
        <ul class="footer-newsletter__social-links  mx-auto justify-content-center">
            <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook"><a href="https://www.facebook.com/IMPLEMENTOSREPUESTOS/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <!-- <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter"><a [href]="theme.author.profile_url" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="footer-newsletter__social-link footer-newsletter__social-link--youtube"><a [href]="theme.author.profile_url" target="_blank"><i class="fab fa-youtube"></i></a></li> -->
            <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram"><a href="https://www.instagram.com/implementosrepuestos/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <!-- <li class="footer-newsletter__social-link footer-newsletter__social-link--rss"><a [href]="theme.author.profile_url" target="_blank"><i class="fas fa-rss"></i></a></li> -->
        </ul>


    </div>
    <div class="col-md-5 bl align-middle">

        <a href="www.implementos.cl" class="color-white py-auto ">
            <h1 class="text-light py-5">www.implementos.cl</h1>
        </a>
    </div>
</div>
