<div class="site-footer bg-black" [hidden]="HideFooter() ? true : false">
  <div class="container">
    <div class="site-footer__widgets">
      <div class="row m-0">
        <div class="col-12 col-md-6 col-lg-3">
          <app-footer-contacts></app-footer-contacts>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <app-footer-links
            header="Información"
            [links]="linksPaginas"
          ></app-footer-links>
        </div>
        <div class="col-12 col-md-6 col-lg-2 d-none d-lg-block">
          <app-footer-links
            header="Holding EPYSA CHILE"
            [links]="linkEpysa"
          ></app-footer-links>
        </div>
        <div class="col-12 col-md-6 col-lg-2 d-none d-lg-block">
          <app-footer-links
            header="Mi Cuenta"
            [links]="linkMiCuenta"
          ></app-footer-links>
        </div>
        <div class="col-12 col-md-12 col-lg-3 d-lg-block">
          <app-footer-newsletter
            class="site-footer__widget"
          ></app-footer-newsletter>
        </div>
      </div>
    </div>
  </div>

  <div class="site-footer__bottom">
    <div class="site-footer__copyright me-md-2">Implementos {{ anio }}</div>
    <div class="site-footer__payments">
      <picture>
        <source srcset="assets/images/webpay.webp" type="image/webp" />
        <source srcset="assets/images/webpay.png" type="image/png" />
        <img src="assets/images/webpay.png" alt="webpay" class="lazyload" />
      </picture>
    </div>
  </div>
</div>
